[2019-02-06 10:44] AirQuick commented on #500
I don't know exactly why.
But I sometimes use XPath 3.x expression in .xspec file while the tested .xsl is still 2.0. Perhaps that's one of the reasons.

[2019-02-06 10:55] AirQuick commented on #500
And yes, Saxon 9.7 is picky about the version when .xspec contains XPath 3.x:
[code]
So you can't simply take the version from the tested stylesheet.

[2019-02-06 10:58] Nico-Amplexor commented on #500
OK thanks.

[2019-02-07 09:55] AirQuick commented on #506
@cirulls
Do you have ETA?
Since we don't employ any branching model, `master` is stopped until we make a go/no-go decision.

[2019-02-08 08:28] cirulls commented on #506
Sorry for the delay, I was away for a week and I'm catching up. I will work on this during the weekend and make the release on Sunday, I hope it's fine.

[2019-02-08 13:40] AirQuick commented on #506
Glad you come back! Sunday is fine. These two weeks may be considered as a good code-freeze period.

[2019-02-09 17:13] cirulls opened #515 "Enforce formatting rules via Travis and AppVeyor"
Following discussion in #318, @AirQuick sketched this plan to implement formatting rules for the XSpec repository:

1. establish our formatting rule based on oXygen's automatic formatting [options](https://www.oxygenxml.com/doc/versions/20.1/ug-editor/topics/format-and-indent-xml-x-modes2.html#format-and-indent-xml__how_formats_and_indents_xml) (just because oXygen appears to be the most popular)

[2019-02-09 18:33] cirulls commented on #506
@AirQuick : I updated the draft release notes for v1.2.0. Please have a look and, if necessary, make changes. I plan to push the publish release button on Sunday if everything is fine with you.

After the release, I usually do the following to promote it:

- post a message on the [XSpec mailing list](https://groups.google.com/forum/#!forum/xspec-users)
- promote the new release on [xml.com](https:

[2019-02-10 00:51] AirQuick commented on #506
The draft looks good to me. Thanks for the streamlined and neat work.

[2019-02-10 14:47] cirulls commented on #506
Thanks for checking the text, I just released v1.2.0. And thanks for your sterling work!

[2019-02-10 15:55] cirulls commented on #506
I posted a message on the [XSpec mailing list](https://groups.google.com/forum/#!topic/xspec-users/nNAXlzTXPmg) and sent a news item to xml.com, hopefully it will be published soon. I tried to subscribe to the xml-dev mailing list to post a message but I haven't received a confirmation yet, I'll wait a day. If it doesn't work, can I ask @yamahito to post a message on the xml-dev mailing list?

@ya

[2019-02-11 08:17] cmarchand commented on #506
I can not see the maven artifact published on maven central.
Did you `mvn -Prelease deploy`?

If not, I can do it for you, but it has to be included in publication proceedings.

Twit posted.

[2019-02-11 10:33] nkutsche commented on #397
Hi all,

great to see, that you want to support SQF in XSpec. After supporting Schematron this is the next logical step.

as far as I know, there are only two implementations for Schematron QuickFix yet:

- [Build-in implementation of the Oxygen XML Editor](https://www.oxygenxml.com/doc/versions/20.1/ug-editor/topics/customizing-sqf.html)
- [Escali Schematron Compiler](https://github.com/schematro

[2019-02-11 11:19] nkutsche opened #516 "XProcSpec"
Hi folks,

I found this [XProcSpec](http://daisy.github.io/xprocspec/) by chance (it is really good hidden) and I'm wondering why this is not included or at least mentioned here? Did I missed something?

In fact I have lots of use cases where I need a XProc testing framework and I did it always manually.

[2019-02-11 12:41] AirQuick commented on #516
Maybe, somewhere in Wiki (possibly in [Running with XProc](https://github.com/xspec/xspec/wiki/Running-with-XProc)?), we could add a section titled "Looking for a framework for testing XProc scripts?" and introduce xprocspec there.

Or, are you looking for integrating xprocspec's grammar into XSpec?

[2019-02-11 14:54] nkutsche commented on #516
I would appreciate that, but I didn't had a deeper look inside into XProcSpec, so I don't know how much effort it would cause.

So the easiest way would be to link it in the Wiki. Maybe as "Related projects"? Actually I wouldn't expect it in [Running with XProc](https://github.com/xspec/xspec/wiki/Running-with-XProc), as this is about a way to implement XSpec.

[2019-02-12 02:37] AirQuick commented on #506
@cirulls Looks like we need to update our [fresh doc](https://github.com/xspec/xspec/wiki/Release-Workflow) :smiley:

[2019-02-12 08:34] cirulls commented on #506
@cmarchand: no, I didn't push it to Maven central. I'll follow your instructions on the wiki and will try to do it tonight (GMT), that would be a good way to test the documentation. If I'm stuck I may ask for your help.

And of course, I'll add the procedure to the release workflow.

[2019-02-12 08:44] cirulls commented on #397
@nkutsche: thanks for providing additional information on how to support Schematron Quick Fix in XSpec. At the moment I don't think we have anyone working on this new feature and it would be great if someone could pick it up. Would you be willing to provide help on how to implement it considering you are the expert on Schematron Quick Fix?

[2019-02-12 08:54] cirulls commented on #516
XProcSpec is a useful tool (I used few years ago to test XProc pipelines) and is well [documented](https://daisy.github.io/xprocspec/www/documentation/index.html). We can definitely add a link. Following @nkutsche 's suggestions, we can create a Related Projects page on the wiki and add it there (that would be a good place for the [oXygen XSpec plugin](https://github.com/xspec/oXygen-XML-editor-xs

[2019-02-12 09:27] AirQuick commented on #516
*Related Projects* page is fine.

https://github.com/dmj/xproc-xspec might also be worth mentioning somewhere. Unlike XSpec's built-in XProc harness, it seems Schematron capable. I haven't used it myself, though.

[2019-02-12 09:33] nkutsche commented on #397
Yes, sure! I can help in

- questions, what is neccessary to test QuickFixes
- questions about embedding the Escali. There is [some documentation](http://www.schematron-quickfix.com/escali/techdoc.html), but not sure if this helps.
- adding features into the Escali if neccessary.

[2019-02-12 09:34] yamahito commented on #397
Is the Escali implementation XSLT based, Nico?

[2019-02-12 09:36] josteinaj commented on #516
@cirulls reference to xspec hereby updated.

[2019-02-12 09:47] nkutsche commented on #397
Yes and no. I have two modes:

- *XSLT-only mode*: This works with only XSLT transformations
- *XML-safe mode*: This has at last step a Java process, to preserve all untouched entities, default attributes, document prolog, etc.

More background infos about the concept you can find [here](http://www.schematron-quickfix.com/concept.html).

[2019-02-13 08:48] cirulls commented on #506
@cmarchand: I started following your instructions on the wiki and created a JIRA issue on Sonatype: https://issues.sonatype.org/browse/OSSRH-46240  I could log in using the credentials you once gave me for user xspec-io. In the issue I used the Group Id `top.marchand`, I'm not sure if you want me to use that one (I do have a domain name myself which I control and at some point it will be good to u

[2019-02-13 08:53] cirulls commented on #516
@josteinaj: thanks for updating the links.

I'll create a page Related Projects on the wiki and add links for xprocspec and xproc-xspec. If there are other XSpec related projects, feel free to mention them in this issue and I'll update the wiki page.

[2019-02-13 08:55] cirulls commented on #397
@nkutsche: thanks for your availability. If anyone wants to work with Nico on supporting Schematron Quick Fix, feel free to contact him.

[2019-02-13 09:03] cirulls commented on #506
@AirQuick : I added a step to deploy to Maven Central in the release workflow: https://github.com/xspec/xspec/wiki/Release-Workflow/_compare/3bb6e8a8e610e391772f3ac495209fed1983bad0...e661d8d0c04c1e6e2dccefc5b66f97d22a8074aa

[2019-02-13 12:57] cmarchand commented on #506
The sonatype part has already be done. As I own top.marchand, you won't have a positive answer.
io.xspec has been registered for XSpec, I credentials you have should allow you to publish to sonatype.

So, you need the GPG part (publish your certifiacte/key), to configure your `~/.m2/settings.xml`, and to type the command `mvn -Prelease deploy`

That should be enough.

[2019-02-14 08:01] cmarchand commented on #500
@AirQuick : could you have a look at this clone : https://github.com/Nico-Amplexor/xspec/tree/issue/500
@Nico-Amplexor is actually on holidays, but I think he has done quite a good job...

[2019-02-14 08:43] AirQuick commented on #500
Quick random thoughts:
* Success/Failure is determined only using some predefind rules? Isn't it more robust if we just expose a variable (e.g `$x:err`) which encapsulates all the error information? Then the user can test whatever she/he likes by using it like `<x:expect test="$x:err?code eq 100 and ends-with($x:err?module, '/foo.xsl')" />`?
* Can you provide some basic tests (putting some Success

[2019-02-14 08:44] cirulls commented on #506
@cmarchand: thanks for letting me know. I'll give it another go tonight and will keep you posted. It's good that I do it to get familiar with the procedure so that at least two people know to publish the maven central.

[2019-02-16 08:40] cmarchand opened #517 "document-node(...) typed parameters"
Hello,

We use XSLT we parameters typed as document-node() :
[code]
In the same XLST, we have functions that use this as a typed parameter :
[code]

If we want to unit-test this XSLT, we *must* define such a parameter. In xspec, that's done like this :
[code]
XSpec compiler translates this as
[code]
So it defines an un-typed parameter `BO.CONF`, which - according to [XSLT 2 specification](https://

[2019-02-16 12:02] AirQuick commented on #517
When you have
[code]

XSpec first wraps `<bar>` in a wrapper document node (`$foo-doc`) and then evaluate `@select` in the context of `$foo-doc`.
If you don't have `@select`, `child::node()` is assumed.
So in the above `x:param`, `$foo` is `$foo-doc/child::node()`, hence `<bar>` (i.e. `element(bar)`).

If you want to select the wrapper document node itself, you can specify it so in `@select`:

[co

[2019-02-16 14:09] AirQuick commented on #517
I've seen this kind of questions for several times. So I [updated](https://github.com/xspec/xspec/wiki/Writing-Scenarios/_compare/9ad60b1232192ec6084bf5cc3fb03470f7b12e48...a9a1a51e9a698c80356708a648a5c6a169a5bcd3) Wiki to describe the behavior in a little more detail.
Although this behavior isn't applicable only to function calls, I updated the [*Function Scenarios* section](https://github.com/xs

[2019-02-16 14:31] #226 closed

[2019-02-17 09:08] #211 closed

[2019-02-20 19:50] AirQuick opened #522 "Fail more gracefully when .xsl is given instead of .xspec"
https://groups.google.com/d/msg/xspec-users/iW6x1ug2ct4/JFLhHPSZBQAJ
I too sometimes make the same mistake. When it happens, the error message looks puzzling.
The compiler should leave more helpful message if the input document is not an XSpec document.

[2019-02-23 16:11] #214 closed

[2019-02-24 12:42] #204 closed

[2019-02-25 10:15] #208 closed

[2019-02-26 02:39] AirQuick commented on #177
Reopening for XQuery

[2019-02-27 13:55] AirQuick opened #526 "Document xspec.result.html and xspec.coverage.html Ant properties"
`xspec.result.html` and `xspec.coverage.html` Ant properties should be documented in [Wiki](https://github.com/xspec/xspec/wiki/Running-with-Ant).
They are useful particularly when `clean.output.dir` is true. (oXygen's default)

[2019-02-27 14:11] AirQuick commented on #526
[Done](https://github.com/xspec/xspec/wiki/Running-with-Ant/_compare/72e9c7abae547e8f3744b9caabcf5890210632f0...5b3aa6ab5f872cb4902702438a9eaf75929e25dc) in Wiki.

[2019-02-28 17:30] AirQuick opened #528 "Failure report is not available in HTML when focusing on a child scenario"
[code]
(Note `@focus` in the Scenario 1-2.)

When you run this scenario, the focused Scenario 1-2 fails as expected.
In the report HTML, however, the entire Scenario 1 is collapsed. You can't see the failure report of its child Scenario 1-2.

Same on XSpec v0.3.

[2019-03-03 09:55] AirQuick commented on #132
To get [the second case](https://github.com/xspec/xspec/issues/132#issuecomment-300433409) work, you need to compose XSpec like this:
[code]

* To make `is` work, you need to use a single source (`$doc` in this example)
* You can't rely on the initial context node in XSpec. (This will be partially corrected by #436 and #437.) That's why this example puts `<x:param name="sodium">` into XSpec to ove

[2019-03-03 10:00] AirQuick commented on #114
[`Using Ant to run multiple XSpec tests`](https://github.com/xspec/xspec/wiki/Running-with-Ant#using-ant-to-run-multiple-xspec-tests) in Wiki might help.

[2019-03-04 18:24] galtm commented on #447
@AirQuick: I see that you logged several issues related to curly brackets. I found an issue where the compiled test is invalid if `//x:context/x:param/@select` uses syntax like `select="map{'key': 'myvalue'}"`. Should I log a new issue, or does what I described sound redundant with what's already fixed in #463?

[2019-03-04 23:13] #346 closed

[2019-03-05 01:03] AirQuick commented on #447
@galtm
Can you log a new issue?
I didn't know the problem you found. If it's already fixed, it's just an incidental result of a certain fix.

[2019-03-05 12:34] galtm opened #538 "Compiled test is invalid if select attribute of x:context/x:param uses syntax like map{'key': 'myvalue'}"
If a scenario uses syntax like
[code]
then the compiled test is invalid. See sample code, below. The log includes these error messages:

[code]

From a quick look, I think the bug may be related to the `<xsl:template match="x:context | x:param" mode="x:report">` template in `compiler/generate-xspec-tests.xsl`. I suspect that the `<xsl:template match="@select" mode="x:report">` template does not ge

[2019-03-05 12:36] galtm commented on #447
@AirQuick
Here is the new issue: https://github.com/xspec/xspec/issues/538

[2019-03-05 16:39] AirQuick commented on #538
Thanks, @galtm
I added a slightly modified set of files (bff83d33ac4e7013b8e510a19bc7f4e83f783da3) to #444. The problem was reproduced: [Travis](https://travis-ci.org/AirQuick/xspec/jobs/502077189#L1449-L1458)
Then I removed the test files from #444 and added them to #454. The problem was not reproduced: [Travis](https://travis-ci.org/AirQuick/xspec/jobs/502103308#L1453-L1454)

So the bug was fixe

[2019-03-05 17:57] galtm commented on #538
Perfect. Glad to hear a fix is already on the way. Thanks, @AirQuick.

[2019-03-07 00:04] AirQuick commented on #67
Reopening for XQuery

[2019-03-07 05:09] AirQuick commented on #167
Catalog support is in [v1.1.0](https://github.com/xspec/xspec/releases/tag/v1.1.0)+

[2019-03-07 05:09] #167 closed

[2019-03-07 06:10] AirQuick commented on #87
Closing this.

To sum up,
* Three dot features is documented in [Wiki](https://github.com/xspec/xspec/wiki/Writing-Scenarios#expectations)
* Three dot feature is in automated tests: [Test](https://github.com/xspec/xspec/blob/master/test/end-to-end/cases/xspec-three-dots.xspec), [Result](http://htmlpreview.github.io/?https://github.com/xspec/xspec/blob/master/test/end-to-end/cases/expected/styleshe

[2019-03-07 06:10] #87 closed

[2019-03-07 06:21] AirQuick commented on #234
#437 fixes the behavior.

Wiki still needs to be updated:

[2019-03-07 16:40] #362 closed

[2019-03-09 00:03] #356 closed

[2019-03-13 07:23] AirQuick opened #542 "Fails to resolve URI on Windows when imported via catalog"
**catalog.xml**
[code]

**test.xspec**
[code]

**tested.xsl**
[code]

**imported.xspec**
[code]

**test.xml**
[code]

On Windows 10 + Saxon 9.9.1.2 + Apache Resolver 1.2:

[code]

[2019-03-13 07:24] AirQuick commented on #542
Looks like a bug in Apache Resolver. Need to have a workaround.

[2019-03-14 00:40] #359 closed

[2019-03-14 00:40] #367 closed

[2019-03-15 05:52] AirQuick opened #547 "Schematron ignores x:context/attribute(select)"
**test.sch**
[code]

**test.xspec**
[code]

`x:context/@select` is ignored:

[code]

Same on v1.0.0.

[2019-03-15 06:07] AirQuick opened #548 "Schematron ignores AVT"
**test.sch**
[code]

**test.xspec**
[code]

Attribute value template is ignored:

[code]

Same on v1.0.0.

[2019-03-16 23:43] #361 closed

[2019-03-16 23:47] AirQuick commented on #355
Reopening for XQuery

[2019-03-16 23:47] AirQuick commented on #357
Reopening for XQuery

[2019-03-16 23:47] AirQuick commented on #358
Reopening for XQuery

[2019-03-16 23:47] AirQuick commented on #360
Reopening for XQuery

[2019-03-17 09:55] AirQuick commented on #422
Closing.

@Anil-XSpec
If the problem happens on [v1.2.0](https://github.com/xspec/xspec/releases/tag/v1.2.0) or later, please let us know.

[2019-03-17 09:55] #422 closed

[2019-03-17 10:01] AirQuick commented on #517
Closing this issue, assuming that the update Wiki matches the problem.

@cmarchand
If the updated Wiki isn't clear enough to resolve the problem, please let us know.

[2019-03-17 10:01] #517 closed

[2019-03-19 03:53] #379 closed

[2019-03-19 04:52] AirQuick commented on #151
Reopening for XQuery tests

[2019-03-19 16:20] #386 closed

[2019-03-27 09:55] AirQuick commented on #396
I added a Wiki page, [Testing Schematron with Text Nodes](https://github.com/xspec/xspec/wiki/Testing-Schematron-with-Text-Nodes), based on this issue.

[2019-03-27 10:46] #396 closed

[2019-03-27 10:59] AirQuick opened #555 "Document xspec.schematron.preprocessor.step* Ant properties"
Following #408, add `xspec.schematron.preprocessor.step*` Ant properties to [*Useful Properties*](https://github.com/xspec/xspec/wiki/Running-with-Ant#useful-properties).
Right now they are mentioned briefly in [*Using another implementation of Schematron*](https://github.com/xspec/xspec/wiki/Testing-Schematron-with-Text-Nodes#using-another-implementation-of-schematron).

[2019-03-27 11:43] AirQuick commented on #555
[Done](https://github.com/xspec/xspec/wiki/Running-with-Ant/_compare/036793a747e88b4785db36618ae006683e1c7b93...d8a91e13460d80ec45b4124806d254e8bef58851) for Wiki.

[2019-03-28 22:06] AirQuick commented on #132
As for [the first case](https://github.com/xspec/xspec/issues/132#issue-227610673), it doesn't work because the tested XSLT relies on the initial context node. After merging #437, the same XSpec description will crash:

[code]

To get the first case work, you need to compose XSpec like this:
[code]
* To make `is` work, you need to use a single source (`test.xml` in this example)
* Note that this e

[2019-04-04 19:13] AirQuick commented on #308
Reopening for XQuery

[2019-04-11 17:47] #308 closed

[2019-04-23 12:55] #423 closed

[2019-04-24 10:42] #438 closed

[2019-04-26 07:23] #440 closed

[2019-04-26 21:13] cmsmcq commented on #500
This would be a good improvement, as would a parallel change for XQuery 3.0.  (I just had to add 'pending' to four of six tests I wrote this morning because XSpec lacks a way to say that what is expected is that a dynamic error will be raised.)

If there are active XSpec users working with XSLT 2.0 or XQuery 1.0 processors, I can understand the need to be careful about assuming support for dynamic

[2019-04-27 06:14] #441 closed

[2019-04-28 04:46] #29 closed

[2019-04-28 04:46] #453 closed

[2019-04-28 04:46] #538 closed

[2019-04-29 09:56] #445 closed

[2019-04-29 09:56] #452 closed

[2019-04-29 16:45] AirQuick commented on #500
Right now XSpec's XQuery implementation is way behind XSLT. The upcoming v1.3.0 fills some gaps. On  v1.4.0, XQuery will be mostly on a parity with XSLT (as far as I'm aware). It will be easier to implement new XQuery features then.

[2019-04-30 03:53] AirQuick opened #563 "Release v1.3.0"
@cirulls
I think we're getting close to releasing v1.3.0 because

* The outstanding pull requests #459 or later are mainly for XQuery. (#458 contains a regression bug fix and should be included in v1.3.0.)
* The draft release note looks long enough now :)

Thanks for compiling and maintaining the release note which is very useful for looking back the changes. The highlights would be:

* Various bu

[2019-05-01 16:03] cirulls commented on #563
@AirQuick: thanks for your amazing work, this is awesome!

I understand #458 is the last pull request to be merged into `master`. I will use your comments for the highlights and may ask you to double check before I push the publish release button. I should be able to do all the tasks necessary for the release during this weekend (4-5 May). Hopefully this time I will correctly deploy the XSpec arti

[2019-05-02 06:47] AirQuick commented on #234
Added a short sentence in [Wiki](https://github.com/xspec/xspec/wiki/Writing-Scenarios/_compare/5350f5d6318ef7c7a2e5c192c2ec3559b45e847a...47821f38268a1e1025d444d661eb441d65d8426a). It still isn't clearer, but I think it's better than nothing.

[2019-05-02 06:47] #234 closed

[2019-05-02 06:55] AirQuick commented on #412
Reopening for XQuery

[2019-05-05 21:05] cirulls commented on #563
@AirQuick: Please have a look at the draft release notes for v1.3.0 and let me know if they look fine to you. I created #567 to increase the version in the pom file, I'm just waiting for the test suite to complete successfully before merging it.

If you confirm that the release notes are fine, I'll push the release button straight after #567 is merged into `master`.

[2019-05-07 09:39] AirQuick commented on #563
Thanks, @cirulls
Both the release note and #567 look good to me.

[2019-05-07 20:49] cirulls commented on #563
@AirQuick: thanks for confirming. I'm merging the last pull request and making the v1.3.0 release.

[2019-05-07 22:43] cirulls commented on #563
Following the [release workflow](https://github.com/xspec/xspec/wiki/Release-Workflow)  I did this:

✔️ Post a message on the XSpec mailing list
✔️ Promote the new release on xml.com
✔️ Post a message on the xml mailing list
✔️ Ask users to tweet about the new release: @cmarchand and @yamahito, I know you are quite active on Twitter, could you please tweet about the latest XSpec v1.3.0 release ava

[2019-05-08 08:29] cmarchand commented on #563
Sonatype has changed its requirements. `pom.xml` must be updated.
I'm working on this and will send a PR for this.
I'll probably deploy the 1.3.0 release to maven central to check that `pom.xml` is Ok.

[2019-05-08 09:34] cirulls commented on #563
@cmarchand: that would be great (and less work for me :wink:). In the pull request could you please also mention what has changed in the Sonatype requirements so that we can update [this documentation](https://github.com/xspec/xspec/wiki/Deploy-XSpec-artifact-to-Maven-Central)?

[2019-05-09 06:38] cmarchand commented on #563
I'm not sure if Sonatype has changed something. But I'm sure we are not able to deploy with the actual pom and configuration.

[2019-05-09 19:00] cmarchand commented on #563
Javadoc was not generated, ad soatype requires sources & javadoc for ope-source projects.
Solved by https://github.com/xspec/xspec/pull/569, ad tested by deployig 1.3.0

[2019-05-09 20:54] cmarchand opened #570 "[Question] - location of Release notes"
In v1.3.0 project, there is a task on "Write the release notes" which is done.

Where can I find these release notes ?

[2019-05-10 05:49] AirQuick commented on #570
The release notes are written here: https://github.com/xspec/xspec/releases

[2019-05-10 05:53] AirQuick commented on #563
Maybe for the future releases, we need to swap these steps?

[2019-05-10 06:57] cmarchand commented on #570
Thanks a lot, @AirQuick !

[2019-05-10 06:57] #570 closed

[2019-05-14 17:46] AirQuick opened #572 "Allow default namespace for XSpec"
https://github.com/xspec/xspec/pull/472#issuecomment-492325364

This limitation should be removed as mentioned there.

[2019-05-15 17:40] AirQuick opened #573 "Update test/end-to-end/README.md"
https://github.com/xspec/xspec/blob/5565ad4913c5f761d49b214f10108dc3bc67275b/test/end-to-end/README.md#preparing-the-expected-report-files

CSS in HTML is also different. (https://github.com/xspec/xspec/pull/459#issuecomment-492746599)

This line should have been updated when CSS was made inline (#135).

[2019-05-16 13:55] galtm commented on #528
While looking at this, I had a question. I'm not sure if it is a compiler bug or the correct behavior. (It is not a bug in this pull request.) I took a quick look for an existing issue but didn't find one. The question is whether `//x:scenario[@focus]/x:pending[x:expect]` is supposed to be honored as pending, or whether `@focus` always takes precedence regardless of the hierarchy. I can't tell fro

[2019-05-16 16:29] cirulls commented on #563
I swapped the steps in the release workflow (see [here](https://github.com/xspec/xspec/wiki/Release-Workflow/_compare/e661d8d0c04c1e6e2dccefc5b66f97d22a8074aa...9f705c72e63280d29406acd3b55c1b78e3b73a1c)).

[2019-05-16 16:31] cirulls commented on #563
@AirQuick and @cmarchand: I merged #569 and updated the wiki. I think this issue can be closed now. Is that fine for you?

[2019-05-16 23:29] AirQuick commented on #563
👍

[2019-05-17 13:48] AirQuick commented on #528
Good point. I couldn't find an authoritative answer to it. The behavior seems to have changed at 3366f94d1ae98c9423a0f5d8a2eba33fe3642029 with no tests/details provided.
I personally don't like the focus to override its descendant pendings, whereas I do expect the focus to override its ancestor-or-self pendings as tested in [xspec-focus-2.xspec](https://github.com/xspec/xspec/blob/1b7e7824daa71d06

[2019-05-19 02:41] AirQuick commented on #563
Thanks, @cmarchand and @cirulls
I'm closing this and moving on to developing the next version.

[2019-05-19 02:41] #563 closed

[2019-05-19 02:45] #450 closed

[2019-05-19 02:45] #451 closed

[2019-05-20 02:48] #448 closed

[2019-05-20 23:36] #449 closed

[2019-05-21 13:44] galtm commented on #528
I don't feel that strongly about this, but I tend to agree with your opinion. If I'm trying to write a set of tests first and then code the functionality, then pending status might prevent a hard error that would otherwise occur before the functionality has been coded. I can always choose not to use `@focus` or choose to temporarily comment out assertions that would cause a hard error, but then it

[2019-05-22 11:03] #447 closed

[2019-05-22 12:20] AirQuick opened #575 "Priority of focus and pending"
How focus and pending work together is not well defined. See https://github.com/xspec/xspec/issues/528#issuecomment-493077875.

We would need to
- [x] Test the behavior, whatever the current behavior is
- [x] Define the expected behavior
- [x] Fix the behavior (if necessary)
- [x] Consider creating Schematron rules for detecting meaningless `x:pending`, `@pending` or `@focus`
- [x] Update Wiki

[2019-05-22 12:41] AirQuick commented on #528
Filed #575.

Agreed. I think we need the test, whatever the current behavior is.

Good point. Unfortunately so far I don't know if the other BDD flavors have a similar built-in facility.

[2019-05-22 15:38] cirulls commented on #528
In [Jasmine](https://jasmine.github.io/) (a BDD framework for JavaScript) focused tests always [take precedence over unfocused tests](https://jasmine.github.io/2.1/focused_specs.html). I am not sure about other testing frameworks though.

In general, I would expect the focus tests to be honoured so I would suggest to implement this behaviour. It would be good to test the current behaviour though.

[2019-05-24 02:12] #468 closed

[2019-05-24 20:43] #467 closed

[2019-05-25 06:37] #392 closed

[2019-05-29 09:44] #466 closed

[2019-06-02 20:46] #480 closed

[2019-06-04 14:47] #177 closed

[2019-06-09 10:43] #67 closed

[2019-06-09 14:13] cirulls commented on #516
Sorry for the wait, this went off my radar. I added a wiki page [Related Projects](https://github.com/xspec/xspec/wiki/Related-Projects) and added links to xprocspec, XProc XSpec, and the oXygen XSpec plugin.

@nkutsche: does this address your needs? Can I close this issue?

[2019-06-10 12:34] nkutsche commented on #516
Great! Thanks.

[2019-06-10 12:34] #516 closed

[2019-06-11 10:15] AirQuick opened #578 "Update Wiki for BaseX server"
#577

Also [*How to Run the Test Suite Locally*](https://github.com/xspec/xspec/wiki/How-to-Run-the-Test-Suite-Locally) should be updated. (https://github.com/xspec/xspec/pull/577#issuecomment-505213186)

[2019-06-20 17:42] cmsmcq opened #579 "Make the HTML presentation of differences distinguish between 'element name is different' and 'element contains some difference somewhere'"
[RFE]

When the expected result of a function call is an element, and some descendant text node is different, the HTML display of the test shows uses a pink background for the text nodes which correspond to each other in the obtained result and the expected result and which differ.  That makes sense.

It also uses a pink background for the element names of all of their ancestor elements.

![Screen

[2019-06-21 06:47] AirQuick commented on #579
The diff style needs some improvement.
Right now the style is either `same` or `diff` based on custom `deep-equal()`. ([code](https://github.com/xspec/xspec/blob/69eff644d093a131b2c64778479ec73f71662066/src/reporter/format-utils.xsl#L315-L328))

[2019-06-22 09:58] #355 closed

[2019-06-22 09:58] #357 closed

[2019-06-22 09:58] #358 closed

[2019-06-22 09:58] #360 closed

[2019-06-25 00:59] AirQuick opened #580 "Improve BaseX server test for Windows"
BaseX server test for Windows has some room for improvement:

* BaseX batch files are run within the current batch file context. They can pollute the environment. They should be run in a child process.
https://github.com/xspec/xspec/blob/e7c1bb12e38bf061a325380852606ab3326fa14f/test/win-bats/collection.xml#L353-L354
https://github.com/xspec/xspec/blob/e7c1bb12e38bf061a325380852606ab3326fa14f/test/

[2019-06-25 12:09] galtm commented on #578
While you're there, can you please also fix the typo, where it says "it it recommended" instead of "it is recommended"? Thanks!

[2019-06-25 13:11] AirQuick commented on #578
@galtm
Can you try fixing the typo? I think you're allowed to edit Wiki pages. Feel free to correct any page at any time.

[2019-06-25 13:34] galtm commented on #578
@AirQuick : You're right. The system let me edit the page, so I fixed the typo.

[2019-06-25 14:00] AirQuick commented on #578
Thanks for fixing it. Also please feel free to edit more than typo. Wiki is version controlled by git. So you won't lose previous versions even if you make bold changes.

[2019-06-25 14:32] galtm commented on #578
OK, I will keep that in mind. In particular, my PR #475 will require some wiki changes.

[2019-07-04 04:56] #526 closed

[2019-07-04 06:13] #528 closed

[2019-07-09 04:28] #522 closed

[2019-07-10 09:09] #78 closed

[2019-07-11 14:42] #85 closed

[2019-07-12 10:41] AirQuick opened #583 "Bats test fails when output dir exists"
https://github.com/xspec/xspec/pull/582#issuecomment-508400466

***nix**
[code]

**Windows**
[code]

Maybe `test/run-bats.*` should remove the folders beforehand.

[2019-07-15 12:13] nkutsche opened #584 "Add build.xml to a Maven artifact"
I wrote an own [XSpec Maven Plugin](https://github.com/nkutsche/xspec-maven-plugin/) which calls this [build.xml](https://github.com/xspec/xspec/blob/master/build.xml) internally. Unfortunately I had to add the complete XSpec framework zipped to the [project git repository](https://github.com/nkutsche/xspec-maven-plugin/blob/master/src/main/resources/xspec-1.3.0.zip) because the Maven artifacts do

[2019-07-15 15:31] cirulls commented on #584
@nkutsche: thanks for the heads-up, I also saw your issue on the maven plugin repository.

It would be good to get @cmarchand 's opinion on that as he usually creates the maven artifacts for XSpec when a new XSpec release is available.

[2019-07-16 05:56] #542 closed

[2019-07-19 06:38] #161 closed

[2019-07-20 15:46] #547 closed

[2019-07-20 15:46] #548 closed

[2019-07-26 16:11] #151 closed

[2019-07-27 13:25] #555 closed

[2019-07-29 12:20] #393 closed

[2019-07-29 14:15] #412 closed

[2019-08-01 02:31] AirQuick opened #588 "Regenerate test/end-to-end/cases/expected using Saxon 9.9"
At the time of this writing, you have to generate test/end-to-end/cases/expected/ using Saxon ~9.8.0.12 (inclu. 9.7):

https://github.com/xspec/xspec/pull/459#issuecomment-492202341
https://github.com/xspec/xspec/pull/293#discussion_r242031402

When Oxygen picks up Saxon 9.9, we will probably want to regenerate the expected files using Saxon 9.9.

[2019-08-01 16:04] AirQuick opened #592 "Test with mode="#all" templates in the stylesheet being tested"
Commit message of 97ce32d134fc3468c0cdac891f098a0363c0561b

We don't have a test for it.

[2019-08-19 14:52] AirQuick commented on #584
What do you think, @cmarchand?

[2019-08-19 16:18] cmarchand commented on #584
build.xml was not packaged inside XSpec Maven Plugin because it does not use it, and because build.xml is not part of XSpec Maven Plugin.
But XSpec implementation which is packaged as a maven artifact, available on maven central, should have build.xml inside, as build.xml is part of implementation.

So, I have to add build.xml to package process, and this issue is a bug.

[2019-08-19 16:23] AirQuick commented on #584
Thanks, @cmarchand

Do we need to revise [`pom.xml`](https://github.com/xspec/xspec/blob/master/pom.xml)?

[2019-08-19 16:24] cmarchand commented on #584
Yes, we do. And we need to revise also the -sources classifier, that do not contain `build.xml`.

[2019-08-19 16:25] cmarchand commented on #584
@AirQuick : what is the naming conventions for issues branches ?

[2019-08-19 16:33] AirQuick commented on #584
It is appreciated you can submit a pull request for the required change. We're going to release v1.4.0 soon (not within a few days, but within a few weeks). Hopefully we can include this fix.

We don't have any explicit naming conventions for the branches at the moment.

[2019-08-19 16:51] cmarchand commented on #584
Pull request created.

[2019-08-20 15:53] #572 closed

[2019-08-21 14:31] AirQuick opened #594 "Release v1.4.0"
[Project board](https://github.com/xspec/xspec/projects/5) is mostly done. The remaining cards will be resolved in a week or two:

* #475
    This will be the highlight of v1.4.0. I'm actively reviewing the pull request now and have reviewed 27/40 files.
* #593
  This may be postponed to a later release depending on how it develops.

So, unless @cirulls and @galtm are entering their busy season, I

[2019-08-21 14:41] galtm commented on #594
The time frame sounds good to me. If your continue to enter your code review comments for #475 gradually, I will do my best to keep up.

[2019-08-21 15:16] cirulls commented on #594
This sounds good to me, thanks for the early warning. I'm happy to do the usual release tasks once the code is ready. Looking forward to XSpec v1.4.0!

[2019-08-21 15:37] AirQuick commented on #594
Thanks @cirulls
This time, will you be able to try this task?

[2019-08-21 15:46] cirulls commented on #594
Yes, I can give it a go. @cmarchand: I may need your help in case I fail but I'll try first.

[2019-08-22 10:27] cmarchand commented on #594
Ok, @cirulls , but do not delay asking help...
Best

[2019-08-22 15:43] cirulls commented on #594
Thanks @cmarchand, I'll give it a go at release time (in 2-3 weeks) and will keep you posted.

[2019-08-29 04:10] AirQuick opened #596 "Deprecate Saxon 9.7 or less"
Saxon 9.7 or less should be deprecated explicitly:

* In Release Note
* In Wiki (probably *Installation*)
* In run time message?

Rationale:

* Burden on development and testing, both on XSLT and XQuery, primarily because of limited support of XPath/XSLT/XQuery 3.x, partially because of differences in command interface
* No longer maintained by Saxonica

[2019-08-30 14:38] AirQuick commented on #500
I have an implementation where you can set `@catch` in `<x:scenario>`.
With `<x:scenario catch="yes">`, its descendant-or-self scenarios will catch dynamic errors when invoking the tested module. The standard error variables including `$err:code` and `$err:description` are stored in `$x:result` as a map.

So, with the initial example (https://github.com/xspec/xspec/issues/500#issue-400638585), you

[2019-09-03 19:57] galtm opened #598 "Namespace declarations need to be on x:description element (not a descendant), in some circumstances"
Some parts of the compiler code seem to assume that all the necessary namespace declarations occur on the `x:description` element. For example, overriding a global parameter using `<x:param name="e:globalparam" xmlns:e="...">` does not work if `x:description` does not have `xmlns:e="..."`.

[2019-09-03 19:59] galtm commented on #598
If this limitation is considered a bug, I'd like to try fixing it at least for XSLT. XQuery seems trickier, and I might look into that later.

[2019-09-04 03:19] AirQuick commented on #594
I think the highlight would include these:
* XQuery support is mostly on a parity with XSLT. Now implementing new XQuery features is easier than ever. Any contribution is welcome.
* Test coverage continues growing. We have [more than 200 tests](https://ci.appveyor.com/project/xspec/xspec/builds/27047775) running on our CI systems.

[2019-09-04 03:37] AirQuick commented on #598
I think this is a bug. At least it doesn't seem to have been designed deliberately.
Fixing it only for XSLT will be fine. It's appreciated if you can leave a brief comment, for the record, about why fixing XQuery isn't straightforward.

[2019-09-04 15:12] cirulls commented on #594
I added these highlights to the draft release notes. I should be able to release XSpec v1.4.0 on Sunday 8th September.

[2019-09-05 07:18] AirQuick commented on #500
Submitted #599

[2019-09-05 11:50] galtm commented on #598
Here is what I have in mind on the XSLT side: For each element in the XSpec file that has a namespace declaration, copy the declarations where needed, to either the compiler output or the compiler's intermediate parameters. There is already a `mode="x:copy-namespaces"` template in `generate-common-tests.xsl`, and I am looking to broaden that template's `@match` attribute. I'm not sure yet whether

[2019-09-05 16:10] cirulls opened #600 "XSpec website"
It would be nice to have an official XSpec website - every time I google xspec I end up with some NASA module or cryptocurrency! I was thinking of implementing a basic website via [GitHub pages](https://pages.github.com) as it allows to host a static website directly from GitHub repositories. AFAIK, there are [two ways](https://help.github.com/en/articles/configuring-a-publishing-source-for-github

[2019-09-05 16:19] cirulls opened #601 "Automatically generate release notes"
I have been looking at ways to automatically generate release notes. I usually add a note to the draft release notes every time a pull request is merged. However, this process is very manual and it requires following the activity on the master branch (which I do but sometimes I have breaks of few weeks and lots of GitHub notifications to process).

I tried out the [github-changelog-generator](http

[2019-09-05 16:28] cirulls commented on #601
I'm attaching the file here below, it is a Markdown file but I had to change the file extension, it looks like GitHub doesn't allow to upload .md file.

[CHANGELOG.md.log](https://github.com/xspec/xspec/files/3580274/CHANGELOG.md.log)

For my own record, I generated the release notes with this command:

[code]

with the following configuration stored in `.github_changelog_generator`:

[code]

[2019-09-05 22:18] cmarchand commented on #600
@cirulls : yes, I've bought xspec.io for this, and I'll be happy to give this to XSpec community. Actually, I own this domain until 2020/01/01, but I can renew it for 5 more years. Or 3, it depends on the amount... It'll cost you one or two beers at XMLPrague 2020 !

[2019-09-06 14:12] cirulls commented on #600
@cmarchand: thanks, that's really useful, I'll pay back in beer 🍺🍺🍺 I may contact you privately for the domain name, I remember you gave me some credentials in the past, but I'll double check first.

[2019-09-07 15:05] AirQuick opened #610 "Fails to load XML in folder containing single quote (apostrophe U+0027)"
Similar to #119

[code]

[2019-09-08 02:26] AirQuick commented on #60
The only remaining issue is this:

and it's commented out property with `TODO` comment:

https://github.com/xspec/xspec/blob/4a3ae575b55e785099582d13942831279b4f3ee1/test/end-to-end/cases/xspec-rule.xspec#L31-L58

So I think we can close this issue. Implementing `x:apply` should be handled in a dedicated issue or pr.

[2019-09-08 02:26] #60 closed

[2019-09-08 02:29] AirQuick commented on #288
Closing now. Please feel free to reopen this with more details.

[2019-09-08 02:29] #288 closed

[2019-09-08 03:06] AirQuick commented on #601
Looks very useful. I understand how tedious to maintain the list by hand. Especially when it's a table.

A downside would be that it doesn't contain additional contributors. Your handpicked list always have them along with the pr author names, which is very nice. I don't think this downside is a showstopper, though.

[2019-09-08 05:15] AirQuick commented on #600
The 1st option is only one per organization and in a dedicated repository, and the 2nd option is per repository? The 1st one sounds better then, because the site would need to cover all the organization repositories and the 2nd option would be difficult to relax access control. Just my quick thought.

[2019-09-08 05:32] AirQuick commented on #598
Thanks for the useful comment. It surely sounds difficult to handle XQuery.

[2019-09-08 07:00] AirQuick commented on #400
I verified that on Oxygen 21.1 build 2019071807, the following statement is still true

and with XSpec Helper view 1.2.1, the following issue is mitigated (i.e. the `ANT [XSpec for XSLT]` pane opens automatically on failure and you can see the same error as above)

So I'm closing this issue. Please feel free to reopen, if you don't see the actual error in the same environment.

[2019-09-08 07:00] #400 closed

[2019-09-08 08:14] cirulls commented on #601
@AirQuick: Thanks for your feedback. For release v1.4.0 I will use my handpicked draft release notes but I will experiment with the automatic generated changelog for v1.5.0. github-changelog-generator does not seem to have an option for pulling out all the contributors in a pull request but I'll investigate if there is a way to add them.

I'll shortly raise another issue which may help keeping the

[2019-09-08 08:23] cirulls commented on #600
Yes, option 1 is a dedicated repository and can include everything related to XSpec while option 2 is tied to the specific repository where the `docs` directory lives.

I'll favour option 1 as it is more flexible and we have all our documentation in the wiki at the moment. In case we want to autogenerate documentation in the future we may want to revisit the `docs` directory option.

[2019-09-08 13:29] cirulls commented on #594
An update on release v1.4.0:

- I created a pull request incrementing the version of pom.xml and merge it into master (#614).
- I deployed the XSpec artifact to Maven Central. I can see the artifact under [repo1.maven.org](https://repo1.maven.org/maven2/io/xspec/xspec/1.4.0/). I was expecting to see the artifact also via [search.maven.org](https://search.maven.org/search?q=g:io.xspec%20AND%20a:xsp

[2019-09-08 18:16] cmarchand commented on #594
You have to wait many days - 4 to 10 - to see your new release on search.maven.org. I do not understand how the update their index database, it's a mistery. But if you wait enough, it appears !

[2019-09-08 20:02] cirulls commented on #594
@cmarchand: it looks like this time they were quicker, the artifact for v1.4.0 is now visible on search.maven.org, see [here](https://search.maven.org/artifact/io.xspec/xspec/1.4.0/jar).

I promoted the new release on [xml.com](https://www.xml.com/news/2019-09-xspec-v140) and on the [XSpec Google Groups](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/xspec-users/3K3LPQs49

[2019-09-08 20:20] cirulls opened #617 "Update documentation for deploying artifacts to Maven Central"
Following [this comment](https://github.com/xspec/xspec/issues/594#issuecomment-529203038), update the documentation for [deploying artifacts to Maven Central](https://github.com/xspec/xspec/wiki/Deploy-XSpec-artifact-to-Maven-Central).

[2019-09-08 20:25] cirulls commented on #594
I raised #617 to update the documentation and submitted #616 to add SNAPSHOT in the pom file.

I think we can close this issue now that v1.4.0 is out. If anyone spots anything missing from the release process, feel free to reopen the issue or create a new one.

Many thanks to all those who contributed to this release!!!

[2019-09-08 20:25] #594 closed

[2019-09-09 04:39] AirQuick commented on #594
Thanks @cirulls for the smooth operation.

[2019-09-09 05:34] AirQuick commented on #594
@AlexJitianu
You may possibly want to update XSpec Framework for XSpec Helper view.
Also, looking at [the repository](https://github.com/xspec/oXygen-XML-editor-xspec-support/tree/master/frameworks/xspec/oxygen-results-view), I noticed you needed to patch XSpec compiler. Would it be worth integrating some of the patches into this main repository?

[2019-09-09 07:54] AirQuick commented on #596
@xspec/xspec
I'd like to propose

* Create a Wiki page, titled *Requirements*, under *Installation* section.
* Move *Requirements* blocks from [*Installation on Mac and Linux*](https://github.com/xspec/xspec/wiki/Installation-on-Mac-and-Linux#requirements) and [*Installation on Windows*](https://github.com/xspec/xspec/wiki/Installation-on-Windows#requirements) to the new page.

and in the new page

[2019-09-09 08:00] cmarchand commented on #594
@cirulls : promoted on xml-dev and xsl-list mailing lists, and on twitter.
 - https://xsl.markmail.org/search/?q=XSpec%201.4.0#query:XSpec%201.4.0+page:1+mid:7s6orbte4zacg2ev+state:results
 - https://xml-dev.markmail.org/search/?q=XSpec%201.4.0#query:XSpec%201.4.0+page:1+mid:yts4vwxatth25xzo+state:results
 - https://twitter.com/cmarchand7276/status/1170959298949783552

[2019-09-09 08:24] AirQuick commented on #578
[Done](https://github.com/xspec/xspec/wiki/Running-with-BaseX#run-an-xspec-test-for-xquery-with-basex-server) ([diff](https://github.com/xspec/xspec/wiki/Running-with-BaseX/_compare/3c985b9f556d024b09ae43b9cc5580195d02d2fe...fdc0f9914ea365194a52d8a96620c1b3e2198ef3))

[2019-09-09 08:30] AirQuick commented on #578
Done ([diff](https://github.com/xspec/xspec/wiki/How-to-Run-the-Test-Suite-Locally/_compare/a076c0ab0b65c1b3b0cd05725651fe9df5e67971...a3d52b2aad9a2fa2caf78e321021e62aee4ce5c9))

[2019-09-09 08:30] #578 closed

[2019-09-09 08:37] AirQuick commented on #573
fixed by #582

[2019-09-09 08:37] #573 closed

[2019-09-09 09:48] AirQuick commented on #117
Updated the [Linux/MacOS](https://github.com/xspec/xspec/wiki/How-to-Run-the-Test-Suite-Locally#linuxmacos) section ([diff](https://github.com/xspec/xspec/wiki/How-to-Run-the-Test-Suite-Locally/_compare/7fca78c4a383cff4e56d06a67df1163ddfdce12f...c0ea38dc24ac149570815768552af55de3bf92ba)). I guess this suffices for now.

[2019-09-09 09:48] #117 closed

[2019-09-09 15:42] cirulls commented on #506
I think this issue can be closed since it refers to release v1.2.0 and I managed to publish the artifact to Maven Central for the v1.4.0 release.

[2019-09-09 15:42] #506 closed

[2019-09-09 16:49] cirulls opened #622 "Conventions for commit messages and pull requests"
In order to facilitate the automatic generation of release notes (see #601) and to enforce conventions in commit messages and pull requests, it could be useful to implement a commit linter. This is an automatic check that makes sure that commit messages and pull request follow a convention. Here are [some reasons](https://www.conventionalcommits.org/en/v1.0.0-beta.2/#why-use-conventional-commits)

[2019-09-09 18:03] AirQuick commented on #622
Nice idea. Will it work well with our squash-and-merge strategy?

Establishing `CONTRIBUTING.md` sounds good too.

[2019-09-10 12:22] #580 closed

[2019-09-10 15:59] cirulls commented on #596
@AirQuick: this sounds good to me, the deprecation warning will be very useful for helping people migrating to the latest Saxon.

[2019-09-10 16:10] cirulls commented on #622
I think so, here is an example of how it will look like when doing a squash-and-merge:

![image](https://user-images.githubusercontent.com/13256236/64630555-47fd4000-d3ed-11e9-968d-0077d0f8c594.png)

As long as the maintainer doesn't change the main commit message after the commit lint checks, that should work and stay green. I will also write down instructions on how to amend a commit message alr

[2019-09-10 16:15] AirQuick commented on #622
Thanks for the image.

Will it require every commit contained in a PR to follow the convention? For example, #138 consists of 13 commits. If all the 13 commits must follow the convention, it might be too stern. Also, if we do squash-and-merge in the end, each commit is not that important.

[2019-09-10 16:32] cirulls commented on #622
No, only the last commit (and the PR title) must follow the convention. I tried amending my broken commit message in https://github.com/cirulls/vimrc/pull/2 and it looks like this:

![image](https://user-images.githubusercontent.com/13256236/64632258-a8da4780-d3f0-11e9-9cc5-a445e20c1a9d.png)

Note that it shows the first commit as red because of breaking the naming conventions but the last commit

[2019-09-10 17:02] AirQuick commented on #622
Great.

`xslt`, `xquery` and `schematron` might be good candidates for the `scope`.

[2019-09-12 02:34] #592 closed

[2019-09-13 16:30] AirQuick commented on #477
The documentation and the schema annotation should also clarify how `x:scenario/@*` (`@pending` etc) works with `x:like` and `@shared`.

[2019-09-18 14:53] AirQuick commented on #596
Done.

[2019-09-19 07:59] AirQuick opened #633 "Ant: Warning: Nashorn engine is planned to be removed from a future JDK release"
`<scriptdef>` in Ant build file will need to be replaced with another method.
https://github.com/xspec/xspec/blob/4556cddf350f9658d67112f447cbc0b103023383/build.xml#L155-L159

[code]

---

`<script>` is also used in [a test util](https://github.com/xspec/xspec/blob/4556cddf350f9658d67112f447cbc0b103023383/test/ant/worker/build-worker_util.xml#L81-L86), but it's just for optional time calculation.

[2019-09-19 21:40] AirQuick commented on #596
Done in #625. Thanks for the review, @cirulls and @galtm.

[2019-09-19 21:40] #596 closed

[2019-09-20 14:59] cirulls commented on #596
I think the move to Java 8 for testing XSpec and the deprecation message for Saxon 9.7 could be mentioned explicitly in the highlights for the next release notes so that users are aware of it.

[2019-09-21 03:07] #501 closed

[2019-09-21 04:10] #610 closed

[2019-09-21 06:40] AirQuick commented on #596
How we communicate it, I'll leave it up to you.
Ironically, for the first time, we have continuous testing on Saxon 9.7 :)

[2019-09-22 15:03] wasmachien75 opened #638 "Result not generated with Saxon 9.9 HE"
I am having difficulties running testswhen running xspec.bat with Saxon 9.9 HE.

The generated test result is not a well-formed document as expected, but contains the text value of the x:report element.
[code]

`test-result.xml`  contains the text-value of the x:report element, instead of the x:report element itself.

When setting SAXON_CP to Saxon 9.8.0.12, everything works fine.

I've set up a r

[2019-09-22 15:21] galtm opened #639 "XSpec occupies xs: and xsl: namespace prefixes"
The issue is analogous to #466, but for the xs and xsl prefixes.

Reproduction steps:

1. Run `xspec/test/xspec-prefix-conflict.xspec` to test XSLT and XQuery. It passes.
2. Copy `xmlns:x="x-urn:test:xspec-prefix-conflict"` from line 4, paste it, and modify it to read `xmlns:xs="x-urn:test:xspec-prefix-conflict"`.
3. On line 8, change `x:param-mirror-function` to `xs:param-mirror-function`.
4. Run

[2019-09-22 16:48] AirQuick commented on #638
Quick note:
* Not a recent regression of XSpec. Repro on XSpec v0.3 + Saxon-HE 9.9.1.5.
* Not repro on the current master when `xsl:output` in `test_stylesheet.xsl` is commented out. So seems like https://github.com/xspec/xspec/blob/47f1d47506a801dea2dfe8e836346c172fa35b09/src/compiler/generate-xspec-tests.xsl#L84-L86 is not taking effect.
* Could be a Saxon regression https://saxonica.plan.io/iss

[2019-09-22 17:07] wasmachien75 commented on #638
Indeed, it seems the named output is ignored.
 I will report this on the Saxon board. Thanks!

[2019-09-22 17:12] AirQuick commented on #638
@wasmachien75
@michaelhkay

Here is a reduced test case. Just refer to this comment would help:

**test.xsl**
[code]

**imported.xsl**
[code]

Saxon 9.8:
[code]

Saxon 9.9:
[code]

[2019-09-22 18:56] AirQuick commented on #639
I haven't tested it, but these prefixes might be the case too
https://github.com/xspec/xspec/blob/a5ab424e3b8629efb95b3761029bb0181ba12dd1/src/compiler/generate-xspec-tests.xsl#L48-L52

[2019-09-25 22:58] #500 closed

[2019-09-26 02:06] AirQuick commented on #117
@xspec/xspec
I restructured the [Wiki](https://github.com/xspec/xspec/wiki/How-to-Run-the-Test-Suite-Locally). Now the page is not sectioned by OS but by the steps.

[2019-09-27 19:32] AirQuick opened #655 "Coverage report loses hit when output dir is specified"
With `TEST_DIR` specified, the coverage report may have incorrect `not used`:

[code]

(The expected result is pictured in [Wiki](https://github.com/xspec/xspec/wiki/Code-Coverage).)

The problem does not happen if `TEST_DIR` has `xspec`:

[code]

So the problem probably lies in this hardcoded path:
https://github.com/xspec/xspec/blob/9bf81f0873629152afa794e287224d2216488baf/java/com/jenitennison/

[2019-10-02 10:25] heidivanparys opened #665 "Content of role attributes"
When creating my first tests using XSpec, I tested a Schematron file that used asserts with role attribute set to ERROR, as described on http://schematron.com/2018/12/standard-severity-levels-with-schematron-role/ :

This resulted in `x:expect-valid` not working as I expected it to work.

When looking at the xspec code, I then found out that lowercase roles are used:

- https://github.com/xspec/xs

[2019-10-02 10:43] AirQuick commented on #665
@vincentml
What do you think?

[2019-10-03 16:07] #633 closed

[2019-10-03 16:37] AirQuick opened #669 "build.xml should be tested with include and import"
https://github.com/xspec/xspec/pull/666#issuecomment-538018141

### Further work
Update [Wiki](https://github.com/xspec/xspec/wiki/Running-with-Ant) to clarify the consequences of `include` and `import`.

[2019-10-03 18:29] vincentml commented on #665
The current list of `@role` values 'error' and 'fatal' is based on the behavior of oXygen. I agree it does make sense to change the [definition of the $error variable](https://github.com/xspec/xspec/blob/877ed425593ee7ec613669c5df8ce8723013ab7e/src/schematron/schut-to-xspec.xsl#L12) to include FATAL and ERROR. For completeness $warn and $info can also be updated (I think $warn and $info are not cu

[2019-10-04 10:16] tgraham-antenna opened #670 "Schematron 'expect nothing unexpected' option?"
Schematron testing currently checks only specific `assert` or `report` or checks whether any error- or fatal-level `assert` or `report` has fired.  Other than the checking by error level, there is no reporting of an unlisted `assert` or `report` being fired.

This can be a feature, since a `scenario` can be written to check just one thing, but it can also be a hindrance, since an unexpected `asser

[2019-10-04 12:42] AirQuick commented on #665
Thanks @vincentml !

@heidivanparys
Are the suggested changes fine with you?

[2019-10-04 14:11] AirQuick commented on #670
To achieve that using the current implementation, one could possibly write like this?

[code]

[2019-10-04 14:18] AirQuick commented on #670
@vincentml
Any thoughts?

[2019-10-04 14:36] tgraham-antenna commented on #670
'count' does not show in https://github.com/xspec/xspec/wiki/Writing-Scenarios-for-Schematron, so I didn't know about it.

It could be a workaround, thank you, though presumably it would also require `<x:expect-assert count="0" />` in scenarios as well.

[2019-10-07 09:22] heidivanparys commented on #665
Thanks for looking at this issue. I have one comment: how about making all values case-insensitive (from a user-perpective)?:

[code]

The text in the wiki would then have to be updated accordingly.

[2019-10-08 04:09] vincentml commented on #665
If the values were compared in a case-insensitive way then XSpec may be more forgiving of typos than might be expected by a user or some other environment in which Schematron runs. For example, "erROR" would probably be considered incorrect. I think it is better to have a defined list of all lower case and all upper case versions of each value to encourage consistency, but an argument could be mad

[2019-10-08 04:35] vincentml commented on #670
The suggestion by @AirQuick is exactly what I would do for this kind of test.

An expect-assert to check for the specific assert with an id:

`        <x:expect-assert id="unknown-pi"/>`

and an expect-assert to check that only the expected number of asserts are thrown, in this case 1 is expected:

`        <x:expect-assert count="1"/>`

[2019-10-08 11:39] tgraham-antenna commented on #670
Now that I know about `count`, that is sufficient.

[2019-10-08 11:39] #670 closed

[2019-10-09 09:54] AirQuick commented on #670
[Updated](https://github.com/xspec/xspec/wiki/Writing-Scenarios-for-Schematron/_compare/1bef2e0b2898a166cc43157f7b9bf498fdeab6bb...a90ee8f9c8f6554dfe4bab9790ace2eab2ea2da4) Wiki to mention `@count` based on this use case. Feel free to edit further.

[2019-10-09 13:58] AirQuick commented on #669
Testing with `include`: Done in #671

Testing with `import`: Done in #676

[Done](https://github.com/xspec/xspec/wiki/Running-with-Ant/_compare/d8a91e13460d80ec45b4124806d254e8bef58851...3adb0d3ddd26cc87e22614de57306ac75dda5fe5)

[2019-10-09 13:58] #669 closed

[2019-10-09 14:08] AirQuick commented on #669
@tgraham-antenna
Just FYI.

[2019-10-11 17:14] AirQuick commented on #665
@heidivanparys or @vincentml
Aligning with oXygen sounds like a very good idea. It'll meet the majority of expectations.
Either of you is kindly willing to make a pull request? It should be as easy as these two steps:
* create a set of `.xspec` and `.sch` files which fails when used with the current `master` branch, and put the files into `test/` directory
* implement the change in `schut-to-xspec

[2019-10-16 00:20] #655 closed

[2019-10-16 06:46] AirQuick opened #681 "Leading slash missing from formatted URI in HTML report on *nix"
`/` before `home/...` is missing in this example.
![format-uri](https://user-images.githubusercontent.com/8489367/66894596-d0de4b80-f02b-11e9-865e-fa5f0f836fd7.png)

[2019-10-16 07:02] heidivanparys commented on #665
I could create a pull request. I won't manage to do that this week but next week should be possible.

[2019-10-16 07:41] AirQuick opened #682 "Module URIs in coverage report HTML are not formatted"
See the coverage report screenshot in [Wiki](https://github.com/xspec/xspec/wiki/Code-Coverage#tutorial). URIs after "Stylesheet:" and "module:" are formatted differently.

[2019-10-17 04:54] AirQuick opened #685 "Hints on test result report HTML"
https://github.com/xspec/xspec/pull/662#pullrequestreview-301002574

[2019-10-17 05:01] #579 closed

[2019-10-23 01:36] #681 closed

[2019-10-23 22:56] #598 closed

[2019-10-23 23:05] AirQuick commented on #598
XSLT has been fixed.
Not fixed XQuery yet. It will require significantly more work than XSLT. (https://github.com/xspec/xspec/issues/598#issuecomment-528326808) Please feel free to reopen this, if anyone can propose a fix for XQuery.

[2019-10-24 04:57] AirQuick opened #689 "Namespace and attribute nodes are serialized with misaligned indentation"
These scenarios

[code]

are serialized in the report HTML as follows:

[code]

[code]

Same on v0.3.0.

[2019-10-25 20:37] heidivanparys commented on #665
@AirQuick  I'm making only little progress with this unfortunately.

I followed https://github.com/xspec/xspec/wiki/How-to-Run-the-Test-Suite-Locally . I managed to install the dependencies correctly by using a modified version of test\ci\install-deps.cmd , as I have an older Windows version, see https://github.com/heidivanparys/xspec/commit/ddb721ef908aac8c57d4619a57aecda92d7dde68

Then I created

[2019-10-28 11:30] tofi86 opened #691 "Test fails in 1.4 but worked in 1.2"
I'm sorry, but I just cannot find the error.
This test (see attached zip) worked in XSpec 1.2 but fails in 1.4.

[xspec-test.zip](https://github.com/xspec/xspec/files/3778463/xspec-test.zip)

Can you help me debugging this issue? Thanks!

Best, Tobias

[2019-10-28 15:48] AirQuick commented on #346
Also https://groups.google.com/d/msg/xspec-users/phNmPTdPNwY/-tunJB4iEC0J

[2019-10-28 16:48] AirQuick commented on #691
v1.3.0 fixed a bug where whitespace-only text nodes are ignored when comparing the actual result and the expected result. [Relnote](https://github.com/xspec/xspec/releases/tag/v1.3.0):

In your test case, the actual result and the expected result have different whitespace-only text between elements. They used to be ignored on comparison. v1.3.0 or later no longer ignores them.

Assuming the tested

[2019-10-28 17:13] tofi86 commented on #691
Thanks for the hint! It workes now.

Any chance to add some kind of setting to ignore whitespace when loading input/expected data via `@href` from external files?

[2019-10-28 17:13] #691 closed

[2019-10-28 17:33] AirQuick commented on #665
@heidivanparys
Thanks for making the changes.
Using the current master, two scenarios `error: expect-valid should fail` and `fatal: expect-valid should fail` are Success. Once the required changes are made, those two scenarios should be Failure, right?

Thanks for making it. I'll try to incorporate it.

Looks like the test processor needs to be updated to handle this new pattern. I'll fix it asap.

[2019-10-28 17:45] AirQuick opened #692 "ci: make test\ci\install-deps.cmd work with 7zip"
It would be nice to make `test\ci\install-deps.cmd` work with 7zip.

https://github.com/xspec/xspec/issues/665#issuecomment-546504468

[2019-10-28 17:48] AirQuick opened #693 "end-to-end test cannot handle svrl:active-pattern/attribute(document) if it's zero-length"
https://github.com/xspec/xspec/issues/665#issuecomment-546504468

[code]

[2019-10-28 20:43] AirQuick commented on #691
I haven't tested it extensively, but enabling Saxon option `RECOGNIZE_­URI_­QUERY_­PARAMETERS` and adding Saxon-specific `?strip-space=yes` to the URI seems to strip all the whitespace-only text nodes from the specified doc:

[code]

[2019-10-28 20:46] #693 closed

[2019-10-28 20:49] AirQuick commented on #665
Fixed it in #694. I believe the test will work on the current master.

[2019-10-28 22:46] AirQuick opened #695 "Error or warning for unreferenced shared scenario"
https://github.com/xspec/xspec/pull/688#pullrequestreview-307787886

[2019-10-30 10:24] AirQuick opened #697 "Empty document node is reported without XPath notation"
[code]

This scenario result is reported like this:

![empty-document](https://user-images.githubusercontent.com/8489367/67849718-67415f80-fb4a-11e9-8774-c9781b47dda1.png)

Note that the XPath is in the document box when it should be put above the box.

[2019-10-30 21:49] christianhujer opened #700 "Catch error messages from `<xsl:message terminate="yes"/>`"
I could not find documentation for how to catch error messages from `<xsl:message terminate="yes"/>`. I tried to guess `<x:expect/>` with `test="$x:result?err?message"` but it seems undefined. I can workaround with `test="$x:result?err?description"` but that's the processor termination message, not the XSLT termination message.

Details:

My XSLT has code like this:
[code]

I tried to test it like

[2019-10-31 06:15] #689 closed

[2019-10-31 08:03] AirQuick commented on #700
Looks like Saxon does not work as specified by https://www.w3.org/TR/xslt-30/#element-catch

When I ran this stylesheet,

[code]

`<value>` is empty:

[code]

[2019-10-31 10:30] christianhujer opened #701 "Add --quiet mode (feature request)"
When running `xspec.sh` on a single xspec, there are 16 lines of output.

Example:
[code]

For bigger projects, this amount of output is a problem. Especially, when they use Makefiles and thus run `xspec.sh` many times. I suggest adding a feature `--quiet`. `xspec.sh --quiet` should print:
* Warnings and errors
* Summary

In the above example, the output should look like this:
[code]

Besides, the

[2019-10-31 10:43] christianhujer opened #702 "Add recursive batch mode (feature request)"
When having a set of XSLT files, it may make sense to have a corresponding set of XSpec files, one for each XSLT file. The current command line interface of `xspec.sh` offers no support for this.

As a workaround, people can write shell scripts or Makefiles like this:

[code]

While this works, this comes at a number of significant performance hits:
* The JVM is started multiple times.
* The same

[2019-10-31 10:56] AirQuick commented on #702
As for the repetitive JVM warmup issue, [Ant](https://github.com/xspec/xspec/wiki/Running-with-Ant#using-ant-to-run-multiple-xspec-tests) runs in general much faster than `bin/xspec.*`. It launches a child JVM only when running the compiled test. Also Ant can be mutli-threaded. Our CI took advantage of it recently (#656).

[2019-10-31 13:49] christianhujer commented on #702
I'll have a look into the Ant integration. It would just be nice to have this feature, as it's not convenient to add another heavy tool like Ant to a build pipeline just for this single purpose, and Ant is not good at everything else that this specific pipeline does.

[2019-10-31 17:52] AirQuick commented on #702
For the meanwhile, I submitted #703. With this change, you can experiment recursive parallel test:
[code]
This runs all `.xspec` files under `/tmp/test`.

[2019-10-31 18:22] AirQuick commented on #700
@Saxonica
In https://github.com/xspec/xspec/issues/700#issuecomment-548256306, is Saxon working as intended?

[2019-10-31 23:54] heidivanparys commented on #665
Yes indeed.

Thanks, that made sure I didn't get the same error anymore.

[2019-11-01 15:41] AirQuick commented on #665
Assuming we're merging #705 soon, I updated [Wiki](https://github.com/xspec/xspec/wiki/Writing-Scenarios-for-Schematron) based on @vincentml 's [suggestion](https://github.com/xspec/xspec/issues/665#issuecomment-538069142). ([diff](https://github.com/xspec/xspec/wiki/Writing-Scenarios-for-Schematron/_compare/a90ee8f9c8f6554dfe4bab9790ace2eab2ea2da4...4ae595abc54c712e1db751cf56ea725e56f3d53d))

[2019-11-02 15:15] #697 closed

[2019-11-04 03:28] AirQuick commented on #702
Merged #703 and added some description to [Wiki](https://github.com/xspec/xspec/wiki/Running-with-Ant#using-ant-to-run-multiple-xspec-tests) to reflect it.

[2019-11-04 10:34] #665 closed

[2019-11-06 01:04] AirQuick commented on #700
Reported to [saxon-help](https://sourceforge.net/p/saxon/mailman/message/36801209/)

[2019-11-09 11:16] AirQuick opened #716 "bin/xspec.* doesn't work with Schematron in path containing space"
If you use Saxon-HE, `bin/xspec.sh -s` does not work with file in path containing space:

[code]

The same command works if you use a commercial edition of Saxon:

[code]

Same on Windows (`bin/xspec.bat -s`).

Not a regression. `v1.0.0` didn't work regardless of Saxon edition:

[code]

[2019-11-09 12:55] AirQuick commented on #583
@xspec/xspec
Will be fixed by #717

[2019-11-09 15:25] #700 closed

[2019-11-09 15:28] AirQuick commented on #700
Closed this issue because
* The root cause lies in Saxon (https://saxonica.plan.io/issues/4376)
* #715 has implemented a test case based on this issue

[2019-11-11 16:43] #583 closed

[2019-11-12 16:09] #692 closed

[2019-11-12 17:33] AirQuick opened #720 "XTDE0440 when compiling with commercial Saxon 9.7"
Put this pair of XSpec files

**test.xspec**
[code]

**test-imported.xspec**
[code]

and compile the primary one with Saxon-EE 9.7.0.21. It fails:

[code]

The failure doesn't happen with `-opt:0` or Saxon-HE or Saxon 9.8+.

[2019-11-12 17:38] AirQuick commented on #720
I haven't investigated deeply, but I presume the problem to be in Saxon 9.7's optimization because
* The failure happens only with Saxon 9.7 + optimization
* `x:unshare-scenarios` mode is not creating namespace node dynamically

[2019-11-12 17:38] #720 closed

[2019-11-16 23:44] vincentml opened #728 "Allow pending attribute on x:expect* elements"
Currently, it is possible to mark expectations within a scenario as pending so that they will not be evaluated by wrapping the `x:expect*` elements within an `x:pending` element. In addition to the `x:pending` element, there is also a `pending` attribute which works in the same way but is only available on the `x:scenario` element. As a convenience, it would be helpful to be able to use the `pendi

[2019-11-17 10:37] AirQuick commented on #716
*nix is fixed by #679

[2019-11-17 21:01] cmarchand opened #730 "V 1.1.0 published on maven does not contain XSLTCoverageTraceListener.class"
Release 1.1.0 published on maven does not contain XSLTCoverageTraceListener.class. It was an error, and as people rely on it, it should be corrected.

Solution is to extract tag: v1.1.0, commit #2dba695, create a maintenance branch on this, modify pom to correct jar content, and publish a V 1.1.1 on maven central, which is just a patched V1.1.0 with class added.

I'll send a PR, but I also will pu

[2019-11-18 02:54] AirQuick commented on #730
v1.2.0 or later doesn't serve your use case?

[2019-11-18 08:12] cmarchand commented on #730
Well, I have a xspec-maven-plugin release that has a dependency on 1.1.0-SNAPSHOT, which include XSLTCoverageTraceListener class. But I have no idea of when this SNAPSHOT has been build. I'd like to replace it by a 1.1.1 but xspec API has changed between.

Maybe I was too quick to create issue. I would like to create issue before sending PR, but I'm not sure I'll send a PR for this. It's a special

[2019-11-18 13:23] cmarchand commented on #730
So.  I solved this by creating a 1.0.9 from a 1.1.0-SNAPSHOT jar I had in my local repo. The commit used to generate this SNAPSHOT was no longer in my repos.
Problem solved. Forget it.

[2019-11-18 13:23] #730 closed

[2019-11-20 09:26] AirQuick opened #733 "Imported x:param for Schematron doesn't take effect"
All the scenarios in `tutorial/schematron/demo-02-PhaseB.xspec` are Success when running directly.

Put this .xspec file in `tutorial/schematron/`

[code]

and a scenario is Failure. `<x:param name="phase">` in the imported `demo-02-PhaseB.xspec` does not take effect.

Not a regression. Repro not only on the current master but also on v1.0.0.

[2019-11-21 13:52] galtm commented on #477
Just noting that `@expand-text` is part of the "etc"; see #711 .

[2019-11-21 13:54] galtm commented on #575
Re #711 , in `//x:scenario[@expand-text="yes"][@pending]/x:scenario[@focus]`, should `@expand-text` take effect if not overridden? Answering that could be part of addressing this issue.

[2019-11-22 12:09] AirQuick opened #744 "Release v1.5.0"
@xspec/xspec
Not proposing releasing it immediately, but considering https://github.com/xspec/xspec/pull/713#issuecomment-557410012, we will probably want to release v1.5.0 well before the deadline of the next version of Oxygen so that a sort of matured version gets into Oxygen.

[2019-11-22 16:19] cirulls commented on #744
Sorry for the silence since end of September, I'm catching up on what's been going on the xspec repo in the past months.

I'm fine to do a release, do we have a tentative date?

[2019-11-23 08:23] AirQuick commented on #638
Closing this, because this turned out to be a Saxon bug and we now have a test (#641) that will be triggered when the next maintenance version of Saxon is released.

[2019-11-23 08:23] #638 closed

[2019-11-23 09:14] AirQuick commented on #744
I triaged the [projects](https://github.com/xspec/xspec/projects). (Not definitive. Just for thinking about this release at the moment.)
Now, only a few items are in [v1.5.0](https://github.com/xspec/xspec/projects/6). They are the ones that will be beneficial directly to Oxygen users. If we focus only on these items, I think we can release v1.5.0 in early or mid December... But you people enterin

[2019-11-25 13:13] galtm commented on #744
Making Oxygen integration a theme for 1.5.0 sounds good to me.

I will try to review #743 by 12/2. The holiday season is not really a barrier for me, in general.

[2019-11-26 16:32] cirulls commented on #744
Mid-December (after 18th December and before Christmas) is fine for me for doing a release.

[2019-11-26 17:30] AirQuick commented on #744
Thanks @galtm and @cirulls. So let's try to target that.

Though the commits were not nicely tagged as suggested by #622 except for `ci:`, I'll be able to pick up the notable changes among them if once the draft release note gets generated.

[2019-11-27 17:33] cirulls commented on #744
Sounds good. I'll generate the release notes automatically prior to the release and we can complement them with additional information inserted manually. Let's see how it goes as it is the first time we try generating release notes automatically instead of manually. We can document and review the process afterwards.

[2019-11-29 19:54] galtm opened #746 "Code Coverage fails for XSLT that calls transform()"
If the XSLT being tested calls the `transform()` function, XSpec can still work but the code coverage reporting fails. The Java exception mentions the `XSLTCoverageTraceListener` class that is part of this project. Here is a pair of files that reproduce the problem in Oxygen 21.1 using the "XSpec Code Coverage" transformation in #738.

**File code_coverage_java_error.xsl:**

[code]

**File code_co

[2019-12-06 13:36] AirQuick commented on #744
@cirulls
Can you possibly post a brief announcement to XSpec Google Groups that we'll be releasing v1.5.0  in a couple of weeks and encourage testing the latest master. They might be interested in these changes:

* Namespace
  Descendants of x:description can declare a default element namespace or bind a prefix to a namespace.

* Testing dynamic errors
  https://github.com/xspec/xspec/wiki/Writing

[2019-12-06 17:35] cirulls commented on #744
@AirQuick and @galtm: I posted this [message on Google Groups](https://groups.google.com/forum/#!topic/xspec-users/5KKDsvdPpzI).

[2019-12-07 02:03] AirQuick commented on #638
@wasmachien75
On my end, https://saxonica.plan.io/issues/4315 is still reproduced on Saxon 9.9.1.6.

[2019-12-07 02:50] AirQuick commented on #700
Saxon 9.9.1.6 fixes https://saxonica.plan.io/issues/4376 and now `$x:result?err?value` is a document node containing a Saxon-specific processing instruction and the message body.

[2019-12-07 09:03] michaelhkay commented on #638
If you have a test case that still fails, please supply it.

Getting serialization parameters right is complicated because there are so many different APIs that use the same rather simple underlying code but impose slightly different rules. We solved the problems we were aware of, but it doesn't surprise me in the slightest if there are other use cases that don't work as expected.

Michael Kay
Sax

[2019-12-07 11:01] AirQuick commented on #638
@michaelhkay
I just ran the case in https://saxonica.plan.io/issues/4315 as is.
[code]

[2019-12-19 10:11] AirQuick commented on #744
Thanks @cirulls for posing the message.

I opened #752 just now.

[2019-12-20 17:21] cirulls commented on #744
Thanks, I merged #752 into `master`. I should be able to do a release during this weekend. In the meantime I generated the release notes automatically using the github changelog generator (see #601), those with admin rights on the xspec repo can see the draft under [Releases](https://github.com/xspec/xspec/releases). I would like to edit manually the generated changelog as it is not as good as whe

[2019-12-23 19:24] AirQuick commented on #744
@cirulls
Thanks for making the draft release note at https://github.com/xspec/xspec/releases
I made a few minor edits in the highlights ("Testing dynamic errors", "Diff in test result HTML" and "Deprecation of Saxon 9.7 or less").
Do you have any other things that should be highlighted in the release note, @galtm ?

[2019-12-23 21:30] galtm commented on #744
@cirulls and @AirQuick
Thanks, both of you! I don't have other highlights to suggest. For the list that's there, I don't think my namespace item should be first. I would expect the namespace fix to interest fewer people compared to Testing dynamic errors, Diff in test result HTML, and Oxygen integration.

[2019-12-23 21:41] cirulls commented on #744
@galtm: I moved the namespace further down in the highlight section. I'm in the process of editing the release notes to make them more useful, I should give you an update (and possibly a release) tomorrow (24th).

[2019-12-23 21:47] galtm commented on #744
Thanks, @cirulls . (And if you change your mind and take out the namespace item entirely, I won't be offended.) FYI, I will be away from computers until the 26th.

[2019-12-24 16:00] cirulls commented on #744
An update on release v1.5.0:

- I deployed the XSpec artifact to Maven Central and I can see the artifact for v1.5.0 under [repo1.maven.org](https://repo1.maven.org/maven2/io/xspec/xspec/1.5.0/). I am waiting for the new artifact to appear under [search.maven.org](https://search.maven.org/search?q=g:io.xspec%20AND%20a:xspec&core=gav), it usually takes few hours to appear.
-  I published the releas

[2019-12-24 16:17] cirulls commented on #744
I published the release announcement on:

- [Google Mailing List](https://groups.google.com/forum/#!topic/xspec-users/u-exY4WD1bE)
- xml.com (I'll add a link when it's published)

[2019-12-25 22:53] cirulls commented on #617
Done [here](https://github.com/xspec/xspec/wiki/Deploy-XSpec-artifact-to-Maven-Central/_compare/fbce1b7aad43bdc014e0859e8feb9ae7add974e6...fc0ef11ec35c2d0eb91c1773908321d411c3388c).

[2019-12-25 22:53] #617 closed

[2019-12-28 10:07] AirQuick commented on #744
Thanks @cirulls for the release and the announcement including [xml.com](https://www.xml.com/news/2019-12-xspec-v150/).
Thanks also for refining the release note!

Closing this.

[2019-12-28 10:07] #744 closed

[2019-12-28 10:50] AirQuick commented on #622
Assuming we take the Angular convention, do you have any proposal for the details, @cirulls?
If you have, we can follow it for v1.6.0.

[2019-12-29 22:16] cirulls commented on #622
@AirQuick: I submitted #756 with an initial draft for contributing guidelines, it contains conventions and examples for git commit messages following the Angular conventions. Feel free to comment directly in that pull request.

[2020-01-15 01:29] jcronk commented on #127
@cirulls - I'll give you a minimal example:

Package: using the example package [here](https://www.w3.org/TR/xslt-30/#packages)
[code]

Stylesheet with use-package:
[code]
XSpec test:
[code]
Here's the saxon config telling it how to find the package:
[code]

In Oxygen XML, everything shows up without errors, and the test stylesheet will run and produce output, but if you try to run the XSpec test,

[2020-01-22 07:50] jbvalentin opened #760 "Escaping three dots wildcard in an <x:expect>"
Hi,

I'd like to create some XSpec tests on a stylesheet. Nothing very uncommon around, but in some cases the expected output sometimes look like: `<p>...</p>` --- yes, I need to test that the text within the `<p>` has been replaced by three dots.

Since the three dots in an `<x:expect>` is a kind of wildcard, is there a mean to "escape" or turn this test to check against the litteral "..." string

[2020-01-22 08:27] AirQuick commented on #760
Unfortunately I don't think it possible to disable the wildcard-like `...` in the current version.

Maybe you need extra `x:expect` to inspect the child nodes ignored by `...`. Something like this:

[code]

[2020-01-22 08:52] magwas opened #761 "feature request: stub and mock support"
As a developer I would like to have the ability to provide mocks and stubs for testing.

There is an xslt which uses functions and modes defined in other stylesheets. To able to test it, I need some of the following features:

1. simple import
  One or more xslt is imported in the xspec file. These xslts contain the stub implementation of the functions/modes the sheet under test depends on

2. moc

[2020-01-22 09:55] AirQuick commented on #761
This repo has [`find-examples.*`](https://github.com/xspec/xspec/tree/master/misc/find-examples). Does it resemble your goal to some extent?

[2020-01-22 10:21] AirQuick commented on #761
I often create a set of files like this:

**test/module1.xspec**
[code]

**test/module1.xsl**
[code]

**src/module1.xsl**
[code]

What you're seeking is more advanced or entirely different than this?

[2020-01-22 11:14] magwas commented on #761
I cannot see how find-examples would be applicable for this.

[2020-01-22 11:31] magwas commented on #761
Yes, this covers the simple import case as done by hand, and it is a useable workaround for the problem.

I would like to have something along the lines

test/module1.xspec

    <x:description stylesheet="module1.xsl">
       <x:import stubs="dependencies1.stubs">
       <x:import stylesheet="dependencies2.xsl">

    </x:description>

dependencies1.stubs

    <x:stubs>

       <xsl:function name="

[2020-01-22 13:08] AirQuick commented on #761
So you're looking for a simple scheme to inject/override/wrap some static or dynamic functions/templates when running XSpec tests, in order to mimic/verify data flowing through them?

[2020-01-22 18:46] jcronk opened #762 "XSLT 3.0: xsl:package and xsl:use-package"
It seemed to me that #127 is too broad, plus it's pretty old, so I wanted to pull this out and call a little more attention to it.  There are two points here:

1. XSpec won't run on xsl:package files.  Since the new package concept allows for reusable library code, people - I hope - would particularly want to write tests for XSL packages.
2. XSpec errors when running it on a stylesheet that contai

[2020-01-22 19:36] jbvalentin commented on #760
Hi,

thank you for your answer. I'll try the way you indicated.

Kind regards

[2020-01-27 16:00] cirulls commented on #127
@jcronk: thanks for providing an example and for raising #762 with more details. We labelled #762 as a feature request. We can't promise when/if this will be implemented but if you have ideas and would like to contribute some code or even just reviewing the feature when it's ready it would be great. Thanks!

[2020-01-27 16:09] cmarchand commented on #762
This one is quite complicated. First, we must change the xsl:import by a xsl:use-package in the compiled XSpec. This can be done without problem, with some limitations :
- private functions / templates / modes won't be accessible, so we can not call them to test them.
- a special configuration must be provided to Saxon, to explain where packages are located. See http://saxonica.com/documentation/i

[2020-01-29 11:45] AirQuick opened #763 "Namespace declaration order in HTML report is not stable"
HTML report for `test/end-to-end/cases/xspec-467.xspec` varies:

**[XQuery (Ant)](https://htmlpreview.github.io/?https://github.com/xspec/xspec/blob/16bc8b33259a0f9a2d54023ef46b5da67e0984f7/test/end-to-end/cases/expected/query/xspec-467-result.html)**
[code]

**XQuery (XML Calabash)**
[code]

**[XSLT (Ant)](https://htmlpreview.github.io/?https://github.com/xspec/xspec/blob/16bc8b33259a0f9a2d54023e

[2020-01-29 19:07] rolfkleef commented on #600
You could actually mix the two: if you publish `xspec.github.io` under the `xspec.io` domain, and then publish the `docs` directory of the xspec repository, it will be available as `xspec.io/xspec`. With a bit of planning and tweaking templates it can look like an integrated site with a general overview and a dedicated "reference section".

[2020-01-30 07:54] #763 closed

[2020-01-30 11:11] cirulls commented on #600
Thanks for the tip @rolfkleef, I didn't know it was possible to mix the two options. I'll have a look when I start tackling this issue (any help is welcome!)

[2020-01-31 09:10] AirQuick opened #766 "XProc does not indent results in HTML report"
For example
[code]
generates an HTML report where one of the results looks like this:
[code]

[Ant](https://htmlpreview.github.io/?https://github.com/xspec/xspec/blob/0f2ddd9ef20c6871c73082629943eddee19609e9/test/end-to-end/cases/expected/stylesheet/xspec-serialize-result.html#ELEM-233) indents the same result:
[code]

[2020-02-02 10:17] cmarchand commented on #600
@cirulls : at this time, I do not own xspec.io anymore. I'm gonna try to re-buy it.

[2020-02-02 10:22] cirulls commented on #600
@cmarchand: thanks for flagging this, keep me posted when you manage to re-register the domain. Thanks!

[2020-02-02 13:41] #716 closed

[2020-02-02 14:37] cmarchand commented on #600
Done. I'm able change DNS when you want.

[2020-02-04 05:15] #766 closed

[2020-02-09 10:19] AirQuick opened #777 "Variable declaration pollutes other variables"
**test.xsl** defines a variable, `$my:test-doc`:
[code]

**test.xspec** defines `$my:test` and expects `$my:test-doc` to be intact:
[code]

This `x:expect` fails:
[code]

[`test:generate-variable-declarations`](https://github.com/xspec/xspec/blob/c37bdb30c27ee431854adb051c8ed460855e5e69/src/compiler/generate-tests-helper.xsl#L38-L121) overwrites `$my:test-doc` with a document node whose content is

[2020-02-11 17:20] galtm opened #778 "Upgrading to XSpec v1.3.0 (or Oxygen v22.0)"
When upgrading to XSpec 1.3.0, some users might see that some of their pre-existing XSpec tests either have failing assertions or fail to build. The [XSpec 1.3.0 Release Notes](https://github.com/xspec/xspec/releases/tag/v1.3.0) page contains some relevant information in its Summary section (see 2nd and 6th bullets). This issue provides some examples of how incompatibilities can manifest themselve

[2020-02-11 17:27] galtm commented on #778
@AlexJitianu, I thought you might want to be aware of this (if you're not already), in case SyncRO Soft receives questions or tech support cases related to the XSpec upgrade.

[2020-02-16 08:38] cmarchand opened #786 "Reporting from XMLPrague"
Hello !
few things from XML Prague :
 - as Skeleton (default implementation of Schematron) is not maintained anymore, Schematron guys (Tony Graham and Andrew Sales) are evaluating to make Skeleton repo read-only, and to recommand to use [SchXslt](https://github.com/schxslt/schxslt), an implementation written and maintained by David Maus, which is very active. This is also an XSLT implementation, s

[2020-02-16 09:19] AirQuick commented on #786
Thanks for letting us know.

After releasing XSpec v1.6.0 within a few months, I'm thinking to propose bumping the XSpec version to v2.0.0. The primary motivation for it is migrating the internal implementation to XSLT 3.0 which effectively abandon Saxon 9.7. But this v2.0.0 would also be a good time frame to replace the built-in *skeleton* impl with SchXslt.

I've heard no progress on it. If some

[2020-02-16 09:26] magwas commented on #761
In the meantime I have explored this further. I intend to contribute code. Before that I would like to make sure that we implement something which is useful to others and gets accepted.

I guess [this article](https://www.linkedin.com/pulse/test-driven-development-xslt-magos%C3%A1nyi-%C3%A1rp%C3%A1d/) summarizes our way of thought. I have quoted the most important parts below.

Please advice about

[2020-02-18 12:13] #588 closed

[2020-02-20 12:36] AlexJitianu commented on #778
Thanks for the heads-up! Up until now, the only report we had was related to the addon that contributes the [XSpec Helper View](https://github.com/xspec/oXygen-XML-editor-xspec-support). I will release a new version that is compatible with Oxygen version 22.

[2020-02-20 13:57] AirQuick opened #793 "Coverage report does not take CR into account"
`src/reporter/coverage-report.xsl` assumes the stylesheet always consists of LF line ending.

[2020-02-20 19:43] galtm opened #796 "XSLT Code Coverage report uses excessively small font in some browsers"
When I generate a code coverage report using the XSLT Code Coverage transformation scenario in the XSpec project, the font size of the XSLT code appearing in the report looks too small in certain browsers. The screen capture shows Chrome (fairly small), Firefox (even smaller), and Edge (looks good) on Windows.

![codecoveragereport](https://user-images.githubusercontent.com/40716346/74971514-3d0ff

[2020-02-21 06:10] AirQuick commented on #796
This may be related to #388 .
`src/reporter/test-report.css` probably made some assumption about `font-family` when specifying `font-size`. #388 probably broke that assumption. (Such assumption does not work across platforms anyway.)

[2020-02-21 09:11] AirQuick commented on #761
If what you're aiming for has a clear advantage than a [generic method](https://github.com/xspec/xspec/issues/761#issuecomment-577112839), you may want to start from a *tiny* proof of concept and let us know.
See [*Under the hood*](https://github.com/xspec/xspec/tree/master/tutorial/under-the-hood) for how XSpec test suites are compiled.

Please note that even if the implementation looks fine, bef

[2020-02-22 00:44] #793 closed

[2020-02-22 18:02] AirQuick commented on #762
Without `xsl:import`, global `x:param` and `x:variable` cannot overwrite the ones in the stylesheet being tested.

So, with the given example, what if XSpec is written like this
[code]
and it is compiled into like this?
[code]
Will it serve the majority of use cases?
Note that XSpec (CLI and Ant) already allows users to specify a Saxon configuration file to be used when running the compiled styles

[2020-02-22 18:37] AirQuick commented on #746
Also, Code Coverage may be incompatible with `xsl:for-each/@saxon:threads`. (not tested yet)
Probably, the specification of Coverage XML needs some more careful thought.

[2020-02-22 18:43] jcronk commented on #762
Thanks for taking the time to look at this.  :)

Okay, that makes sense.  I've periodically been going through the source code to try and see how it works, but there's a lot in there to follow, and what XSpec does is completely unlike anything I've tried to do in XSLT.

If I'm understanding, this would allow me to test what's in the package itself (which is a good thing!) but I don't see a way tha

[2020-02-23 15:08] AirQuick commented on #762
What if XSpec takes the following measures when it finds `xsl:use-package` in the stylesheet being tested?

* Stop inserting global `xsl:param` (generated from global `x:param`) into the compiled stylesheet.
* Stop writing `<xsl:import href="stylesheet-to-be-tested.xsl" />` in the compiled stylesheet. Use `xsl:include` instead.
* Do not run the compiled stylesheet directly. Instead, run it via `fn

[2020-02-23 17:23] jcronk commented on #762
That sounds like a promising approach.

[2020-02-26 12:31] galtm commented on #639
You're probably right. While looking at #777, I found that in `test/xspec-777.xspec`, if I changed the parameter declaration to

[code]
then there was an error in the generated XSLT.

[2020-02-26 14:28] AirQuick commented on #639
Looks like we'll eventually need to replace `impl:` and `test:` lexical QNames with EQName.

[2020-02-26 14:33] galtm commented on #639
Sounds good (whenever someone has the spare time). Maybe I can work on this bug fix, but it wouldn't be that soon.

[2020-02-27 04:58] AirQuick opened #801 "x:label element accepts non-text nodes"
[`<x:label>`](https://github.com/xspec/xspec/blob/c0c1c224dbaac47718260c15ebc8534293d18e00/src/schemas/xspec.rnc#L98) accepts non-text nodes. But its reason is not known. The commit 148a65fcef7489fccfa29c3340ff812022798436 where `x:label` was introduced does not tell the reason.

Considering the commit replaces some `xsl:value-of` with `xsl:sequence`, it might have possibly wanted to report
[code]

[2020-02-27 06:44] AirQuick commented on #801
* `x:label` is not popular. I would say it's neglected. I haven't seen anyone (except me 😀) using it. The fact that `x:label` had been buggy for a long time (#308, #438) supports it.
* Labels are used at compile time for resolving `x:like`. So in general its structure should be simple.

Considering those points, I think we should replace this schema line
https://github.com/xspec/xspec/blob/349d614

[2020-02-27 08:20] AirQuick commented on #762
`fn:transform()` has its own limitations and uncertainty.
For now, what I come up with is a combination of these:
* Implement [`xsl:use-package`](https://github.com/xspec/xspec/issues/762#issuecomment-589982378) in XSpec
* Include your main stylesheet from a stub main package where the named mode rules are redirected to the unnamed mode rules:
[code]
* Test the stub main package from XSpec using a

[2020-02-27 08:30] cmarchand commented on #762
I think we could ask Michael Kay for help on this particular point. He previously helped XSpec project with the Coverage java code.
Did you commit on a particular branch, on which Mike could comment ?

[2020-02-27 10:00] AirQuick commented on #762
No, I haven't made any commit. I just tested my previous [comment](https://github.com/xspec/xspec/issues/762#issuecomment-591842028) with the given [example](https://github.com/xspec/xspec/issues/762#issuecomment-589986214).

What I probably need to know first (except for learning the packages itself...) would be a best practice when you have this working **A.xsl**

[code]
and working **B.xsl**

[

[2020-02-27 12:47] galtm commented on #801
@AirQuick
As another data point, my group doesn't use `x:label`, either. I don't see `x:label` mentioned in the two "getting started" wiki pages or the two "writing scenarios" wiki pages (each topic has one page covering Schematron and one covering XQuery/XSLT). Maybe that's why `x:label` is not popular.

I think it is fine to stop supporting structured labels and make the schema change you mentio

[2020-02-28 09:53] michaelhkay commented on #127
Just to mention another issue that may turn out to be related: static parameters. A particular challenge here is that static coupling of the test driver to the stylesheet under test (whether using xsl:import or xsl:use-package) doesn't allow testing of different values of static parameters in a single run. Dynamic invocation using fn:transform() could solve this problem, as well as the xsl:use-pac

[2020-02-28 17:21] cmarchand commented on #762
_I copy here mail exchanges with Michael Kay, on this topic :_

Interesting. It's difficult to advise because I don't really know enough about the constraints imposed by the current architecture.

I'd be inclined to say: if the stylesheet under test uses packages, then it must itself be (or be treated as) a package, which means XSpec should reference it using xsl:use-package rather than using xsl:

[2020-03-01 20:24] AirQuick commented on #127
@michaelhkay
Thanks for the advice. Looks like whatever we do with `xsl:import` or `xsl:include` or `xsl:use-package` in order to keep something working, something else doesn't work.
It's worth trying dynamic invocation. I'm working on it.

[2020-03-01 21:53] AirQuick commented on #762
Thanks, @cmarchand

After experimenting `xsl:include` and `xsl:use-package` which are relatively trivial and work to some extent, I'm inclined toward `fn:transform()` for practical reasons. The biggest reason is that `xsl:include` and `xsl:use-package` benefit only the package users. Another reason is that we'll not be able to have a plenty of test cases instantly.

I already have an implementatio

[2020-03-02 07:29] cmarchand commented on #762
Yes, I agree with you, `fn:transform()` should do the job, but it's an important amount of work to rewrite everything.
A question stays un-answered : is a private function in a package should be unit-tested ? On one hand, I'd be inclined to test everything ; on the other hand, a private function is not an API, and does not offer service to package end-users ; so it is a package implementation deta

[2020-03-02 15:09] #777 closed

[2020-03-05 05:27] apaluya commented on #778
@AlexJitianu thanks for your response to me on the OxygenXML support channel, I sent a note about this issue yesterday.

I've got XSL that handles DITA to markdown, backed by XSpec tests. Until the latest upgrades (Saxon 9.9, XSpec 1.3, OxygenXML 22), these tests worked as expected. Now, they fail because of a Saxon SXD0004 error -- in short, the result doc is not XML. That is, running XSpec tests

[2020-03-05 07:58] AirQuick commented on #778
Hi, @apaluya
"running XSpec tests, targeting XSL transforms to text" is a [Saxon 9.9 bug](https://saxonica.plan.io/issues/4315) which will be fixed in the next maintenance version (9.9.1.7...? probably). (#638)

[2020-03-05 08:45] AirQuick commented on #778
The reason why the sample test fails on Saxon 9.8 is that an extra LF is expected.
[code]
If the last LF in `x:expect` is delete it, the test passes.
[code]
---
But the XSpec result HTML reports this simple difference as if it were a complicated difference. That needs to be fixed in XSpec.

[2020-03-05 14:51] AirQuick commented on #638
Finally fixed on Saxon 9.9.1.7.

[2020-03-09 18:15] AirQuick commented on #801
Thanks @galtm for the valuable input.
Schematron did not come to my mind. Thanks for reminding me of it.
Though Schematron would generally be a good solution, I think we can be bold to ignore compatibility in this particular case of `x:label`. I opened #820.

[2020-03-09 18:47] galtm commented on #801
Sure, no problem.

[2020-03-10 12:22] AirQuick commented on #778
Fixed in #824

[2020-03-10 13:33] thendarion opened #825 "x:param in x:context is ignored"
or am I missing something?

[2020-03-10 14:18] #825 closed

[2020-03-10 15:23] AirQuick opened #826 "SXWN9000 when resolving QName with non-empty prefix"
Looks like Saxon-EE (or PE?) is too smart with this XSpec:

[code]

Saxon-HE:

[code]

Saxon-EE:

[code]

[2020-03-13 12:23] #801 closed

[2020-03-15 16:00] #826 closed

[2020-03-17 04:39] AirQuick commented on #685
Added a Wiki [page](https://github.com/xspec/xspec/wiki/Understanding-Test-Results) as a starting point. (Incomplete. Not added to the sidebar yet.)

[2020-03-18 13:29] yamahito opened #851 "Allow selection of Schematron phase"
Feature request to allow control of which phase is being tested - perhaps a root attribute like @schematron-phase?

[2020-03-18 13:34] vincentml commented on #851
Hi @yamahito

This can already be done by including a param element :

[code]

[2020-03-18 13:59] yamahito commented on #851
Nice!  I can see it is documented under 'writing tests', which I missed initially.  Sorry!

[2020-03-18 13:59] #851 closed

[2020-03-18 14:33] AirQuick commented on #851
You may also need `x:param` when you have to test [Schematron with text nodes](https://github.com/xspec/xspec/wiki/Testing-Schematron-with-Text-Nodes). Just FYI.

[2020-03-18 17:40] AirQuick opened #852 "Code Coverage doesn't work on Saxon 10"
http://www.saxonica.com/documentation/index.html#!changes/spi/9.9.1-10.0

[2020-03-19 22:57] #796 closed

[2020-03-26 11:19] willemvlh opened #873 "Stylesheets with global variables not supported?"
When I have a stylesheet with global variables that refer to nodes in the source document, Saxon returns a compilation error:
[code]
I see that after the initial xspec compilation, the test itself is invoked with xsl:initial-template, so there is no obviously no context. Is this a limitation? Or is it possible to set some kind of default input document?

[2020-03-26 12:35] AirQuick commented on #873
It is a limitation at the moment. The tested stylesheet is invoked with no source document.
For some reason I don't know, the source document is not defined in the [XSpec schema](https://github.com/xspec/xspec/blob/master/src/schemas/xspec.rnc).

A possible workaround would be rewriting your styleseet
[code]
with `xsl:param` which is `/` by default
[code]
and providing `$source-doc` from XSpec:
[c

[2020-03-26 12:46] AirQuick commented on #778
#873 is one of the instances of the global context item issue.

[2020-03-27 23:40] VTristan opened #877 "Xsl coverage report for the sonarQube platform"
Thanks to xspec, it is already possible to obtain detailed coverage reports for xsl
when the `-c` option is included during command line execution.

It might be interesting if one of the reports is 'understood' by [SonarQube](https://www.sonarqube.org/) .
Sonar could then do a statistical analysis of the xsl in a project.

Sonar provides [generic formats for test coverage](https://docs.sonarqube.o

[2020-03-31 09:53] AirQuick opened #891 "Release v1.6.0"
I'd propose releasing it around 25 April.

* [Project v1.6.0](https://github.com/xspec/xspec/projects/7)

Some of the notable changes on v1.6.0 would be:

* Text Value Templates (expand-text) (#711)
* Code coverage on Saxon-HE (#795)
* Compatible with Saxon 10.0
  * Note: Code Coverage does not work (#852)
* Compatible with Oxygen 22.0

Also I'd propose:

* v1.6.0 is the last version to support Sa

[2020-03-31 10:57] AirQuick commented on #762
@jcronk @cmarchand , I submitted an experimental implementation: #892

[2020-03-31 23:00] jcronk commented on #762
I tried testing the code on the pull request, but it's entirely possible that I missed a step or I'm doing something wrong.  I initially tried it with several xslt packages, got an error, decided to take a step back and test it with something more minimal, and I got the same error.  Here's the minimal example I tried it with:

Package:
[code]

Stylesheet:
[code]
and config:
[code]

In Oxygen XML,

[2020-04-01 00:05] AirQuick commented on #762
@jcronk Thanks for testing out the pr. Can you let us know these?
* Saxon version
* .xspec file
* Corrected version of stylesheet. Looks like the current version has an error:
[code]
* Did you run `test/external_*.xspec` successfully in the same environment?

[2020-04-01 02:35] jcronk commented on #762
Sure, sorry about that.

Corrected stylesheet:
[code]
Should return something like
[code]
From Oxygen, the version of Saxon is 9.8.0.12 (EE), and the version I have XSpec pointing to on the command line is 9.8.0.14 (EE).

Here's the xspec file:
[code]
I was expecting a failure here, obviously - I usually start with a test I know will fail so I can confirm what XSpec is getting for the result.  I t

[2020-04-01 09:48] AirQuick commented on #762
This `@select` should be `@href` like this:
[code]

or `x:variable` should contain a `configuration` element like this:

https://github.com/xspec/xspec/blob/f922358a21e40447a42e303f378cf655895c90ae/test/external_xslt-package_filter_use_static-param.xspec#L6-L16

I pushed some changes to the pr so that this kind of error is detected:
[code]

[2020-04-01 13:03] jcronk commented on #762
Thanks!  I corrected the variable to use href and now both of my basic examples work.  So far so good.

[2020-04-01 21:04] jcronk commented on #762
@AirQuick Here's a new one for you:

It looks like when I try to test higher-order functions, I get an error.  Here's an example of one:

Package file:
[code]

XSpec file:
[code]

When I run this (same setup as before), I get this (the whole stack trace is really long, so this is just the first bit)
[code]

There's a comment [here](https://www.saxonica.com/documentation9.9/index.html#!functions/fn

[2020-04-02 04:41] AirQuick commented on #762
I don't have an official answer from Saxonica, but it seems that if you use `vendor-options` (=`$x:saxon-config`), the invoked stylesheet can't call a function passed as a parameter, unfortunately.
So, if you want to call the parameterized function together with Saxon configuration specified, you probably have to use `SAXON_CUSTOM_OPTIONS`.

`SAXON_CUSTOM_OPTIONS` (command line) equivalence in Oxy

[2020-04-07 07:30] AlexJitianu opened #898 "Passing multiple catalogs to the XSpec ANT transformation"
Hi,

A common user of Oxygen and XSpec was asking if the catalogs configured in Oxygen are passed automatically to XSpec. The XSpec framework in Oxygen uses the ANT transformation so we rely on the `catalog` property which at first glance looks like it has to be just one file path. In Oxygen, there is an editor variable named `${xmlCatalogFilesList}` that expands to a comma separated enumeration o

[2020-04-07 08:50] AirQuick commented on #898
Sounds reasonable.
* The current `build.xml` converts `catalog` to `xspec.catalog.url` in order to work around a Saxon [bug](https://saxonica.plan.io/issues/3025#note-8) which is not fixed on Saxon 9.7. After we throw away Saxon 9.7 ([soon](https://github.com/xspec/xspec/issues/891)), we won't need the conversion. By removing the conversion, `catalog` should work just fine with `${xmlCatalogFilesL

[2020-04-07 13:55] AirQuick commented on #898
Unfortunately this may not be an instant task. Ant [`catalogpath`](https://ant.apache.org/manual/Types/xmlcatalog.html) seems to accept only native paths, whereas `${xmlCatalogFilesList}` is a collection of URLs possibly including non `file:` one.

[2020-04-07 19:16] AirQuick commented on #898
So I have implemented this feature as follows. If this is fine, I'll create a pull request after releasing v1.6.0.
* Default `catalog` property in `xspec.framework` is now `${xmlCatalogFilesList}`.
* Introduce a new Ant property `catalog.is.uri`
  * Default `false` in `build.xml`.
  * Default `true` in `xspec.framework`.
  * Will not be documented in Wiki for the time being.
* If `catalog.is.uri`

[2020-04-08 05:18] AirQuick commented on #891
@cirulls
What do you think?

[2020-04-08 06:14] AlexJitianu commented on #898
Wow! That was quick! :) It sounds great! I will add an issue on our side to make sure we don't miss this feature when we update the built-in framework.

[2020-04-09 23:01] jcronk commented on #762
Just to update on this, @AirQuick, I've managed to get XSpec to run for a good portion of the codebase I'm converting to packages, and so far everything looks great, at least for my purposes.  I ran into an issue with visibility where if I used a function *in the XSpec file* that was defined in the SUT, it would say it couldn't be found.  But maybe I'm not supposed to do that, and in any case, I h

[2020-04-10 07:12] AirQuick commented on #762
Right, as listed in the PR [description](https://github.com/xspec/xspec/pull/892#issue-396249022):

If this is going to be a really annoying limitation, we might need to consider introducing something like `x:include-helper` which includes a helper stylesheet (or query) into the compiled stylesheet (or query).

I remember I encountered it myself while writing a test for this PR. I didn't have time

[2020-04-10 09:08] AirQuick commented on #873
#892 provides some ways of setting the global context, although it has its own weirdness. For details, see the **Global context item where global xsl:param and xsl:variable are evaluated** section in the pull request description.

[2020-04-10 13:37] jcronk commented on #762
Ah, okay.  I should have revisited the PR before posting about it.

I was actually going to ask about this separately, since it wasn't directly in the scope of the original issue: something like `x:include-helper`, or maybe a `use-package` that passes through to the compiled stylesheet, would be extremely helpful in some cases.  I've been using `x:import` to bring in a set of variables, some of wh

[2020-04-12 08:10] AirQuick commented on #891
@cirulls , @galtm
Because so far we don't know a release note generator best suited for our convention (#601), I developed my own generator and generated another draft release note in https://github.com/xspec/xspec/releases.
Does it look fine?
* Some pull request types which will not interest end users are collapsed intentionally in `▸ Details`
* Since **Merged Pull Requests** and **Closed Issues*

[2020-04-14 10:59] AirQuick commented on #891
@xspec/xspec
This generator requires every merged pull request to have a milestone. To ensure it, I installed [PR Milestone Check](https://github.com/marketplace/pr-milestone-check) in this repository. It requires only minimum permission and seems to be used actively in https://github.com/strimzi/strimzi-kafka-operator/pulls. So I think it's safe.

[2020-04-15 08:45] cmarchand commented on #898
I use the same technic in xspec-maven-plugin when user specifies a catalog in plugin configuration. I create a catalog (to resolve xspec impl & schematron impl files) that references (using next-catalog) the user' one.

[2020-04-15 10:02] AirQuick commented on #685
I've filled in the missing parts of the Wiki [page](https://github.com/xspec/xspec/wiki/Understanding-Test-Results) including https://github.com/xspec/xspec/pull/662#pullrequestreview-301002574. @galtm, please feel free to edit it further directly in Wiki or improve any linguistic/technical points.

And I added **Understanding Test Results** to the Wiki sidebar.

[2020-04-15 10:02] #685 closed

[2020-04-15 14:40] galtm commented on #685
@AirQuick , the wiki page is really good. Thanks for clarifying so many things there! I made just a few minor edits directly in the wiki.

I changed "dim" to "grey" because naming the color seemed more direct. The page refers to colors by name in other spots. If you had a good reason for not saying grey here, it's OK to change it back to dim.

[2020-04-15 14:47] AirQuick commented on #685
Thanks @galtm for polishing it.
There was no reason for selecting "dim". Indeed "grey" looks better.

[2020-04-16 08:38] cmarchand opened #919 "[Report enhancement] Change the awful purple background on title"
[@AxelCourt](https://github.com/AxelCourt) and [@JimEtevenard](https://github.com/jimetevenard) do not like the purple background on report.

I create this issue to let them propose pull requests.

[2020-04-16 09:30] AirQuick commented on #919
HTML report definitely needs aesthetic improvement. One of the candidates we have seen is Oxygen's former style (#92).

[2020-04-18 09:41] AirQuick commented on #891
* No more changes likely to be made into the master branch.
* Updated the release note [draft](https://github.com/xspec/xspec/releases/tag/untagged-8a623fc963f74b025892) to reflect the recent changes.
* Announced in [Google Groups](https://groups.google.com/d/msg/xspec-users/zdoqR6NOX1g/JR2-ycSTAQAJ).

[2020-04-19 17:59] galtm commented on #891
Thanks for putting this together. The new generated draft is fine. (I'm not sure if most users care about the distinction between "Commented by" and "Reviewed by", but if you prefer the separate columns, that is fine.)

In the highlighted item, "Tested on Saxon 10.0 (Code Coverage does not work #852)", the role of the phrase in parentheses is a little unclear. Tested once with Saxon 10, enough to

[2020-04-19 18:01] galtm commented on #891
One more thing: I like the collapsed "Details" sections and your choice of what goes there.

[2020-04-20 06:53] AirQuick commented on #891
Thanks, @galtm
I regenerated [the draft release note](https://github.com/xspec/xspec/releases):
* Single **Contributors** column
* Revised **Summary**

[2020-04-20 12:14] galtm commented on #891
The summary looks great, and I like the new phrasing, "Compatible with". The single Contributors column is fine. (By the way, I was not opposed to identifying the author of each pull request, as that person probably did a lot more work than the commenters and reviewers.)

[2020-04-20 19:26] AirQuick commented on #891
That makes sense too. I split the column into **Author** and **Participants**.

[2020-04-22 13:04] galtm opened #927 "Test refactoring: Relocate code from test/xspec-eqname.xspec to test/xspec-variable.xspec"
After #910 is merged, move code from test/xspec-eqname.xspec to test/xspec-variable.xspec. See the TODO comments in those files.

[2020-04-23 10:01] AirQuick commented on #891
I've merged #890. Let's go on to this next step:

@cmarchand
Can you please deploy the v1.6.0 artifact (== the current master) to Maven Central at your convenience?
(Looks like @cirulls is busy nowadays. I don't have any expertise nor an account for these Maven things.)

[2020-04-24 02:48] AirQuick opened #932 "Automate Maven deployment"
Maven deployment depends on individual skills and has been a bit cumbersome. I'm thinking to automate it.

I searched GitHub Marketplace for a possible simple solution and [action-maven-publish](https://github.com/marketplace/actions/action-maven-publish) appears to satisfy the requirement described in [Wiki](https://github.com/xspec/xspec/wiki/Deploy-XSpec-artifact-to-Maven-Central). Its [source

[2020-04-26 09:31] cmarchand commented on #891
[Done](https://repo1.maven.org/maven2/io/xspec/xspec/1.6.0/).
I have also  created a tag, and changed pom version to 1.6.1-SNAPSHOT to avoid re-creating the 1.6.0.
Sorry for the delay, I was OFF two days.

[2020-04-26 09:36] AirQuick commented on #891
Thanks, @cmarchand
Let me reopen this issue for finishing the rest of the tasks.

[2020-04-26 09:46] AirQuick commented on #891
Changed where? The same goal will be achieved by #902, perhaps?

[2020-04-26 09:46] cmarchand commented on #891
I wasn't able to push pom modifications commit.

[2020-04-26 09:48] AirQuick commented on #891
Directly to the `master` branch?
The master branch is protected by a GitHub branch protection rule. You always need to go through a pull request.

[2020-04-26 09:52] AirQuick commented on #891
[Done](https://github.com/xspec/xspec/releases/tag/v1.6.0)

@cmarchand and @yamahito
You can tweet it :)

[2020-04-26 09:59] cmarchand commented on #891
Done !

[2020-04-26 14:35] dwcramer commented on #873
What if the URI of the resource is the thing you want to resolve?

[2020-04-26 23:54] AirQuick commented on #601
Generating release notes is fully automated as of v1.6.0. The generator is a simple XSLT stylesheet which I'd be happy to share. Unfortunately I can't share it, for the stylesheet includes some closed libraries.

[2020-04-26 23:54] #601 closed

[2020-04-27 11:59] AirQuick commented on #891
The release workflow completed. Thanks everyone.

[2020-04-27 11:59] #891 closed

[2020-04-27 17:28] AirQuick commented on #891
@xspec/oxygen-xml-editor-xspec-support
A wrap-up of XSpec v1.6.0 in view of Oxygen plugin:
* You can override `mode="x:generate-id"` instead of patching the stylesheet directly. (#734)
* The originating .xspec file URI is available by default in the report XML. (#735)
* The scenario ID is readily available in the result XML (#770), although you will still need to generate the ID by yourself using

[2020-04-27 19:04] #622 closed

[2020-04-28 12:17] AirQuick commented on #932
@cmarchand
Regarding this part of [Wiki](https://github.com/xspec/xspec/wiki/Deploy-XSpec-artifact-to-Maven-Central#instructions-for-first-time-setup):

Based on [this answer](https://community.sonatype.com/t/support-for-organizations-in-oss-sonatype-org/2164/2), I presume the following procedure would work:

1. I create an account at https://issues.sonatype.org/secure/Signup!default.jspa for this

[2020-04-29 21:37] cirulls commented on #891
@AirQuick, @galtm, @cmarchand: Congratulations for releasing XSpec v1.6.0! I'm really sorry for missing this release and being silent, I started a new job and have been quite busy with other things. I'm catching up on the XSpec emails and notifications of the past months, I'll try to be more responsive in the upcoming weeks.

Well done again on XSpec v1.6.0!

[2020-04-30 10:29] cmarchand opened #938 "Java 9 modules support"
Linked to https://github.com/xspec/xspec-maven-plugin-1/issues/46, jars that are published today do not respect Java 9 modules requirements.
We need to add :
 - a module-info.class
 - compliant package names
We need to define :
 - a module name
 - if we embed schematron implementation or if add a dependency

[2020-04-30 14:28] galtm opened #939 "XSLT code coverage incorrectly marks contents of `xsl:choose` as missed"
In XSLT code coverage reports, I'm seeing cases where `xsl:choose` is correctly marked as hit, but the contents of `xsl:choose` are incorrectly marked as missed. The problem seems to be in the trace file, not the interpretation of the trace or the formatting of the coverage report.

I'm not sure if the problem in the trace file is due to a bug in Saxon or the XSpec trace listener. Does anyone know

[2020-04-30 16:07] AirQuick commented on #891
@cirulls
We were waiting for you 😃
Now I'm inclined to resolve #932 so that any one of the @xspec/xspec members can push things forward even if all the other ones are busy.

[2020-04-30 16:10] vincentml commented on #891
Congratulations on the new job @cirulls !

[2020-05-01 05:01] AirQuick commented on #939
I tested quickly on v1.0.0, v1.2.0 and v1.6.0 with your sample and Saxon-EE 9.9.1.7. The problem was reproduced on all of them. Setting `SAXON_CUSTOM_OPTIONS=-opt:0` didn't help.
As for v1.2.0, no error message happened on my end.

[2020-05-01 20:14] cirulls commented on #891
Thanks all for your kind words and sorry again for the long silence.

@AirQuick: it's a great idea to automate the maven deployment, this will also speed up the release phase and make it less dependant on individuals being available. I'll comment directly on the issue.

[2020-05-01 20:29] cirulls commented on #932
This would be a great feature to add in order to speed up the release cycle and make it less dependent on specific individual being available.

I did [the initial setup of passwords and GPG keys](https://github.com/xspec/xspec/wiki/Deploy-XSpec-artifact-to-Maven-Central#instructions-for-first-time-setup) on my machine in order to deploy previous releases and I think I could reuse the existing cred

[2020-05-01 21:19] AirQuick commented on #932
Thanks @cirulls
First things first... I don't know how `io.xspec` group at Sonatype has been operated till today.
Is [this](https://issues.sonatype.org/secure/ViewProfile.jspa?name=xspec-io) the `io.xspec`'s authoritative account at Sonatype JIRA? Do @cirulls and @cmarchand share that one account?

[2020-05-01 21:27] cirulls commented on #786
I contacted @rolfkleef to see if he's available to work together on https://github.com/xspec/xspec/issues/600.

[2020-05-02 03:18] AirQuick commented on #932
And [this](https://stackoverflow.com/a/57917698/11853330). So we should use `samuelmeuli/action-maven-publish@201a45a3f311b2ee888f252ba9f4194257545709` while developing this automation. Once we confirm the developed automation works, we should fork the `samuelmeuli/action-maven-publish` repository under `https://github.com/xspec` and use `xspec/action-maven-publish@v1` thereafter.

[2020-05-03 10:07] AirQuick opened #940 "Version scheme"
Right now, the Oxygen add-on has [strange version numbers](https://github.com/xspec/xspec/blob/fc3d36262a3415211ceca4f686e6f4dac8b1df22/oxygen-addon.xml#L15-L21). To get everything aligned, I'm thinking to change the version number scheme a little bit.

Suppose that the version number consists of three parts, `X.Y.Z`, as we have now. I'm thinking to use the `Z` part for pre-releasing:

- Whenever

[2020-05-03 11:58] AirQuick commented on #939
With #941, you can see every `enter()` call on the trace listener.
It's called only on the line 3 and 5.

[code]

So, probably this is a very fundamental optimization by Saxon or its stylesheet interpretation we can't suppress.

I also took a look at an output from `java -cp "%SAXON_CP%" net.sf.saxon.Transform -explain -it:{http://www.jenitennison.com/xslt/xspec}main -opt:0 -xsl:xspec\coverage_cho

[2020-05-04 15:44] galtm commented on #939
Thanks for the due diligence.

I've asked Saxonica if they can take a look, and I'll report back here if I find out anything.

[2020-05-05 02:18] #505 closed

[2020-05-05 14:49] AirQuick commented on #932
@cirulls or @cmarchand
Can you leave "Confirmed" comment to [this Jira ticket](https://issues.sonatype.org/browse/OSSRH-57324), so that I can work or back you up on any deployment issues even when both of you are inactive?

[2020-05-06 00:14] galtm commented on #940
I don't have a lot of experience with the tradeoffs of different release numbering practices, but aligning the numbers from the Oxygen perspective with the numbers in other areas seems like a step forward.

[2020-05-06 10:36] AirQuick commented on #940
Thanks @galtm for the input.

The only drawback I see is that [the _git_ tags](https://github.com/xspec/xspec/tags) and [the GitHub releases](https://github.com/xspec/xspec/releases) will no longer ends with `.0`. That would be acceptable, I think.

Looking forward to hearing from @cirulls and, in particular, @cmarchand regarding the Maven version.

[2020-05-07 15:33] AirQuick opened #948 "Reorganize src/compiler/"
There are 7 `generate-*.*` files in [`src/compiler/`](https://github.com/xspec/xspec/tree/master/src/compiler). I think they are structured and named in a very confusing way.

- At a glance, there are 7 generators which you may think generate 7 different outputs. But actually, there are only 2 generators (XQuery and XSLT).
- `*-helper.*` and `*-utils.*`... Whenever I touch the code, I wonder what

[2020-05-07 16:39] cmarchand commented on #932
Yes, with @cirulls , we share the same account, the one you link above. I can send you account login / password if required by private mail. Send me your private mail address to one of my privates mail addresses defined in my account.
This Jira account is able to publish in groupId io.xspec, and descendants... I think my Jira accounts owns xspec-io account, or has sufficient privileges on, but I'm

[2020-05-07 16:52] AirQuick commented on #932
Thanks for the clarification, @cmarchand
Rather than sharing the credential, I would like to just add my account. Can you write "I confirm that this user should receive access" comment directly to this Jira ticket? https://issues.sonatype.org/browse/OSSRH-57324

[2020-05-07 17:35] cmarchand commented on #940
Hum... All releases preformed until now did not introduce non compatibility with previous releases, and except 1.0.0, were all minor releases, which is consistant with [semantic versionning](https://semver.org/). [Abstract is also available](https://rollout.io/blog/best-practices-when-versioning-a-release/).

Each release should be released as M.m.0, allowing to create patches to correct the initi

[2020-05-07 18:02] AirQuick commented on #940
Thanks @cmarchand for the insight.

Each release will still start from M.m.0, although it will be published only to the Oxygen add-on.
If we have any critical bug after the stable release, we will still fix it and increment the patch version and release to all the channels (Oxygen add-on, Maven, _git_ tag and GitHub Release). So I think the version is still semantic.

Putting `<xt:version>${projec

[2020-05-08 05:26] AlexJitianu commented on #891
Thank you again for the enhancements in the XSLTs with regards to @xspec/oxygen-xml-editor-xspec-support. Upgrading to XSpec 1.6.0 was a breeze! Porting those XSLT patches was always a bit of a challenge!

[2020-05-08 06:27] AirQuick commented on #891
Glad to hear that, and thanks for keeping the cool plugin updated, @AlexJitianu

In the next version, `v2.0`, I'm thinking to support "[the user requested some specific scenarios to be run](https://github.com/xspec/oXygen-XML-editor-xspec-support/blob/63615954126b7791a849f9bfb632cd5a8470d4fa/frameworks/xspec/oxygen-results-view/build_report.xml#L95-L101)" by default but in a different way (using `

[2020-05-08 15:26] AirQuick commented on #932
Working on this branch: https://github.com/xspec/xspec/commits/auto-deploy-maven
Right now all the secrets are just `dummy`.

[2020-05-08 17:35] AirQuick commented on #932
GPG secrets have been set and are working: https://github.com/xspec/xspec/runs/657082433#step:4:1451

Now we need to:
- have either @cmarchand or @cirulls write "Confirmed" in this Jira ticket: https://issues.sonatype.org/browse/OSSRH-57324
- settle the slightly new version scheme (#940)

[2020-05-08 19:25] cmarchand commented on #932
Done.

[2020-05-11 07:57] cirulls commented on #932
@AirQuick: it's looking good, you are much more advanced in this than me. I'll be happy to review the PR or configuration when it's ready.

[2020-05-11 08:03] cirulls commented on #940
I agree with @galtm, aligning the numbers in the XSpec version and add-on version will make everything more consistent and easier to track in case of bugs.

[2020-05-11 11:55] AirQuick commented on #932
Thanks @cirulls
Fortunately someone is actively working on an official GitHub Action to [add GPG sign support](https://github.com/actions/setup-java/pull/59). So I will use `samuelmeuli/action-maven-publish@201a45a3f311b2ee888f252ba9f4194257545709` for the meantime and later migrate to the official GitHub Action.

I'm [setting up](https://issues.sonatype.org/browse/OSSRH-57441) a dedicated account

[2020-05-11 18:03] AirQuick commented on #932
Now the automated deployment is working in the [`auto-deploy-maven`](https://github.com/xspec/xspec/tree/auto-deploy-maven) branch. Two `2.0-SNAPSHOT`s have been [deployed](https://oss.sonatype.org/content/repositories/snapshots/io/xspec/xspec/2.0-SNAPSHOT/) so far. The last action log is [here](https://github.com/xspec/xspec/runs/664224869#step:4:1493).

If we merge the `auto-deploy-maven` branch

[2020-05-12 07:09] cmarchand commented on #938
@AirQuick : may I contact you via private mail ?

[2020-05-12 07:12] AirQuick commented on #938
For this Java 9 issue?

[2020-05-12 07:20] cmarchand commented on #938
Yes.

[2020-05-12 07:28] AirQuick commented on #938
You can reach me at github.sgn3ynjd8g@airquick.dev but keep in mind I'm not familiar with Java :)

[2020-05-12 07:52] cirulls commented on #932
@AirQuick: I'll have a look later on today and give you some feedback.

[2020-05-13 07:23] cirulls commented on #932
@AirQuick: it looks good to me. I checked the deployed snapshots on [Sonatype](https://oss.sonatype.org/content/repositories/snapshots/io/xspec/xspec/2.0-SNAPSHOT/) and the action logs. Good stuff that stale snapshots are automatically deleted, that's going to be really useful when pushing to master. When GPG support will be available in GitHub Actions, I would be good to use that.

Do you want to

[2020-05-13 18:57] AirQuick commented on #600
Also it would be nice if we had a handy org-wide facility to publish casual messages.
https://github.com/semantic-release/twitter-together looked nice. I created a twitter account for experimenting it. _Very_ soon after creating the account, it got locked. I just gave up.

[2020-05-14 07:49] cirulls commented on #600
Would it be something like a blog area to announce new releases? Or just a twitter feed showing messages?

I'm planning to focus on a website for XSpec in the next weeks, I can't promise when it's going to be ready but I'll start putting something together.

[2020-05-14 13:23] AirQuick commented on #600
More like a blog area. But a blog would be too heavy and not so viral. That's why I thought a shared moderated Twitter account like https://github.com/semantic-release/twitter-together might be nice. It utilizes https://github.com/marketplace/actions/twitter-together.

[2020-05-14 14:23] AirQuick commented on #932
Opened #959

[2020-05-15 08:05] cirulls commented on #600
Ok, I'll add it to the requirements. I'm planning to use a static website generator like [Hugo](https://gohugo.io/) in conjunction with GitHub Pages so a blog area could also be as lightweight as editing a text file. It would be nice to have a dedicated Twitter account to post to, it could help spread news like new releases and functionalities. Once I have something working I'll share it here.

[2020-05-16 15:25] cirulls commented on #600
I set up an initial draft of the website at https://xspec.github.io

The website is set up using GitHub Pages and Hugo, I mainly followed [these instructions](https://gohugo.io/hosting-and-deployment/hosting-on-github/) to generate the website. The HTML/CSS generated by Hugo is in https://github.com/xspec/xspec.github.io. In the next days I will also commit the Hugo configuration that generates th

[2020-05-18 02:41] AirQuick commented on #600
I like the neat design. And your plan to update via pull requests sounds good. Thanks for the step forward.

[2020-05-19 03:55] #932 closed

[2020-05-20 23:42] #584 closed

[2020-05-22 15:27] rolfkleef commented on #600
I've [created a pull request](https://github.com/xspec/xspec.github.io/pull/1) for a Github Action that can generate the site from a separate branch (I've picked `cms` but it any name will do). The issue with organisation repositories and Github pages is that you can only publish from the master branch (for others you can choose to use a gh-pages branch or the /docs folder, but not here).

So with

[2020-05-23 10:07] cirulls commented on #600
Thanks @rolfkleef, that's great! I'll have a look at the PR and let you know in 1-2 days.

[2020-05-23 16:29] AirQuick commented on #898
#980 implements this.

[2020-05-25 15:58] #898 closed

[2020-05-25 17:57] AirQuick commented on #940
I opened #981 for releasing Oxygen v2.0.0 add-on.

[2020-05-26 09:38] AirQuick commented on #639
Fixed in #982

[2020-06-01 20:43] rolfkleef commented on #600
Thanks for merging @cirulls! I was able to [checkout and run your sources as `hugo` branch](https://github.com/xspec/xspec.github.io/tree/hugo) locally. Perhaps good to take further issues to the new repository and close this one?

I can help migrate the wiki here to the new repository, if that suits @AirQuick as well?

[2020-06-02 05:13] #940 closed

[2020-06-02 06:47] AirQuick commented on #600
Thanks @rolfkleef and @cirulls
Some wiki pages are linked directly from other sites. It would be helpful if we could lead visitors of each page to its corresponding new page after migration.

[2020-06-02 08:03] cirulls commented on #600
@rolfkleef: Thanks for testing, good that it works at your end too. Yes, I think we can close this issue (as far the website work is concerned) and move further work on the website on the repo `xspec.github.io`. Feel free to open issues and PR there.

Regarding the wiki pages, my original idea was to keep the XSpec wiki where it is (https://github.com/xspec/xspec/wiki) and provides links from the

[2020-06-02 08:42] AirQuick commented on #600
Wiki is easy to edit but collaborating on it is not very easy. Migrating to website would solve it probably?

[2020-06-03 09:40] AirQuick commented on #600
Ah, but the current website lacks search. That would be critical for documentation purposes.

[2020-06-03 21:42] cirulls commented on #600
It is possible to integrate search with a hugo website: https://gohugo.io/tools/search/

If this is a requirement for migrating the documentation to the website and allowing better collaboration, I can invest some time into implementing the search functionality on the website.

[2020-06-04 09:11] AirQuick opened #984 "Schematron location comparison doesn't work with SchXslt"
due to URIQualifiedName introduced by schxslt/schxslt#71.

"Using another implementation of Schematron" in [Wiki](https://github.com/xspec/xspec/wiki/Testing-Schematron-with-Text-Nodes#using-another-implementation-of-schematron) doesn't work with SchXslt v1.4.5.

[2020-06-04 09:53] ndw opened #985 "The 'debug' parameter in generate-test-utils.xsl shadows the compiled stylesheet"
There's a declaration for a `debug` parameter in the `generate-test-utils.xsl` module. Unfortunately, that module is imported after the compiled stylesheet so it conflicts with any `debug` parameter declared by the imported stylesheet.

As far as I can tell, the parameter isn't actually used at the moment as all references to it are commented out. I propose that the declaration should be commented

[2020-06-04 10:55] ndw opened #987 "It would be nice if XSpec noticed circular imports"
I have a directory of xspec files. I wanted to wrap them all up in a single file with imports. In the course of doing so, I managed to create a circular reference. (wrapper.xspec imported wrapper.xspec).

Curiously, this didn't cause any immediate problems. But days later when I added a top-level `x:param` declaration, that caused the compiled stylesheet to crash ("duplicate global variable").

Th

[2020-06-04 13:26] AirQuick commented on #987
`x:import` is supposed to eliminate duplicates based on node identity. I tested a simple circular `x:import` on Oxygen debugger and Ant and they seem to work fine. But somehow the command line (`xspec.bat` and `xspec.sh`) fails to identify the duplicate...

[2020-06-04 13:32] AirQuick commented on #987
Seems like the problem does not happen on Saxon 9.8 (.0.12, 14, 15) on my end.

[2020-06-05 11:47] Arithmeticus opened #989 "control-compiled.xsl fails to inherit XML 1.1"
I have an xspec file written in XML 1.1 because it handles control characters, but the XSpec test fails because of those characters. It seems that the generated control-compiled.xsl file does not properly inherit the 1.1 value for the version pseudo-attribute. For background discussion [see this oXygen forum thread](https://www.oxygenxml.com/forum/post58464.html#p58464).

[2020-06-05 13:47] AirQuick commented on #989
`saxon.custom.options=-xmlversion:1.1` ([Ant](https://github.com/xspec/xspec/search?q=saxon.custom.options&type=Wikis)) and `SAXON_CUSTOM_OPTIONS=-xmlversion:1.1` ([CLI](https://github.com/xspec/xspec/search?q=SAXON_CUSTOM_OPTIONS&type=Wikis)) are valid, but they deliberately take effect only at run time. I think enabling XML 1.1 at compile time needs to introduce a certain flag to `build.xml` and

[2020-06-05 13:53] AirQuick commented on #985
I happened to be planning to isolate unused lines. Fixed in #988.

[2020-06-05 14:07] #985 closed

[2020-06-05 16:04] AirQuick commented on #987
Saxon conforms to the standard, per https://sourceforge.net/p/saxon/mailman/message/37030023/ .
So I fixed this specific problem in #990.

This issue is still opened. The specification of `x:import` is not very much clear. There may be valid use cases which in part take form of circular imports... I'm not sure. Anyway I think at least a warning, if not an error, should be emitted.

[2020-06-05 18:19] ndw commented on #987
A warning is fine as far as I'm concerned. If you think there are legitimate use cases, then something should be done to eliminate the duplicate `x:param` elements or it won't work anyway.

[2020-06-08 10:44] AirQuick commented on #987
Reopening for the warning/error part.

[2020-06-08 11:34] AirQuick opened #991 "Global parameters per scenario"
https://github.com/xspec/xspec/pull/892#discussion_r429919869

When implementing this feature, consider accompanying it with a test similar to #1309.

[2020-06-08 12:05] AirQuick commented on #600
It would be appreciated if you could integrate some search functionality. Whether we migrate Wiki or not, searchability will be welcomed by everybody.
Any recommendation, @rolfkleef ?

[2020-06-09 19:27] galtm commented on #948
I also find the file names confusing. I don't have strong opinions about anything I'm writing here, so feel free to adopt or adapt the parts you like and ignore the rest.

Possible recasting of file names/locations, with the aim of distinguishing among top-level compiler files, subordinate compiler files, and files used at the test runner stage:

- src/compiler/compile-xslt-tests.xsl (renamed from

[2020-06-10 06:20] cirulls commented on #600
Sounds good, I'll try to implement a search functionality for the website. Feel free to post any other requirements. I'll probably migrate them as issues in the `xspec.github.io` repo over the weekend so that we can close this issue here.

[2020-06-11 13:01] AirQuick commented on #948
Opened #992.

No reason except that Oxygen suggested `.xquery` in **File** - **New** menu when I was creating new XQuery files. Do you know which one is popular? I don't have any XQuery expertise nor any preference.
Shall we follow BaseX (`.xq` for main and `xqm` form lib) mentioned [here](https://stackoverflow.com/q/51637619)?

Including moving code among files. Particularly `test:*` items. They

[2020-06-11 13:15] AirQuick commented on #948
`compile-xslt-tests.xsl` and `compile-query-tests.xsl` as the master files look nice and clear. Thanks for the idea.
You may possibly have even better ideas for the other files if we consider moving code among files?

[2020-06-11 13:48] galtm commented on #948
Maybe after any near-term code relocation is further along, we can take a fresh look at how to characterize the different files and reconsider file naming.

[2020-06-14 23:30] galtm commented on #948
That sounds fine to me.

[2020-06-15 08:10] AirQuick commented on #948
Opened #994 for XQuery file names.

[2020-06-18 22:13] djbpitt commented on #127
In the hope of helping to restart this issue, which seems to have fallen dormant for a bit: Currently (v. 1.6) XSpec reports that a file with a root `<xsl:package>` element is not an XSLT stylesheet, which is to say that XSpec apparently doesn’t support either packages or stylesheets (whether packages or not) that use packages with `<xsl:use-package>`. The minimal example from @jcronk last January

[2020-06-22 01:46] AirQuick commented on #639
Reopening for `xsl`.

[2020-06-22 01:48] AirQuick opened #1009 "Document transform()-based test"
Including two documentation-related points in https://github.com/xspec/xspec/pull/892#pullrequestreview-417664807

[2020-06-22 01:52] AirQuick opened #1010 "More tests for transform()-based test"
https://github.com/xspec/xspec/pull/892#issue-396249022

[2020-06-22 02:26] #762 closed

[2020-06-22 06:05] AirQuick commented on #127
#892 is in `master` now. Specifying the explicit packages (`xsl:package`) in `/x:description/@stylesheet` should be possible. (tested in [`test/external_xslt-package_arith.xspec`](https://github.com/xspec/xspec/blob/master/test/external_xslt-package_arith.xspec) and [`external_xslt-package_filter.xspec`](https://github.com/xspec/xspec/blob/master/test/external_xslt-package_filter.xspec))

I'm clos

[2020-06-22 06:05] #127 closed

[2020-06-23 17:51] djbpitt opened #1017 "Feature request: testing private functions in packages"
First, a big thank you to the developers for implementing support for testing packages.

<https://github.com/xspec/xspec/issues/762#issuecomment-593259802> observes that private functions within packages cannot be tested, and discussed why this is both desirable and not desirable. Specifically:

Insofar as private functions are called by public or otherwise exposed components within a package, the

[2020-06-23 18:21] AirQuick commented on #1017
Right now, you would need to write a small wrapper stylesheet like [this](https://github.com/xspec/xspec/blob/master/test/external_xspec-tested.xsl) where you expose some components in the included package. In that example, you can test the private `my:square` function in `xspec-tested.xsl` by specifying the wrapper `external_xspec-tested.xsl` in `/x:description/@stylesheet`.

[2020-06-25 18:29] AirQuick opened #1019 "Add GitHub Actions to Dependabot config"
after migrating to Dependabot v2 yaml.

https://docs.github.com/en/code-security/supply-chain-security/keeping-your-actions-up-to-date-with-dependabot

[2020-06-25 22:34] AirQuick opened #1020 "Expression containing '<' or '>' breaks XQuery"
This scenario works on XSLT, but not on XQuery.

[code]

[code]

[2020-06-29 12:09] AirQuick opened #1029 "Test attribute(catch) with xsl:message[attribute(terminate)="yes"] and xsl:function[attribute(as)]"
Add a test for https://groups.google.com/d/msg/xspec-users/bunHZ7gm_ek/0UDAmjSdAgAJ

[2020-06-29 13:22] AirQuick opened #1031 "Cannot create stylesheet elements using locally defined namespace"
With a namespace prefix:

[code]

[code]

With the default namespace:

[code]

[code]

[2020-06-29 21:19] rolfkleef commented on #600
Hi @cirulls @AirQuick - my time/availability is a bit scattered, but I've taken the liberty now to add a couple of issues to the new repo based on comments in this thread. Great to see so much happening for xspec itself, I hope to contribute a bit more to the website in the coming months!

[2020-06-30 08:03] cirulls commented on #600
@rolfkleef: thanks for raising the issues, I plan to work on the search functionality in July, I'll ping you when I have something working.

I'm closing this issue since the website is up and running and follow-up tasks have now been created in the xspec.github.io repository.

[2020-06-30 08:03] #600 closed

[2020-06-30 09:44] AirQuick commented on #1017
@jcronk
Just curious. Have you tested private functions using XSpec? If so, how?

[2020-06-30 13:17] jcronk commented on #1017
@AirQuick I haven't - in general, if a package has substantial enough private components that they need their own tests, that's a signal to me that I should separate that out into its own package with its own testable public API.  [A while back](https://github.com/xspec/xspec/issues/762#issuecomment-611911628) you mentioned maybe adding something like an `x:include-helper` tag, though, and I wonde

[2020-06-30 14:14] djbpitt commented on #1017
I’m working with a package that exposes 3 public (final) functions (same name, different arity), which rely on 16 private "helper" functions. The private functions are not used or needed anywhere except as helpers for these three public functions, so putting them in the same package as the public ones seemed optimally legible and maintainable. Each of the helper functions provides a small, specifi

[2020-06-30 15:00] #1020 closed

[2020-07-01 16:07] #1029 closed

[2020-07-03 15:07] #1031 closed

[2020-07-08 12:35] martin-honnen opened #1053 "Example in https://github.com/xspec/xspec/wiki/Writing-Scenarios#function-scenarios uses true() as parameter value but accompanying text explains false() is being passed in"
The section https://github.com/xspec/xspec/wiki/Writing-Scenarios#function-scenarios in the wiki says in the second and third paragraph:

So the code example has `<x:param select="true()"/>` with `true()` but somehow the accompanying text claims the resulting function call uses `false()`. That doesn't make sense, either the code sample or the text need to be changed.

[2020-07-08 13:32] AirQuick commented on #1053
Thanks for spotting this.
I fixed the accompanying text ([diff](https://github.com/xspec/xspec/wiki/Writing-Scenarios/_compare/136911cf2b9f0a18948e96e0db127a4a24108351...55cfb7b75903e45b4cea72da34439a42c2b9f276)). Does it look fine now?

[2020-07-08 13:36] martin-honnen commented on #1053
@AirQuick , yes, sure, looks fine.

[2020-07-08 13:52] AirQuick commented on #1053
Thanks @martin-honnen
If you find another error in Wiki, please open an issue like this at any time and it will be much appreciated.

(If we migrate Wiki to the standalone site (just an idea, not decided yet &mdash; xspec/xspec.github.io#2), we will be able to use pull requests for handling documentation errors.)

[2020-07-08 13:52] #1053 closed

[2020-07-10 14:20] jcronk commented on #1017
I don't know, I think we're all still figuring this out, since the package concept is new to XSLT 3.0.  That said, I think that there are some good reasons to only test the public API of a package - this way you're testing the visible behavior and not any of the implementation details, and that means that your tests don't necessarily have to change if the underlying implementation of your visible

[2020-07-10 15:01] AirQuick opened #1062 "Duplicate parameter name in function call results in weird set of parameters"
XSLT

[code]

XSpec (duplicate `x:param/@name`)

[code]

This test is silently successful. Internally XSpec invokes `my:subtract(1, 1)`.

[2020-07-10 16:18] djbpitt commented on #1017
@jcronk Thanks, Jeremy, for the response. As I wrote earlier, I'm not a software engineer, so perhaps I've simply misunderstood the purpose of testing, but I'll try to summarize my reasoning below, and if it is misguided, I'd be grateful for an explanation of why I shouldn't want to be able to do what I think I want to be able to do.

1. Make it possible, but not obligatory, to test everything. Th

[2020-07-10 17:10] AirQuick commented on #1017
@djbpitt

Does this method work for you in some cases?

[2020-07-10 18:00] djbpitt commented on #1017
@AirQuick The wrapper does not seem to work. Here is my version (filename *xspec-wrapper.xsl*):

[code]

*plot-lib.xsl* is a package (root element `<xsl:package>`), and I can run XSpec against it directly, testing its public (final) functions. To test the wrapper I created *xspec-wrapper.xspec* and copied the tests that work for *plot-lib.xsl* directly into a root element that begins:

[code]

I d

[2020-07-12 16:14] #1062 closed

[2020-07-20 07:21] mricaud opened #1090 "Indentation differences make test failed since 1.3.0"
Hi,

I  often use href attribute to refer external files in my XSpec tests. While moving from 1.0.9 to 1.3.0 (and furher versions to 1.6.0) most of my tests move from success to failed. I tried to understand why and it looks like this is an indentation problem.

I made a simple test with an XSL adding a wrapper element around <body> element.
It uses xspec maven plugin to launch the tests, the XSpe

[2020-07-20 15:50] mricaud commented on #1090
Thanks a lot @AirQuick for theses references !
So it was I bug ... which seems logical ! I think I loved this bug so I didn't want to be aware of it ;)
I close the issue then !

So using href attribute change the whitespace handling. It wouldn't be a solution to me to get the files content inside the XSpec because 1) thoses files are generated by the xslt (it would change the whole process) 2) we

[2020-07-20 15:50] #1090 closed

[2020-07-21 08:06] mricaud commented on #1090
I couldn't make strip-space=yes work on Oxygen 22:
![image](https://user-images.githubusercontent.com/6360878/88028429-f3f8d700-cb38-11ea-8c1d-01ba8abde533.png)
With this test:

[code]

I still get this error with ant :

I'll continue to investigate this, any advices welcome :)

I also tried to use xi:include like this :

[code]
I could lauch it with Maven using `<xi>on</xi>` in xspec-maven-plugin

[2020-07-21 09:11] AirQuick commented on #1090
@mricaud
Thanks for the feedback of a real use case.

Regarding `?strip-space` on Oxygen 22.1 Ant, you need to make these changes in the __Parameters__ tab of the transformation scenario:
- Set `saxon.custom.options` = `--recognize-uri-query-parameters:true`. Note the leading `--` and the middle `:`. This notation is based on `--feature:value` described in [Saxon doc](http://www.saxonica.com/docum

[2020-07-21 09:27] AirQuick opened #1098 "Enhance doc for whitespace-only text nodes"
- Based on #1090
- Including `catalog` mentioned in [a comment](https://github.com/xspec/xspec/issues/1090#issuecomment-661736746).

[2020-07-21 10:07] mricaud commented on #1090
Thanks again @AirQuick  for your quick and clear support.

I set everything as you said and it works : Test 5 is now succeding in Oxygen 22 :)
This solution would unfortunately not reach my production need yet because:

1. I need the catalog to be set (in my real use cases I use a catalog to resolve a lot of xslt dependencies)
2. I'm not sure I can set easily this saxon option with the xspec-maven

[2020-07-21 10:23] AirQuick commented on #1090
Regarding XInclude, your original `x:context` uses `@href`. So all the whitespace-only text nodes in `xml.xml` are kept intact and copied by the identity template in `xsl.xsl`. On the other hand, all the whitespace-only text nodes loaded from `xml.result.indent.xml` via XInclude are discarded, because XSpec believes they are embedded within `x:expect`.

I think you need to use XInclude in `x:conte

[2020-07-21 10:51] AirQuick commented on #1017
@djbpitt
Sorry to hear it didn't help. Somehow I had been thinking about only implicit packages. You're right, the wrapper doesn't seem to work with explicit packages.

The current XSpec implementation does not support testing private functions. But that's not because it's a bad practice. The lack of support is purely due to technical limitations. If there is a clean lightweight way to forcibly ac

[2020-07-21 12:29] djbpitt commented on #1017
Thank you, @AirQuick, for the follow-up. I’m not sure what qualifies as clean or lightweight, and I don’t know much about how XSpec works under the hood, but since you mention being at a loss to identify a way to test private functions, I wonder whether the following might suggest a way forward: Could the testing process create shadow copies of packages, designate all functions in the copy as publ

[2020-07-21 14:29] mricaud commented on #1090
Awsome ! Both solutions work fine, thanks a lot.

I'm almot ready to update my XSpec framework in production !
The last thing I'd like to resolve is about this xml:base attribute which make the test fail when comparing the whole document.
Some of my tests need to check for attributes at root element's level, that's why I would be glad to find a way to ignore this xml:base attribute added by xi:inc

[2020-07-21 14:57] mricaud commented on #1090
This works for the whole document
[code]
But this is really bad (what if some text elements contains `"xml:base="foo"`)

[2020-07-21 16:33] AirQuick commented on #1090
Adding `xmls:base="..."` to `xml.result.indent.xml` seems to work. Does it help?

xml.result.indent.xml:

[code]

XSpec:

[code]

[2020-07-21 17:02] mricaud commented on #1090
Oh thanks for giving a try ! I thought this xml:base would be overrided (as xi:include spec says)
That might be a solution, but I'll have to modifiy a lot of files in my real code (about 1000 tests)
But I'll keep this idea !

I had a look at fn:transform option, it works too with :

[code]

And delete-xml-base-attribute.xsl in the same folder as the xspec:
[code]

But this is really to complicated

[2020-07-22 07:25] AirQuick commented on #639
`xsl` fixed in #1099.

[2020-07-22 08:37] AirQuick commented on #1090
Currently, it's not possible.

I usually write a stylesheet like this

[code]

and specify it in `/x:description/@stylesheet`. (`test-target.xsl` is what I actually want to test. `test-helper.xsl` contains some functions/variables to be used in `x:expect/(@select|@test)`.)

That's a bit tedious, though. So I'm thinking to implement something like `x:include-helper` which includes a helper styleshe

[2020-07-22 09:24] AirQuick commented on #1090
- We've seen multiple cases where the user does not like the deliberate nature of `x:*/@href`.
- XInclude has its draw back:
  - `@xml:base` contamination (from the point of view of our use cases)
  - Supporting XInclude both in CLI and Ant costs some tests and implementation.

So I'm considering implementing a new element `x:include` (not `xi:include`) which would work like this:

With this exter

[2020-07-22 13:17] galtm commented on #1090
A variation is to use `xsl:import` to reference `test-target.xsl` so that `test-helper.xsl` can override named templates if necessary. I normally work with a small number of large stylesheets, so the proportion of extra one-time-setup effort and extra files is small. In that context, `x:include-helper` would be convenient but not essential. I guess if I had a large number of stylesheets, the setup

[2020-07-22 14:37] mricaud commented on #1090
I really like the idea, I think it would be really usefull.
I also use the trick to test an extra xslt that override the one to be tested. Typically to add the html content-type meta when the serialization is set to HTML, or to replace some attribute value (e.g. timestamp) by "...". But as you said this is really tedious.
By the way I saw in issue #227 how to deal with these serialization issues u

[2020-07-22 16:25] AirQuick commented on #1090
I don't know exactly why `@href` was designed differently from the embedded content. Maybe it was designed deliberately so for keeping the document base URI. Perhaps it partly comes down to the same reason as why `fn:doc()` does not have a parameter to control whitespace-only text nodes. Anyway, I find _"XSpec won't touch anything about `@href`"_ very useful when I write tests for testing XSpec __

[2020-07-23 13:04] mricaud commented on #1090
Pull request already created for x:helper, this is more than reactiv 👍
Adding xslt instructions within XSpec (like schematron) doesn't seems to be a good idea?
Oh I didn't thought about xquery modules, that's true.

About xi:include and white-space text nodes: I get it work on a real project which is a XSLT library :  https://github.com/ELSGestion/els-sie-xsl-lib/tree/xspec1.6.0-saxon9.9.1.7 (we h

[2020-07-25 17:18] #639 closed

[2020-07-26 08:41] AirQuick commented on #1017
Thanks @djbpitt for sharing the idea. I'm afraid that creating a temporary copy of the package would be costly and should generally be considered as the last resort.

What if you define the private visibility attributes as shadow attributes and what if the static parameters are supported by XSpec?
I mean something like this:

[code]

[code]

This seems to work on my end. (Note that `x:param/@stati

[2020-07-26 11:49] AirQuick commented on #1090
That would be nice.
If we were to implement it, I think it would be better to provide a utility function (like `x:delete-patterns()`) than to introduce a new attribute (like `<x:expect ignore="patterns">`).

By "a utility function", I mean

[code]

would remove the items (that matches `/a/@* | //Q{b-uri}c/d[@e]` or one of the other patterns) from both the expected result sequence and the actual re

[2020-07-26 16:41] djbpitt commented on #1017
@AirQuick Thank you for this creative idea. If you’d like to implement support of `x:param/@static`, I’d be happy to give it a try. It sounds like a not very burdensome way to support testing private functions.

Looking forward, though, I would normally want to weigh the costs and benefits of competing solutions, and not identify any of them as a last resort because of a cost until I had assessed

[2020-07-29 09:55] mricaud commented on #1090
Thank you for these explanations @AirQuick !

The idea of the utility function `x:delete-patterns()` looks really nice and would allow precise customization.
Maybe I could solve my white-space issue using this kind of pattern: `text()[matches(normalize-space(.), '\p{Z}')]` to ignore white-space only text nodes :)

Ok that's clear, thank you for this reminder.

I understand the rule "XSpec won't mo

[2020-07-29 11:38] AirQuick commented on #1090
`select="doc()` sounds like a handy workaround.
The base URI of each element is not kept in the compiled stylesheet/query. (And I don't know how to keep it in the compiled query.) That's usually fine, because `@href` is resolved as absolute in the compiled stylesheet/query.
For your use case, a global variable `$x:xspec-uri` is available at run time. It holds the absolute URI of the XSpec file (th

[2020-07-29 17:36] AirQuick commented on #1017
You're right, the shadow attributes will still cost something. But at least it is based on the standard spec, so you will be able to rely on it even when you switch from XSpec to another testing framework.

I opened #1120. Can you try it and let us know what you find out in it? Your possible use case is demonstrated in [`test/external_xslt-package_arith_private.xspec`](https://github.com/AirQuick/

[2020-07-29 21:12] djbpitt commented on #1017
@AirQuick Thank you! I’m at (that is, “at”) Balisage intensively this week, but I’ll check #1120 out over the weekend and report back. Plugging a custom XML parser into Saxon is beyond my ability, but along those same lines I could, in a shell script, transform my real library (using XSLT) to one that changes the visibility of the functions, creating my own shadow copy, and then run the tests agai

[2020-07-30 11:29] AirQuick opened #1121 "Breaking changes in v2.0"
I'll keep this list updated. Please let us know if something is missing or if you find something bad.

### For end users

- Saxon 9.7 is no longer supported
  - 9.8 or later is required
  - 9.9 is recommended
- Oxygen 19.x or older is no longer supported (due to its outdated built-in Saxon version)
  - 20.0 or later is required ([add-on configuration](https://github.com/xspec/xspec/blob/v2.0.7/oxy

[2020-08-02 05:36] AirQuick commented on #231
#1128 supports this.

Usage is demonstrated in tests:

- [Saxon config](https://github.com/xspec/xspec/blob/28d56244de2fc313f91b0a3ec8c17e8ed1405a2b/test/compiler-saxon-config/config.xml)
- [Ant command line](https://github.com/xspec/xspec/blob/28d56244de2fc313f91b0a3ec8c17e8ed1405a2b/test/xspec.bats#L1534-L1556)

[2020-08-03 15:39] #927 closed

[2020-08-06 12:19] AirQuick opened #1135 "Coverage reporter fails to resolve stylesheet URI via xml:base"
When `/x:description[@xml:base]` has relative `@stylesheet`, `coverage-report.xsl` crashes.

[code]

[2020-08-06 15:37] #231 closed

[2020-08-07 00:32] #1135 closed

[2020-08-07 06:15] AirQuick commented on #1098
[Done](https://github.com/xspec/xspec/wiki/Whitespace-only-Text-Nodes/_compare/01587dbdfaa9c43b31f127132e343f0a7acae85e...929075258fbe16047e98cd6ba99756785e316630)

[2020-08-07 16:39] AirQuick commented on #989
Implemented in #1141.

[2020-08-08 19:39] #989 closed

[2020-08-09 17:53] #984 closed

[2020-08-10 08:07] willemvlh opened #1147 "Reporting errored out tests"
Currently, when a runtime error occurs when running a test suite, execution is halted and the test report is not generated.
Would it be a good addition to, instead, still generate the report with mentioning which tests errored out and report the error? I would think that with XSLT 3's addition of `<xsl:try>`, this is fairly trivial to implement.
(Perhaps this already exists and I didn't find it.)

[2020-08-10 12:55] AirQuick commented on #1147
There is [`x:scenario/@catch`](https://github.com/xspec/xspec/wiki/Testing-Dynamic-Errors) available on XSpec v1.5.0 or later. It isn't designed to report which tests errored out. It's designed to test your expected errors. But probably it works for you.

[2020-08-10 19:51] #733 closed

[2020-08-10 22:13] AirQuick commented on #948
Opened #1194 for `generate-*-utils.*`

[2020-08-13 17:59] cedporter opened #1155 "Indentation not present in expected output flagged as difference in comparison"
I have this simple test:
[code]

The output is formatted exactly as shown:
[code]

But, when the comparison is executed. This test fails, because the expected result now appears as:
[code]

![image](https://user-images.githubusercontent.com/10553110/90170117-87ef4480-dd6d-11ea-9820-d8cc2159113d.png)

Note the added new lines/indentation in the description. It's not present in the source. I even at

[2020-08-14 01:33] AirQuick commented on #1155
It doesn't seem to be an indentation issue. If it were indented, it would be reported with `\n` (U+000A) and `␣` (U+0020) and the report would be something like this:

[code]

---

Probably your stylesheet generates `<xpath:string>` containing a _text_ node that is equivalent to

[code]

whereas your expected XML file (`wnTopicOutput1.xml`) has an _element_ `<p>`:

[code]

[2020-08-14 02:32] AirQuick opened #1156 "xml-1-1_schematron.xspec often fails on some CI systems"
[`test/end-to-end/cases/xml-1-1_schematron.xspec`](https://github.com/xspec/xspec/blob/master/test/end-to-end/cases/xml-1-1_schematron.xspec) often fails on Travis CI.

When it happens, the report XML is broken like this

[code]

or broken like this

[code]

The correct report should be

[code]

The problem is not consistently reproducible:

- It does not always happen.
- The broken XML report var

[2020-08-14 11:54] AirQuick commented on #1155
#1158 fixes the confusing report (the left-hand side __Result__).

[2020-08-14 15:18] cedporter commented on #1155
You're exactly right, and the bug fix you've submitted would be an excellent improvement. Thanks for the help!

[2020-08-16 03:19] AirQuick commented on #948
Opened #1162 for `generate-*-tests.xsl`.

As for the rest of the files in `src/compiler/`, I'll open another pull request after completing #1162.

[2020-08-17 08:15] #1155 closed

[2020-08-27 08:43] AirQuick commented on #948
Opened #1205 for `generate-*-helper.xsl`.

[2020-08-29 15:59] AirQuick commented on #786
http://schematronist.org/pipermail/schematron_schematronist.org/2020-August/000084.html

[2020-09-02 04:18] AirQuick commented on #446
Fixed by #1222.

@galtm,
Are you aware of any other crashing cases?

[2020-09-02 12:45] AirQuick commented on #948
#1223 completes this reorg. It ended up with more changes than I had initially thought and we had discussed here. It's by no means final. Please feel free to propose any other forms.

[2020-09-02 12:46] AirQuick commented on #1156
For the first time, this problem happened on GitHub Actions (macos-latest, Java 8, Saxon 9.8).

[2020-09-02 14:58] galtm commented on #948
Thanks for making all these improvements! :) They will surely make it easier for everyone to maintain this code and maybe also make it easier for new contributors to join this project.

[2020-09-02 15:06] galtm commented on #446
@AirQuick ,
No, everything I know about this bug is in my earlier comment.

[2020-09-02 23:00] galtm commented on #446
While reviewing #1222, I found another instance of a bug that is fixed by that PR. It is similar to the tests you included in #1222 but not identical.

[code]

[2020-09-03 11:20] #948 closed

[2020-09-06 05:22] #446 closed

[2020-09-06 09:20] AirQuick commented on #746
Fixed by #1227

[2020-09-11 10:01] AirQuick commented on #1121
No more breaking changes are in sight.

As for [the Oxygen XSpec Helper View](https://github.com/xspec/oXygen-XML-editor-xspec-support), I've already made necessary changes in my local fork. I'll submit a pull request to https://github.com/xspec/oXygen-XML-editor-xspec-support/pulls as soon as we release XSpec v2.0. So I hope you won't have to do many things, @xspec/oxygen-xml-editor-xspec-support

[2020-09-11 12:27] AirQuick commented on #938
@cmarchand
Can we close this issue?

For the record, we now have these:

- (automatic) module name
  https://github.com/xspec/xspec/blob/838ff9efce04552e885cbe40dd6f65d155b8a262/pom.xml#L158
- XSLT stylesheets stored in in distinct directories
  https://github.com/xspec/xspec/blob/838ff9efce04552e885cbe40dd6f65d155b8a262/pom.xml#L81
  https://github.com/xspec/xspec/blob/838ff9efce04552e885cbe40dd6

[2020-09-11 13:07] cmarchand commented on #938
I agree, we can close this one.
Thanks a lot

[2020-09-11 13:10] AirQuick commented on #938
Thanks, @cmarchand
Closing this.

[2020-09-11 13:10] #938 closed

[2020-09-11 14:09] AirQuick commented on #1098
[Done](https://github.com/xspec/xspec/wiki/Whitespace-only-Text-Nodes/_compare/929075258fbe16047e98cd6ba99756785e316630...5ff16659a83e40b83c940ba2a4caeb9ea6ecccf3)

[2020-09-11 14:09] #1098 closed

[2020-09-14 01:26] #746 closed

[2020-09-17 17:22] AirQuick commented on #1009
Added a Wiki [page](https://github.com/xspec/xspec/wiki/External-Transformation).

[2020-09-22 08:46] mricaud commented on #1090
Hi,
Sorry for this quite late reply. I was about to implement the last solution with fn:doc and $x:xspec-uri but I just realized that the test was always successing even if the expected file is wrong.

This is the test :
[code]
This test succeed, as expected, but when modifying xml.result.indent.xml it still succeed and it should not.
I try a workaround by deleting the `test` attribute, then I get

[2020-09-22 21:02] #1010 closed

[2020-09-23 08:10] AirQuick commented on #575
If we make any changes, we may want to consider accumulator: https://github.com/xspec/xspec/pull/1225#issuecomment-696858512

[2020-09-23 09:50] AirQuick commented on #1090
I spoke too soon when I wrote "`select="doc()` sounds like a handy workaround."
Actually, whitespace-only text nodes loaded by `select="doc()` are kept intact. I've updated [Wiki](https://github.com/xspec/xspec/wiki/Whitespace-only-Text-Nodes#loading-external-xml-containing-whitespace-only-text-nodes) to clarify it.

Regarding the always successful test,

the test will always be Success regardless

[2020-09-23 14:03] mricaud commented on #1090
Oh nice about the `x:include` (not `xi:include`), I didn't realized it was implemented. Waiting for 2.2 then !
My `doc()` strategy don't change how whitespace text nodes are handle, sounds normal, but well I gave a try :)

About the successfull test regardless of the content I often have to write `select="/*"` and `test="/*"` so my tests work, but it's not always successfull.

I always had a confu

[2020-09-24 12:22] AirQuick commented on #1090
There are three ways of describing expectations in `x:expect`. Two of them are related to `@test`.
I've made a major rewrite in the "Expectations" section of [Wiki](https://github.com/xspec/xspec/wiki/Writing-Scenarios#expectations) based on that.

I think `x:expect` (particularly its `@test`) shouldn't have been designed in its current form, but unfortunately it's been there for more than 10 year

[2020-09-24 13:35] mricaud commented on #1090
Really nice job in the wiki, this make everythings clear to me now !

Thanks a lot for taking time to write this, I think this will be really usefull for everyone using xspec.

Even if the `test` design is not perfect, waiting for 3.0 with a good documentation is fair enought :)

[2020-09-24 15:07] #1009 closed

[2020-09-25 06:51] dependabot-preview[bot] opened #1243 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/xspec) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/xspec/update-logs/48709703).

[2020-09-25 07:13] AirQuick commented on #1243
dependabot/dependabot-core#2550

[2020-09-25 22:27] #1243 closed

[2020-09-27 15:36] AirQuick commented on #1121
Added #1245.

[2020-10-01 11:12] #873 closed

[2020-10-03 11:21] AirQuick opened #1267 "attribute(position) works too differently from attribute(name)"
- `@position` can be duplicate. (fixed by #1266 and #1270)
- `@position` is not absolute but relative. (mitigated by #1269 and #1270) (fixed by #1273)
- `@position[. le 0]` is allowed. (fixed by #1268)
- `x:param[empty(@position)]` precedes `x:param[@position >= 1]`. (fixed by #1273)

[2020-10-06 11:21] AirQuick commented on #1121
Added #1267.

[2020-10-13 09:39] yamahito opened #1277 "XPath issues in x:expect-assert/@location"
Possibly one for @vincentml ?

So it seems that XPath statements like the following:
[code]
work fine in `x:expect-assert/@location`, but ones that use value comparisons, such as
[code]
do not!

May I suggest one or more of the following fixes?

1. Clarify this restriction in the wiki (short-term)
2. Change the comparison of XPath statements to use 'is' function to confirm that the xspec location

[2020-10-13 09:56] AirQuick commented on #1277
Can you try out the latest `master` branch? It includes #1107 which uses `is`.

[2020-10-13 10:05] yamahito commented on #1277
Excellent work!  I will double check that this works using the master branch when I get an opportunity, but I don't think we need to keep the ticket open if you've already fixed the issue - I trust your work ;)

When will we see you at an XML conference, @AirQuick ?  I think quite a few of us owe you some beers/chocolate/appreciation :)

[2020-10-13 10:05] #1277 closed

[2020-10-18 10:30] #1267 closed

[2020-10-29 19:54] thendarion opened #1283 "x:param in x:context yield inconsistent results"
x:call ignores x:param in x:context

why is that?

complex x:call tests are now impossible :(

[2020-10-30 02:32] AirQuick commented on #1283
Can you provide a minimal reproducible example?

[2020-10-30 09:43] thendarion commented on #1283
sure. I wrote a test to illustrate what's confusing me and it turns out that it's way more confusing than I initially thought :D

Untitled1.xsl
[code]

Untitled.xspec
[code]
where some tests pass and some tests fail o.O

(note: I'm going to change the title based on this finding)

[2020-10-30 10:18] AirQuick commented on #1283
Thanks for the example. I'll look into it.

You wrote "complex x:call tests are **now** impossible". Do you imply that it was possible on an older version of XSpec and a recent version now breaks it?

[2020-10-30 11:00] thendarion commented on #1283
thanks :)

that comment was based on my preliminary observations, please ignore it

[2020-10-30 11:15] AirQuick commented on #1283
It looks to me all the example scenarios are working as expected. Here's some clarifications:

### Global parameters

[code]

To provide this global parameter from XSpec, you should use `/x:description/x:param`. See [Global Parameters](https://github.com/xspec/xspec/wiki/Writing-Scenarios#global-parameters).

### Parameters for matching scenario

[code]

To provide this template parameter from XSp

[2020-10-30 11:42] AirQuick opened #1284 "x:call[attribute(template)] ignores x:context/x:param silently"
https://github.com/xspec/xspec/issues/1283#issuecomment-719493441

Emit a warning message when a named template scenario ignores `x:context/x:param`.
Warning would be enough. Fatal error would be too much.

[2020-10-30 13:43] AirQuick opened #1285 "Release v2.0"
I would like to release v2.0 around November 15.

(cc'ing @xspec/xspec, @xspec/maven-plugin, @xspec/oxygen-xml-editor-xspec-support, @vincentml)

---

### TODOs

(based on [Release Workflow](https://github.com/xspec/xspec/wiki/Release-Workflow))

1. Prepare the release

   - [x] Release `2.0.6` to Oxygen add-on channel (Stable Release Candidate) (#1282)

   - [x] Notify the XSpec discussion list o

[2020-11-11 11:34] cirulls commented on #1285
When v2.0 is released, I'd also announced it in https://xspec.io. I can create an article for that based on the release notes and other announcements.

[2020-11-19 10:52] AirQuick opened #1287 "Support run-as=external on Schematron"
Currently `src/schematron/schut-to-xspec.xsl` discards `/x:description/@run-as`.

However, https://groups.google.com/g/xspec-users/c/dNvDGZfKVz0/m/-FzoJ1K_AQAJ suggests that there seems to be a use case where `@run-as=external` may help on Schematron when the Schematron schema relies on the global context item.

After implementing this, don't forget to add a use case to [Wiki](https://github.com/x

[2020-11-19 13:26] AirQuick commented on #1285
Thanks @cirulls
I had been deadly busy lately. I'll have some time from Saturday and will resume working on the release.
Now that Oxygen 23 is there, we'll need to check compatibility with it before releasing v2.0.

[2020-11-20 08:38] cirulls commented on #1285
No worries @AirQuick, thank you time for the release, you have been doing an amazing job! I'll watch this issue, let me know in case I can be of any help for the release.

[2020-11-20 09:06] AirQuick commented on #1285
Done. The **Summary** section is written by hand. The rests are auto generated.
Feel free to suggest any improvements.

[2020-11-23 09:48] cirulls commented on #1285
It looks really good!

[2020-11-23 15:56] AirQuick opened #1291 "Remove Travis CI"
Travis CI has changed its pricing model: https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing
I pushed a commit to my XSpec fork and it consumed 1420 credits.

We could request their support to claim some "free OSS credits" ([requirements](https://travis-ci.community/t/org-com-migration-unexpectedly-comes-with-a-plan-change-for-oss-what-exactly-is-the-new-deal/10567/15?u=airquick)). But now

[2020-11-23 18:48] galtm commented on #1285
I agree, it looks really good! Thank you for putting this together, @AirQuick . A couple of minor bits of feedback:

- Consider providing a little context for the heading "Common", such as "Common to Languages Under Test" or "Common to XSLT, XQuery, and Schematron".
- Is #1040 worth mentioning in the summary?

I hadn't noticed #1107 before, but if it's what I think it is, that's a very welcome enh

[2020-11-24 08:12] AirQuick commented on #1285
Thanks @galtm

Renamed the section title "Common to Languages Under Test".

Added "Arrays and maps are reported in the same way as XSLT scenarios" to the XQuery section.

#1107 corresponds to "You can write advanced expressions in `@location`" in the draft release note, but it looks somewhat vague. Added "(e.g. `<x:expect-assert location="//sec[@id='lower']" />`)" to it for clarification.

[2020-11-24 09:39] cirulls commented on #1291
I agree, let's fully move to GitHub Actions.

[2020-11-26 09:38] AirQuick commented on #1285
@cirulls
If everything looks fine so far, can you possibly own and perform these tasks?

[2020-11-27 09:27] cirulls commented on #1285
Sure, I'll put aside some time during this weekend to perform these tasks.

[2020-11-29 22:04] cirulls commented on #1285
Today I did the following:

- [x] Publish the release at [Releases page](https://github.com/xspec/xspec/releases): I hit the release button on https://github.com/xspec/xspec/releases/tag/v2.0.7. I added v2.0.7 in the description (originally it was v2.0), I hope it's fine
- Promote the release `v2.0`
    - [x] XSpec discussion list: see https://groups.google.com/g/xspec-users/c/wYf5XB12A5c
    - [x

[2020-11-30 10:33] AirQuick commented on #1121
Done: xspec/oXygen-XML-editor-xspec-support#44

[2020-11-30 14:19] AirQuick commented on #1291
Done all the TODOs.

As for this item, I uninstalled "Travis CI" there. Removing only `xspec/xspec` repository access was not possible, because it was the only repo who granted permission.

[2020-11-30 14:19] #1291 closed

[2020-11-30 16:47] AirQuick opened #1302 "Deprecate Saxon 9.9"
Sooner or later we'll need to deprecate Saxon 9.9. (And, probably at the same time, drop 9.8 support.)

https://www.oxygenxml.com/forum/topic13675.html#p60290

https://saxonica.plan.io/news/1

[2020-11-30 17:37] AirQuick commented on #1285
Thank you @cirulls. They all look prefect!

[2020-12-01 12:22] AirQuick commented on #1147
Closing this, assuming `@catch` serves.

[2020-12-01 12:22] #1147 closed

[2020-12-01 12:27] AirQuick commented on #142
Closing this, because
- https://github.com/xspec/xspec/issues/142#issuecomment-353129767
- Schematron/schematron#89

[2020-12-01 12:27] #142 closed

[2020-12-01 13:11] AirQuick commented on #132
Now, just by setting [`run-as="external"`](https://github.com/xspec/xspec/wiki/External-Transformation), both the first and the second cases work.

[2020-12-01 13:11] #132 closed

[2020-12-01 13:13] AirQuick commented on #182
Closing this issue, because I think it is now obsolete.

[2020-12-01 13:13] #182 closed

[2020-12-01 15:37] AirQuick commented on #100
The logging facility in question exists in v2.0.7.

[2020-12-01 15:37] #100 closed

[2020-12-01 15:49] AirQuick commented on #97
"resolving using `xspec-home` if set, or using the global name URI if not)" exists in v2.0.7:

https://github.com/xspec/xspec/blob/552300776faa1c245d89a1b2ead7d1a83443bf60/src/harnesses/harness-lib.xpl#L125-L133
https://github.com/xspec/xspec/blob/552300776faa1c245d89a1b2ead7d1a83443bf60/src/harnesses/harness-lib.xpl#L192-L200
https://github.com/xspec/xspec/blob/552300776faa1c245d89a1b2ead7d1a8344

[2020-12-01 15:49] #97 closed

[2020-12-01 16:51] AirQuick commented on #230
Closing this. Please feel free to open another issue if you have any.

[2020-12-01 16:51] #230 closed

[2020-12-01 17:00] AirQuick commented on #114
Closing this, as https://github.com/xspec/xspec/issues/114#issuecomment-469007060 doesn't use ant-contrib.

[2020-12-01 17:00] #114 closed

[2020-12-02 09:51] yamahito commented on #1285
I did a tweet from Markup UK (and shared it) - should get more exposure that way!

_________________
Tomos Hillman
eXpertML Ltd
+44 7793 242058
On 30 Nov 2020, 17:39 +0000, AirQuick <notifications@github.com>, wrote:

[2020-12-03 13:34] cirulls commented on #1285
At least [one tweet](https://twitter.com/MarkupUKorg/status/1334070525899976705) has gone out. I ticked the boxes related to tweeting.

@AirQuick: do you think we can close this issue? Any outstanding task for the v2.0.7 release?

[2020-12-03 13:46] AirQuick commented on #1285
Thanks @yamahito !

Let's close this issue, @cirulls

[2020-12-03 13:59] #1285 closed

[2020-12-03 15:23] #1284 closed

[2020-12-03 15:32] AirQuick commented on #1283
The latest `master` branch emits warning messages when compiling https://github.com/xspec/xspec/issues/1283#issuecomment-719451379:

[code]

I hope this enhancement and some clarifications in https://github.com/xspec/xspec/issues/1283#issuecomment-719493441 help.

Closing this. Please feel free to post further questions here or as a new issue.

[2020-12-03 15:32] #1283 closed

[2020-12-08 08:25] #1287 closed

[2020-12-15 04:32] ohsh6o commented on #991
Hi @AirQuick, is there anything I can do to help with this or pick it up?

[2020-12-21 14:36] AirQuick commented on #991
@ohsh6o
From the point of view of testing Schematron with XSpec, there are two kinds of global parameters:
- (A) One is passed to the Schematron implementation at compile time as mentioned in Wiki [_Writing Tests_ section](https://github.com/xspec/xspec/wiki/Writing-Scenarios-for-Schematron#writing-tests). Typically, `phase`, `allow-foreign`, `visit-text` and `only-child-elements`.
- (B) The other

[2020-12-21 14:41] ohsh6o commented on #991
I am most certainly interested in B, @AirQuick!

[2020-12-24 13:11] AirQuick commented on #991
I've implemented a POC of this feature and it's working on XSLT and Schematron.

@ohsh6o
Before going further, I would like to better understand your use case.
Is there a working Schematron schema that has a global `xsl:param` you want to set various values in XSpec `x:scenario`? Is it this global `xsl:param`?: https://github.com/18F/fedramp-automation/blob/6c986baf6f3de1d1a46b2f93280b862d460fd9a5

[2020-12-24 15:18] ohsh6o commented on #991
Excellent question, and yes your assumption was correct. If this context or the info below does not help, I can try to rewrite examples in a Gist to update it to my now much larger test suite.

In short, there are two major external dependencies, at a high level, I need to think about: resolved catalog profiles and value registries. [This commit is around the time](https://github.com/18F/fedramp-a

[2021-01-02 12:42] AirQuick commented on #1156
Maybe a kind of this: https://stackoverflow.com/q/15634536/11853330

[2021-01-26 01:44] ohsh6o commented on #991
Is there any additional help I can contribute at this point, @AirQuick or you just want me to test it as is by reviving my old branch of code?

[2021-01-28 10:24] AirQuick commented on #991
@ohsh6o
Sorry for not responding sooner. I've been busy this month. Now I'm back to normal. In a few days, I'll open a pull request with which you can test. I'd like to ask @galtm to review it then.

[2021-02-01 09:56] thendarion opened #1336 "sch:include and sch:extends doesn't work"
if I have an sch:include or an sch:extends in my schematron file, xspec seems to fail to compile the tests

[2021-02-01 11:01] AirQuick commented on #1336
Can you possibly narrow down the conditions of the failure?

We have these tests working fine:
- https://github.com/xspec/xspec/blob/master/test/schematron-020.xspec tests https://github.com/xspec/xspec/blob/master/test/schematron/schematron-020.sch with `sch:include` + `@id`
- https://github.com/xspec/xspec/blob/master/test/schematron-022.xspec tests https://github.com/xspec/xspec/blob/master/tes

[2021-02-01 13:27] thendarion commented on #1336
I create two sch files and two xspec files for them
that works fine
then I create an sch file that imports the two sch files and create and xspec file that imports the two xspec files, so that I can run them at once
that breaks

tested in the following environments:
XSpec plugin 2.1.1 in oXygen Editor
xspec-1.6.0 in xspec-maven-plugin-2.0.0

error from oXygen:
[code]
error from Maven:
[code]

[2021-02-01 14:19] #1336 closed

[2021-02-18 00:19] AirQuick opened #1340 "attribute(focus) in user-content makes all the scenarios pending"
[code]

[code]

Repro on XSpec v0.3 too.

[2021-02-20 02:30] #1340 closed

[2021-02-28 17:12] AirQuick commented on #991
@ohsh6o
It took longer than I expected but I finally opened the pull request #1354. Can you try it on to see if it fits your use case?

- You can set `x:param` within a particular Schematron `x:scenario`, like this:
  https://github.com/xspec/xspec/blob/91cb4aa664ae7d4e73544acf2738983a9bf562d6/test/external_scenario-param_schematron.xspec#L38-L50
- Note that `x:param` within a particular Schematro

[2021-03-02 14:18] ohsh6o commented on #991
That's excellent news @AirQuick, thank you! I will take a look later this week.

[2021-03-02 17:08] markdunnoup opened #1366 "Suggestion: Compile schematron using SchXslt"
The code for compiling Schematron files to XSLT is (a version of) the code archived at https://github.com/Schematron/schematron

The README.md file in that repository currently says

"new applications of Schematron were advised to use the SchXslt Schematron implementation at https://github.com/schxslt/schxslt."

[2021-03-03 05:40] AirQuick commented on #786
Raised as #1366

[2021-03-03 07:38] AirQuick commented on #1366
Right now XSpec does not come bundled with SchXslt.

However, with XSpec v2.0.4 or later, you can use SchXslt by setting
- [`SCHEMATRON_XSLT_*` environment variables](https://github.com/xspec/xspec/wiki/Environment-Variables) (in case of `xspec.bat` and `xspec.sh`)
- [`xspec.schematron.preprocessor.step?` properties](https://github.com/xspec/xspec/wiki/Running-with-Ant#ant-properties) (in case of

[2021-03-03 08:32] markdunnoup commented on #1366
Perfect, thanks!

[2021-03-03 09:04] markdunnoup opened #1369 "Suggestion: allow SchXslt compilation parameters"
SchXslt introduced a parameter $schxslt.base-uri-fixup to control whether `@xml:base` is added to parameters etc. Its default value is true() but it would be good to have the option of setting it to false()

Currently it is possible to override the default compilation to use the SchXslt stylesheets, but not to override the parameters of those stylesheets.

[2021-03-03 09:14] AirQuick commented on #1369
(edited slightly in order to remove an unintended mention)

[2021-03-03 09:37] AirQuick commented on #1369
If `$schxslt.base-uri-fixup` were only for the step 3, it could be controlled by `/x:description/x:param` as mentioned in ["Writing Tests" section](https://github.com/xspec/xspec/wiki/Writing-Scenarios-for-Schematron#writing-tests) of Wiki. Unfortunately, `$schxslt.base-uri-fixup` seems to be used in the step 1 and 2.

Maybe we may want to introduce a way to skip the step 1 and 2. Then probably we

[2021-03-03 11:01] markdunnoup commented on #1369
Just to complicate this, if XSpec compiles Schematron using SchXslt with `$schxslt.base-uri-fixup` set to `false()`, the location of *-compiled.xsl means that tests will fail if they rely on locations relative to the *.sch file.

This is because SchXslt with this configuration omits `@xml:base` from the root element of *-sch-preprocessed.xsl

[2021-03-03 11:54] AirQuick commented on #1369
If that's not a bug but by design, we probably have to enable the [patch](https://github.com/xspec/xspec/blob/f568c9d32509e39fa6e0610eb1ecf045095db36b/src/schematron/patch-step3.xsl#L39-L51) either whenever `/element()/@xml:base` is missing or when `$schxslt.base-uri-fixup` is false. Right now the patch is injected only for the *skeleton* implementation bundled with XSpec.

[2021-03-03 13:09] markdunnoup commented on #1369
I've raised the question in SchXslt - https://github.com/schxslt/schxslt/issues/181

[2021-03-04 17:39] AirQuick commented on #1369
Opened #1371 for this.

With #1371 and the following configuration, I confirmed `<x:param name="schxslt.base-uri-fixup" select="false()" />` as a direct child of `/x:description` took effect:
- `SCHEMATRON_XSLT_INCLUDE=#none`
- `SCHEMATRON_XSLT_EXPAND=#none`
- `SCHEMATRON_XSLT_COMPILE=https://github.com/schxslt/schxslt/raw/964ed9c/core/src/main/resources/xslt/2.0/pipeline-for-svrl.xsl`

[2021-03-05 10:00] cmarchand opened #1373 "[Speed] XSpec runs too slow for TDD"
When developing - or debuging - in Test Driven Development, you need a very fast run of your unit tests : less than 10s.

Starting ant needs a JVM start, an important library run, evaluating the `build.xml`, then compile XSL (the one from XSpec framework), generate XSL, compile it and run it. All of those things are slow.

If we could avoid starting a JVM, parsing the `build.xml`, compile framewor

[2021-03-05 11:43] AirQuick commented on #1373
I haven't measured it, but it seems to me that the fastest practical way available right now to run XSpec tests in the course of stylesheet development is running "XSpec for XSLT using XProc" transformation scenario on Oxygen, probably because it involves no JVM startup.

[2021-03-05 13:29] cmarchand commented on #1373
Yes, it is much faster than invoking the ant scenario.
I'm gonna put 2 cents on this, just a small test...

[2021-03-07 13:39] galtm opened #1375 "Global x:param does not override global XSLT variable in external transformation"
An element `x:description[@run-as="external"]/x:param` does not seem to override `xsl:stylesheet/xsl:variable`. Is that a bug, or a limitation that should be documented? A similar `x:param` element *does* override if `run-as="import"` or if the global in the SUT is `xsl:param` instead of `xsl:variable`.

The explanation in [External Transformations](https://github.com/xspec/xspec/wiki/External-Tra

[2021-03-07 15:57] AirQuick commented on #1375
Although I don't know the formal W3C specification, Saxon command line works in the same way:

[code]

So I presume `x:param` is working as intended. It's backed by tests:

- For [@run-as=import](https://github.com/xspec/xspec/blob/master/test/end-to-end/cases/global-override.xspec) ([result](https://refined-github-html-preview.kidonng.workers.dev/xspec/xspec/raw/master/test/end-to-end/cases/expec

[2021-03-07 16:12] galtm commented on #1375
I didn't expect to be able to override a global XSLT variable by running Saxon at the command line, but I did expect to be able to override it from XSpec. I must have forgotten the part of the test that says, "x:param should override xsl:variable unless run-as=external". Thanks for pointing that out.

Would you like me to own this issue and use it for updating the wiki about External Transformatio

[2021-03-07 17:06] AirQuick commented on #1375
Yes! Also please feel free to edit the other parts of the page. That Wiki page in its current form is at best just a dumped list of things I had noticed in `@run-as=external` development.

That would be nice to have. Seems impossible, unfortunately...

[2021-03-07 19:36] galtm commented on #1375
I added the basic information ([diff](https://github.com/xspec/xspec/wiki/External-Transformation/_compare/8dce8917e16020b6279e1d90414c24b494846d2a)) but I'll also look at this page as a whole before marking this issue complete.

[2021-03-07 23:16] galtm commented on #1375
I made some stylistic changes in the page ([diff](https://github.com/xspec/xspec/wiki/External-Transformation/_compare/40ab4ebfad2c32a7430c4aa814fab38d220df059)). @AirQuick , is there more I should do for this issue?

[2021-03-14 05:35] AirQuick opened #1377 "Document scenario-level x:param"
https://github.com/xspec/xspec/pull/1354#issue-581548966

[2021-03-14 05:36] #991 closed

[2021-03-14 07:20] AirQuick commented on #991
@ohsh6o
The feature is now available in the `master` branch. Hope it helps.

[2021-03-16 02:57] #1369 closed

[2021-03-18 16:46] AirQuick commented on #1366
Now we have [`schxslt` branch](https://github.com/xspec/xspec/tree/schxslt) where SchXslt is available out of the box and fully tested with our [test suite](https://github.com/xspec/xspec/wiki/How-to-Run-the-Test-Suite-Locally).

[2021-03-18 16:46] #1366 closed

[2021-03-23 12:40] AirQuick commented on #1369
#1388 ensures `@xml:base` on that element.

[2021-03-25 08:12] AirQuick opened #1398 "Release v2.1"
I would like to release v2.1 sometime in April.

(cc'ing @xspec/xspec, @xspec/maven-plugin, @xspec/oxygen-xml-editor-xspec-support, @vincentml)

---

### TODOs

(based on [Release Workflow](https://github.com/xspec/xspec/wiki/Release-Workflow))

1. Prepare the release

   - [x] Release `2.1.3` to Oxygen add-on channel (Stable Release Candidate)

   - [x] Notify the XSpec discussion list of the upc

[2021-03-26 13:17] cirulls commented on #1398
Sound good to me. Feel free to ping me if you want me to help with any of these tasks.

[2021-03-26 13:18] cirulls commented on #1398
In the promote section I'd add 'Write post on xspec.io' (happy to do that when the time comes).

[2021-03-26 17:22] AndrewSales opened #1404 "Report XSpec version at command line"
It would be helpful if the version of XSpec could be report as part of the synopsis given at the command line, and probably also in the messages emitted at runtime.

(Many thanks as ever for your work on this tool, and apologies if I have missed a pre-existing issue or means to enable this.)

[2021-03-26 18:26] AirQuick commented on #1404
Agreed, it will be helpful.

I once implemented it and merged it into `master` (#1146), only to find later that I had to revert it due to its incompatibility with our release process.

Maybe we need some automation of updating the version number and/or releasing Oxygen add-on.

[2021-03-26 21:36] jhellingman opened #1410 "xsl:context-item lines not counted as covered, even though the template they appear in is."
In several templates, I use the xsl:context-item element to force a type-check on the context item. When running xspec with coverage, this line is never seen as covered, even when the template it appears in is covered.

[2021-03-26 21:53] jhellingman opened #1411 "Generating coverage report fails in output-lines with message: ERROR: unmatched string: &lt;"
When running xspec -c on my tests, I commonly get ERROR: unmatched string: &lt; when producing the coverage reports. When setting terminate to "no" on the xsl:message, the report appears to be generated, but I am not sure it is still correct.

A small xspec test I am having this issue with is here: https://github.com/jhellingman/tei2html/blob/master/xspec/betacode.xspec. Most of the other test I p

[2021-03-26 22:18] AirQuick commented on #1410
I tested with the following files and indeed `xsl:context-item` (line 7 and 8) was reported as MISSED.

**test.xsl**
[code]

**test.xspec**
[code]

Looks like Saxon never calls `enter()` for line 7 and 8:

[code]

`src/reporter/coverage-report.xsl` probably needs to treat `xsl:context-item` (and `xsl:global-context-item`? - I haven't tested it) in a special way. Maybe in [`mode="coverage"`](https:

[2021-03-26 22:58] AirQuick commented on #1411
Looks like [`src/reporter/coverage-report.xsl`](https://github.com/xspec/xspec/blob/db8f7cab593efce15bb5029fef7991285b94bef9/src/reporter/coverage-report.xsl#L152-L182) cannot parse [`DOCTYPE` line](https://github.com/jhellingman/tei2html/blob/11d80ce47d710b32e5a9bc2c05609feec9e44709/betacode.xsl#L1).

[2021-03-28 20:54] galtm commented on #575
Another related comment: https://github.com/xspec/xspec/pull/1415#discussion_r602930299

In general, my current leaning is that in case `focus` and `pending` occur at different hierarchy levels, we should honor the nearest ancestor-of-self instruction but also process inheritances as needed.

[2021-03-29 11:17] #1411 closed

[2021-03-29 17:58] AirQuick opened #1421 "x:import and x:description/attribute()"
https://github.com/xspec/xspec/pull/1397#pullrequestreview-622778963

[2021-03-29 21:39] AirQuick commented on #1410
#1422 will fix this.

[2021-03-30 21:00] AirQuick commented on #1398
Good point. Somehow it's slipped through the net. Now I added it.

[2021-04-02 10:10] #1410 closed

[2021-04-04 23:48] AirQuick commented on #575
Reconsider `@focus` in relation to not only `x:pending//x:expect` but also `x:expect/@pending`: https://github.com/xspec/xspec/pull/1412#discussion_r606810062

[2021-04-12 14:00] AirQuick commented on #1375
Thanks @galtm. They all look good!

[2021-04-12 15:13] AirQuick commented on #1377
Done ([diff](https://github.com/xspec/xspec/wiki/External-Transformation/_compare/3bd6c351d64a0ed502a79e73b5f5d331d6dc2496...28188391a63c4cfbea354f0a7846f88a873dc6be))

[2021-04-12 15:19] AirQuick commented on #1377
Done ([diff](https://github.com/xspec/xspec/wiki/Writing-Scenarios/_compare/84614a2945234c62c2d0b38f145f9c623316dd99...3e6030bb51cd2c717c5ae3abcd14875fe9c0acfc))

Done ([diff](https://github.com/xspec/xspec/wiki/Writing-Scenarios-for-Schematron/_compare/0e8c32fa3d0d3eb5baa6a19a68ed94453bcb3b3b...3e6030bb51cd2c717c5ae3abcd14875fe9c0acfc))

[2021-04-12 15:19] #1377 closed

[2021-04-14 23:59] #1375 closed

[2021-04-18 06:53] AirQuick commented on #1398
Done. The **Summary** section is written by hand. The rests are auto generated.
Any suggestions for improvement are welcome.

[2021-04-19 14:59] galtm commented on #1398
Thanks for drafting the release notes! Here are a few editorial suggestions for the summary:

* For the first item, something like "You can mark assertions as pending by setting `@pending` on `x:expect`, as an alternative to using the `x:pending` element." might be clearer to readers who aren't already familiar with the `@pending` attribute. I wasn't sure if it was necessary to say that this new f

[2021-04-19 15:07] galtm commented on #1398
I scanned through the auto generated part, and I think you've identified the right items to highlight in the summary.

[2021-04-21 08:49] AirQuick commented on #1398
Thanks @galtm! Reflected your suggestions to the draft release.

[2021-04-27 12:25] AirQuick commented on #1398
Created: xspec/oXygen-XML-editor-xspec-support#46

Created: #1458

[2021-04-27 12:27] AirQuick commented on #1398
@cirulls
Can you own and perform these tasks in your spare time?

[2021-04-29 10:37] AirQuick commented on #60
#1459 removes `x:apply` code.

[2021-04-29 17:38] joewiz opened #1461 "schematron queryBinding="xslt3" not supported?"
Using oXygen 23.1 (on macOS 11.3), when running an XSpec via Apply Transformation Scenario to test a Schematron with the `@queryBinding` set to `xslt3`, I get an error, stating:

Below is the full console output. I've also attached the two files here: [xspec-test.zip](https://github.com/xspec/xspec/files/6400500/xspec-test.zip). The test runs fine if the schematron is set to `@queryBinding="xslt2"

[2021-04-30 03:15] AirQuick commented on #1461
[The _skeleton_ Schematron implementation](https://github.com/Schematron/schematron) embedded in XSpec does not support `@queryBinding="xslt3`. Unfortunately the implementation has virtually no chance of supporting it, as its development has been halted (Schematron/schematron#89).
Its named successor, [SchXslt](https://github.com/schxslt/schxslt), supports `@queryBinding="xslt3` (schxslt/schxslt#4

[2021-04-30 06:04] joewiz commented on #1461
@AirQuick Thank you very much for such a quick, thorough, and empowering reply! This is great news. I will try your steps when get to my first Schematron rules requiring xslt3 bindings. In the meantime, I have a lot of work to do to prepare tests for my plainer Schematron rules. Very excited.

[2021-04-30 06:04] #1461 closed

[2021-04-30 10:24] cirulls commented on #1398
Sure, I'll try to get this done today, I'll keep you posted.

[2021-04-30 16:12] #1019 closed

[2021-04-30 16:41] cirulls commented on #1398
* [x] **XSpec discussion list**: https://groups.google.com/g/xspec-users/c/oyHSVdFgTG0
* [ ] **xml.com**: posted, waiting to be published
* [ ] **xml mailing list**: sent, waiting to be published
* [ ] **Tweet**: I'm not on Twitter but I know @cmarchand and @yamahito are quite active. Would you mind tweeting about the latest XSpec release (v2.1.4)?
* [ ] **Post on xspec.io**: I raised https://gith

[2021-05-02 21:10] cmarchand commented on #1398
Done : https://twitter.com/cmarchand7276/status/1388963939590053888

[2021-05-05 13:09] cirulls commented on #1398
Thanks @cmarchand !

All the promotion tasks have been completed, I had to repost to the xml-dev mailing list as the first message I sent didn't work for some reason. I posted all the links in the comment above.

[2021-05-09 03:52] AirQuick commented on #1398
Thanks everyone! We're done and I'm closing this issue.

[2021-05-09 03:52] #1398 closed

[2021-05-17 02:10] #728 closed

[2021-06-02 03:23] AirQuick commented on #477
We might want to allow `x:like` before invoking SUT: https://github.com/xspec/xspec/pull/1477#discussion_r634826948

[2021-06-18 06:23] AirQuick commented on #398
#1500 will close this issue.

[2021-06-18 06:58] AirQuick opened #1502 "v2.2 will be the last version to support Saxon 9.8"
(CC'ing @xspec/xspec)

https://saxonica.plan.io/news/1

Considering that,

- XSpec v2.2 will be the last version to support Saxon 9.8.
- XSpec v2.3 will not support Saxon 9.8.
- XSpec v2.3 is likely to deprecate Saxon 9.9 (#1302), although Code Coverage doesn't work on Saxon 10+ (#852).

[2021-06-18 07:35] AirQuick commented on #852
Blocked by https://saxonica.plan.io/issues/4970

[2021-06-20 20:32] galtm commented on #1421
Related to #1497 is a similar behavior: If you set `@threads` on `x:description` and then use `x:import` to run a suite of tests, the `@threads` values in the imported files have no effect. That might surprise some users and make them wish they had organized their code differently from the start.

[2021-07-23 06:17] #398 closed

[2021-08-17 06:31] AirQuick opened #1524 "Release v2.2"
I would like to release v2.2 sometime in September.

(cc'ing @xspec/xspec, @xspec/maven-plugin, @xspec/oxygen-xml-editor-xspec-support, @vincentml)

---

### TODOs

(based on [Release Workflow](https://github.com/xspec/xspec/wiki/Release-Workflow))

1. Prepare the release

   - [x] Release `2.2.3` to Oxygen add-on channel (Stable Release Candidate)

   - [x] Notify the XSpec discussion list of the

[2021-09-01 06:14] AirQuick commented on #1524
Opened #1532.

[2021-09-01 11:03] AirQuick commented on #1502
Updated [Wiki](https://github.com/xspec/xspec/wiki/Requirements): [diff](https://github.com/xspec/xspec/wiki/Requirements/_compare/6e48109e4274b25bf384c447b9356b9a38a7d8b1...2a74bb979b6f3c93e13bb5e12d246579af7f8a52)

[2021-09-01 11:15] AirQuick commented on #1502
Opened #1533

[2021-09-02 13:17] cirulls commented on #1524
As in the past release, I can help out with the promotion steps but I already know I'm away from computers between 4th and 13th September. I can definitely do something starting from 14th September if need be.

[2021-09-06 10:22] martin-honnen opened #1538 "Question about use of serialize(., map {}) in https://github.com/xspec/xspec/blob/master/src/reporter/format-utils.xsl#L260"
I am currently exploring whether I can use Saxon-JS 2.3 and its `xslt3` command line tool instead of Saxon Java to run XSLT specific XSpec tests.

On my way to doing this I found some oddity in the way Java based Saxon and Node.js based Saxon-JS handle the use of `serialize(., map {})` in https://github.com/xspec/xspec/blob/master/src/reporter/format-utils.xsl#L260, while Saxon Java doesn't output