[2016-02-29 21:37] cirulls opened #2 "add JUnit report"
XSpec currently provides reports in XML and HTML. Add JUnit report so that it can be easily plugged into tools that understand JUnit natively (e.g. Jenkins). This has also been requested in https://github.com/expath/xspec/issues/47

Here is a high level list of tasks to add JUnit support:

- [x] add parameter -j to list of accepted parameter in bin/xspec.sh and bin/xspec.bat
- [x] add location of

[2016-08-10 07:23] cirulls opened #3 "fix code coverage"
Fix code coverage - see https://github.com/expath/xspec/issues/40

[2016-08-10 07:47] cirulls commented on #3
I submitted a [pull request](https://github.com/expath/xspec/pull/80) to fix the code coverage in the shell script.

[2016-08-10 07:47] #3 closed

[2016-08-14 20:44] cirulls commented on #2
This is implemented in [branch feature/junit](https://github.com/cirulls/xspec/tree/feature/junit)

This pull request adds the functionality to generate a JUnit XML report. This is useful when running XSpec tests on Continuous Integration servers like Jenkins that understand JUnit natively. This pull request addresses a functionality requested in https://github.com/expath/xspec/issues/47. Note tha

[2016-08-14 20:44] #2 closed

[2016-08-21 15:38] cirulls opened #4 "fix failing tests"
The XSpec implementation is tested by XSpec tests in the test directory. Some of them are failing with the following error message:

[code]

These tests should be rewritten so that if they fail (as expected) they should be marked as successful. This allows to run them in Travis before pull requests and branch merging. For now I made these tests pending or shifted the focus in the test in order to

[2016-08-21 16:21] cirulls opened #5 "run tests with Travis CI"
Run bats tests for shell script xspec.sh and XSpec tests for XSpec implementation via Travis CI (http://travis-ci.org/). Configure Travis CI so that any push or pull request to branch develop should run unit tests first.

[2016-08-21 16:51] cirulls commented on #5
The Travis configuration is in [.travis.yaml](https://github.com/cirulls/xspec/blob/develop/.travis.yml), this triggers a test build when new pushes or pull requests to branch develop are committed. Travis runs the tests in [directory test](https://github.com/cirulls/xspec/tree/develop/test), in particular [xspec.bats](https://github.com/cirulls/xspec/blob/develop/test/xspec.bats) for the shell sc

[2016-08-21 16:51] #5 closed

[2016-08-21 17:55] cirulls opened #8 "add documentation for running XSpec with Jenkins"
Add documentation for running XSpec with Jenkins. Use documentation submitted in [PR 81](https://github.com/expath/xspec/pull/81).

[2016-08-29 15:19] cirulls opened #9 "add XSLT 3.0 support"
Currently, XSpec supports only XSLT 2. Extend it to support XSLT 3.0 by integrating the relevant parts in the pull request https://github.com/expath/xspec/pull/74

[2016-08-29 15:50] #9 closed

[2016-09-28 19:06] cirulls opened #12 "Write bats test for setting $TEST_DIR in xspec.sh"
#11 introduced a feature that allows to override the variable $TEST_DIR in the xspec.sh. This overrides the default output directory for generated files. Add a bats test testing that:

- if $TEST_DIR is not set, it defaults to the default location
- if $TEST_DIR is set, it creates files in the given output directory

[2016-09-29 22:04] #12 closed

[2016-09-30 19:56] cirulls commented on #8
I wrote documentation in https://github.com/cirulls/xspec/wiki/Integration-with-Jenkins

[2016-09-30 19:56] #8 closed

[2016-09-30 20:07] cirulls opened #15 "add documentation for running XSpec with Travis"
My fork of XSpec uses Travis for running XSpec tests against itself after each pull request. Add documentation for running XSpec with Travis. Use the current implementation as an example but add how to display all the XSpec tests being executed.

[2016-10-17 20:53] cirulls opened #16 "Can't automatically open HTML report on Windows batch file"
[bin\xspec.bat](https://github.com/cirulls/xspec/blob/master/bin/xspec.bat) ends with the following command:
[code]
This does not work on some Windows systems. I tested it on Wine under Linux and it's not working and it can create problems on proper Windows environments as well. Furthermore, this does not align with the shell script  which displays at message "Report available at ...".

Modify the

[2016-10-17 20:59] #16 closed

[2016-10-30 18:14] cirulls commented on #15
I added documentation in https://github.com/cirulls/xspec/wiki/Integration-with-Travis

[2016-10-30 18:14] #15 closed

[2016-12-02 18:16] tofi86 opened #18 "How to test function with x:context?"
Hey there,

at the moment, I don't see a chance to test a function within a specific context.

Let's say I have this function which builds an absoulte XPath string from the current node:

[code]

And I want to write a test for this xml snippet:
[code]

And the test should call the function `pa:get-current-xpath()` from the context of the `<inline>` element so that the expected result is: `/root[1]

[2016-12-02 18:23] cirulls commented on #18
Hi @tofi86,

thanks for the detail request and for posting code snippets. I should be able to have a look at your request during the weekend and let you know if I need more detail. I'll keep you posted.

Sandro

[2016-12-02 18:37] tofi86 commented on #18
Thanks, Sandro! 👍

Also I was wondering which one of both the repos is the official repository? The `expath` one or this one?

[2016-12-03 12:10] cirulls commented on #18
Hi Tobias,

you were right in guessing that you should use the ```<x:call function="">``` element in your XSpec test. You need to put the context inside the ```<x:param>``` element and use a ```select``` attribute to select the node you want to pass to the function. Given your function ```pa:get-current-xpath``` you posted above, here is an example of XSpec test for this function:

[code]
I was ab

[2016-12-03 12:26] cirulls commented on #18
Regarding your question about the official xspec repository, I originally forked the xspec repository from the xpath organisation and submitted several pull requests to the project as well as reviewed pull requests from other people. Unfortunately I don't have write access to that repository and pull requests have been sitting there for almost a year now. Recently I have been given admin access to

[2016-12-03 13:24] cirulls opened #19 "fix travis configuration"
After the repo transfer from cirulls/xspec to xspec/xspec, the travis configuration needs to be updated as it is still trying to trigger from the previous repository. Amend configuration in the ```.travis.yml``` and ```README```. Plus, move the Saxon processing to its own directory.

[2016-12-03 15:19] tofi86 commented on #18
Hi Sandro,

great, your solution works like a charm! I wasn't aware that you can use `@select` on `<x:param>` WITH having context content inside...

This should probably be added in the Wiki as it's missing at the moment.
I tested and it seems my change to the wiki page was accepted:

https://github.com/xspec/xspec/wiki/Writing-Scenarios#function-scenarios

----

You can also the `@select` attribu

[2016-12-03 15:21] #18 closed

[2016-12-03 15:22] tofi86 commented on #19
As I wrote in 7303f0d moving saxon caused all existing travis build pipelines to fail!

You may probably consider reverting this change!

[2016-12-03 15:47] tofi86 commented on #19
Also, the example bash script described on the Travis Wiki page

[code]

did not properly detect compiling issues (e.g. when Saxon is not available at the given path).

I updated the wiki entry with better detection:

[code]

[2016-12-03 16:12] cirulls commented on #19
I answered about the location of the Saxon processor in https://github.com/xspec/xspec/commit/7303f0dce788fd8d0e091705b261d4aa284e75d2.

Thanks for updating the documentation, I will add the extra bit to [run-xspec-tests.sh](https://github.com/xspec/xspec/blob/master/test/run-xspec-tests.sh).

[2016-12-03 16:19] cirulls commented on #18
Thanks a lot for updating the documentation, I just slightly rephrased it. Great that you added a code snippet, that's the best example for the documentation!

[2016-12-03 23:46] tofi86 commented on #18
You're welcome! :)

[2016-12-03 23:48] tofi86 commented on #19
Great! I didn't see that it's also part of the repository...

[2016-12-04 11:37] cirulls opened #20 "retrieve Saxon processor from Maven repository"
Following discussions with @tofi86 in https://github.com/xspec/xspec/commit/7303f0dce788fd8d0e091705b261d4aa284e75d2#commitcomment-20062004 and #19, retrieve Saxon from a [Maven repository](https://mvnrepository.com/artifact/net.sf.saxon/Saxon-HE/9.7.0-14) instead of uploading the binaries in XSpec. Change the .travis configuration and check with @tofi86 before committing the change to branch mast

[2016-12-04 11:46] cirulls commented on #18
I subscribed to the xspec repository in the xpath organisation so if issues are raised there I receive a notification and I should be able to integrate them in here.

[2016-12-04 11:52] cirulls opened #21 "runner script for XSpec test suite does not detect compiling issues"
@tofi86 wrote in #19

Apply the change to [run-xspec-tests.sh](https://github.com/xspec/xspec/blob/master/test/run-xspec-tests.sh)

[2016-12-04 11:53] cirulls commented on #19
I created #20 and #21 and I close this ticket.

[2016-12-04 11:53] #19 closed

[2016-12-04 17:21] tofi86 commented on #18
Great! 👍 I also opened a new issue at https://github.com/expath/xspec/issues/85 to clarify the status of the two repositories...

If there's feedback on the topic, one could probably move the old open tickets over here...

[2016-12-05 21:46] cirulls commented on #20
@tofi86: I implemented this in branch develop. I removed the saxon jar file and retrieved it directly from the maven repository inside the [.travis.yml](https://github.com/xspec/xspec/blob/develop/.travis.yml), see the changes in https://github.com/xspec/xspec/pull/22/files.

Could you confirm this does not break your builds? As soon as you confirm I will merge the change into the master branch.

[2016-12-07 12:47] cirulls opened #23 "Type error on line 453 of generate-tests-utils.xsl"
@AirQuick wrote in https://github.com/expath/xspec/issues/86 :

test.xsd (defines bar's type)
[code]
test.xml (an instance of test.xsd)
[code]
test.xsl (loads test.xml with or without validation)
[code]
test.xspec (tests test.xsl)
[code]
With those files and a schema-aware processor, XSpec fails:
[code]
Tested on the latest master branch clone.

[2016-12-07 14:17] bar commented on #23
@cirulls what? please don;t use my handle to document your code :) thanks

[2016-12-07 15:38] cirulls commented on #23
Sorry @bar, I copied the code verbatim and didn't realise that GitHub automatically translated it into a handle (the @ sign followed by a name indicates the name of an attribute in XML).  I have fixed this in this issue, sorry for the misunderstanding.

[2016-12-10 15:20] cirulls commented on #20
@tofi86: could you confirm this is fine with you so that I can merge the code into the master branch?

[2016-12-10 16:32] cirulls commented on #23
@AirQuick, thanks for submitting this, I confirm it is a bug. I fixed in #24 and merged into master - note that this is in the [xspec repo within the xspec organisation](https://github.com/xspec/xspec) as I don't have write access to the expath organisation.

I tested it by using the shell script and Saxon EE 9.6.0.4. Could you confirm it is working with your version of Saxon under Windows?

Thank

[2016-12-10 16:50] tofi86 commented on #20
I try to have a look tomorrow!

[2016-12-10 16:55] AirQuick commented on #23
Thank you for the fix. I'm going to test it.

Looks like you removed a "DO NOT... REMOVE" part: https://github.com/xspec/xspec/commit/86e9bbf676d027e14234338224977dc75b65d6b1#diff-e684b53ab134d1f4e4fd9d154fddbbdaL92 Is that ok?

[2016-12-10 17:40] cirulls commented on #23
Thanks for spotting it, I just reinstate that part of the comments for now. I think at some point I'd like to consolidate all the copyright and license notes in one single file so that the code looks cleaner.

[2016-12-10 20:42] AirQuick commented on #23
Verified that the original problem no longer reproduced on Windows + Java 1.8 u111 x64 + Saxon 9.7.0.14-EE. Thanks! However,

So when the condition returns false, the same error may still happen. For example,

**test.xsd** (defines boolean attribute `bar=false` by default):
[code]
**context.xml** (has `bar=true`):
[code]
**expect.xml** (has `bar=false`, but I'm lazy enough to omit the default valu

[2016-12-10 23:45] AirQuick opened #25 "xspec.bat: coverage does not work on Windows"
With the latest master running on Windows, xspec.bat does not work at all for coverage:
[code]
Problems:
* XSLTCoverageTraceListener not found
* Invalid command line wrap by \
* Coverage XML is not well-formed, due to a bytecode generation warning before `<trace>`
* **pwd** parameter is the bat file dir with backslash, when it should've been the current dir with the forward slash
* %COVERAGE_HTML%

[2016-12-11 00:01] AirQuick commented on #25
To get it work, I needed to patch as follows:
[code]

[2016-12-11 00:29] yamahito opened #26 "@test for context on expect not working as expected"
Tests which work perfectly well under Oxygen aren't working with the latest release (running using ANT); it looks like it's a problem with impl:context-tmp not evaluating properly.  I'd take a look, but I'm not quite sure what the intention is here - can someone shed any light?

example xspec:

[code]

And some XSLT:

[code]

[2016-12-12 06:13] cirulls commented on #23
That's a very good point! I think I've been lazy with my lazy evaluation (no pun intended!) and didn't check the scenario of a genuine failing test. I think I fixed this in #27 (see the pull request for technical notes) and tested it with both examples you provided. Could you confirm it works at your end and you're happy with this fix?

Thanks,

Sandro

[2016-12-12 06:28] cirulls commented on #25
@AirQuick, thanks for the patch, it's very much appreciated. That's correct, the code coverage is currently working only with the shell script (see #3). Could you submit the patch as a pull request on branch master? Could you also let me know with version of Windows you're using? I don't have a Windows machine at hand but I can simulate it on a Windows-like environment.

[2016-12-12 06:45] cirulls commented on #26
Hi @yamahito!

thanks for the question. I think I need some more information from you. I am able to run the above snippets of code using the shell script as follows (I used 26.xspec as filename):
[code]
This generates the following results:
![26](https://cloud.githubusercontent.com/assets/13256236/21090237/2c19e4f6-c036-11e6-91e7-eb4c0ff0ccfc.png)
Could you post what your current and expected resu

[2016-12-12 08:50] yamahito commented on #26
Hi Sandro

I get the same result you do when I run with ANT: However, I don't think
that there should be any failures!

T

On Mon, 12 Dec 2016 at 6:45 am, Sandro Cirulli <notifications@github.com>
wrote:

[2016-12-12 17:09] AirQuick commented on #25
Two more problems:
* If you have JAVA_TOOL_OPTIONS set, the coverage XML is not well-formed.
* When coverage is enabled, the test runs twice; Once with coverage, again without coverage. The latter doesn't seem necessary.

Also, the current xspec.bat looks somewhat peculiar... particularly its chaining of IF GOTO.
So I would rather perform a semi refactoring. Do you think it's feasible at this time

[2016-12-12 17:20] AirQuick commented on #23
Thanks, @cirulls. Verified the fix with the cases reported by me. On Windows 8.1 + Java 1.8 u111 x64 + Saxon 9.7.0.14-EE.

[2016-12-12 21:43] tofi86 commented on #20
Sorry, haven't had any time yesterday...

As far as I see from https://github.com/xspec/xspec/pull/22/files#diff-354f30a63fb0907d4ad57269548329e3 I have to change my travis build file to pull saxon from maven. Either the way you did it or any other way/version...
Think this only makes sense for me with testing when you merged it to master, right?

I would also suggest to update the README file or

[2016-12-12 23:27] cirulls commented on #26
There are differences between the file [generate-xspec-tests.xsl](https://github.com/xspec/xspec/blob/master/src/compiler/generate-xspec-tests.xsl) in the xspec repository and in Oxygen (I'm using Oxygen 14.2 as a reference).

The issue seems to be in the template which is suspiciously called ```x:output-expect-FIXME-TOREMOVE```. If you rename this template as ```x:output-expect``` and remove [thi

[2016-12-12 23:33] cirulls commented on #25
It would be awesome if you can refactor the batch script and improve it, I must say I'm not experienced at all with Windows batch scripting. The batch script has not been extended for years and is lagging behind the shell script so it would be really useful to get feature parity between Windows/Linux/MacOs.

[2016-12-12 23:46] cirulls commented on #20
Yep, I'll merge the change into master towards the end of this week as I won't have time to work on XSpec before then. I'll alert you when it's done so you can amend your configuration.

Regarding the Saxon dependency, I think it is clearly explained in the [installation instructions on the wiki](https://github.com/xspec/xspec/wiki/Installation-on-Mac-and-Linux) but I can certainly review the READ

[2016-12-13 10:56] yamahito commented on #26
I can confirm that the tests appear to run correctly if I swap the names of `x:output-expect-FIXME-TOREMOVE` and `x:output-expect`.

If I get some time I'll try to have a look at the tests myself (no promises)!

[2016-12-13 17:35] cirulls commented on #23
Cool, thanks for confirming. Unfortunately I can't write a test for this as a non-open source version of Saxon would be needed to run the test suite via Travis. I'll investigate if it's possible to find a workaround, it'd be good to use your examples and get this issue covered by a test.

I'll close the issue for now, thanks for flagging it and helping with the solution.

[2016-12-13 17:35] #23 closed

[2016-12-14 10:58] AirQuick commented on #25
For the record, yet another problem.
* **tests** parameter for coverage-report.xsl does not work with absolute path

Thanks, @cirulls for inputting your thoughts. I have revised the batch file by imitating what the shell script is doing. In consequence it doesn't look like the original xspec.bat at all but resembles the shell script. So I'll submit it as a new file (xspec.cmd), in a few days.

[2016-12-15 00:50] cirulls commented on #25
I look forward to see the script and try it out! It may be easier to call it xspec.bat as the current one so this won't break things for all the Windows users of XSpec.

[2016-12-19 11:48] cmarchand opened #29 "escaping XPath expressions in attributes"
Such a scenario generates non-compilable XSL code :
[code]
Because  of the curly brackets in the attribute value, when copied inside a <xsl:* /> element, XSL compiler tries to execute the XPath expression.

If in the context, I double the curly braces, then it works correctly. But is it xspec writer responsability to escape the curly braces, or it is xspec compiler responsability ?

[2016-12-21 10:38] AirQuick opened #30 "x:expect href doesn't work"
**test.xml** as a document
[code]

**test.xsl** which just returns the context document
[code]

**test.xspec** which tests **test.xsl** using href=**test.xml**
[code]

With XSpec 0.3.0 which I guess is the last build released as stable, the test completes successfully:
[code]

With the latest master, it fails:
[code]

Looks like the problem was reported immediately after the release of 0.4.0 RC, b

[2016-12-22 11:35] AirQuick opened #31 "Wrong error message if x:expect has assert and test"
If you have
[code]

The latest master XSpec complains

[code]

In the message, `context` and `test` attributes are blamed. But actually x:expect has no `context` attribute.

[2016-12-22 11:45] AirQuick opened #32 "Schema does not allow x:expect assert"
Looks like at some point `assert` and `context` attributes were invented for `x:expect`.
But the current schema (src\schemas\xspec.rnc) has not incorporated them yet.

[2016-12-23 01:57] AirQuick opened #33 "On failure, x:expect with context reports the entire result, not the specified context"
**test.xsl** (just returns the input node intact)
[code]

**test_old.xspec** (tests **test.xsl** by looking for `descendant::baz`)
[code]

`x:expect label="Expect failure"` is expected to fail, because of the text node difference.

With XSpec 0.3.0, the failure report HTML is generated as follows. (Indent and xmlns omitted for brevity)

Result | Expecting
------ | ---------
`<baz>original-text</ba

[2016-12-23 16:39] cirulls commented on #29
Thanks for raising this question, I'll have a look at what is happening under the hood and let you know. Please allow me 7-10 days to get back to you as it is Christmas time.

[2016-12-23 16:41] cirulls commented on #30
Thanks for reporting this issue, I'll have a look and keep you posted. Please allow me 7-10 days to get back to you as it is Christmas time.

[2016-12-23 16:44] cirulls commented on #31
Thanks for reporting this issue, it may be a mismatch between the test conditions and the error message in the XSpec code. I'll have a look and keep you posted. Please allow me 7-10 days to get back to you as it is Christmas time.

[2016-12-23 16:46] cirulls commented on #32
Thanks for reporting this issue, I'll have a look at the schema and see if they can be easily added. Please allow me 7-10 days to get back to you as it is Christmas time.

[2016-12-23 16:48] cirulls commented on #33
Thanks for reporting this issue, I'll have a look and keep you posted. Please allow me 7-10 days to get back to you as it is Christmas time.

[2016-12-23 17:33] cirulls commented on #20
@tofi86 : I merged the changes into branch master, see the configuration in [.travis.yml](https://github.com/xspec/xspec/blob/master/.travis.yml). Let me know if this works for you, thanks.

[2016-12-23 19:36] tofi86 commented on #20
yep, it works! thanks! 👍

[2016-12-24 16:27] AirQuick commented on #26
Maybe related in part? https://github.com/expath/xspec/issues/46

[2016-12-27 09:14] cirulls commented on #20
Thanks for confirming, I'll close the issue.

[2016-12-27 09:14] #20 closed

[2016-12-27 09:41] cirulls commented on #30
This seems to be a regression bug introduced in v0.4.0-RC. The issue seems to be inside [generate-xspec-tests.xsl](https://github.com/xspec/xspec/blob/master/src/compiler/generate-xspec-tests.xsl). This file contains two templates named ```x:output-expect-FIXME-TOREMOVE``` and ```x:output-expect```. Looking at the log history, ```x:output-expect-FIXME-TOREMOVE``` was previously named ```x:output-e

[2016-12-27 09:58] #21 closed

[2016-12-27 09:59] cirulls commented on #21
@tofi86: I added the feature to make XSpec tests fail for both running and compilation errors and mentioned you as co-author in the script. Your change allowed me to spot a compilation issue in the test suite that got unnoticed so far, I amended the test in [unit-expect-xsl.xspec](https://github.com/xspec/xspec/test/unit-expect-xsl.xspec). This is also part of the tests I need to rewrite for #4.

[2016-12-27 10:04] cirulls commented on #29
@cmarchand : can you give me the full XSpec test and XSLT you're testing so that I can reproduce the issue and see at which point it is causing problems?

[2016-12-27 10:32] cmarchand commented on #29
[xspec-attr-escape-bug.zip](https://github.com/xspec/xspec/files/673980/xspec-attr-escape-bug.zip)

Attached. The XSL is not important, all the problem is in the Xspec, when compiling the generated XSL.

[2016-12-27 10:47] AirQuick commented on #30
Thanks for the investigation. I'll test it with my tests.

The way `x:expect` content and attributes work together is a bit confusing. I guess `assert` and `context` was introduced with very good intention to make it more straightforward. Unfortunately they should have some documentation and test...

[2016-12-27 11:06] tofi86 commented on #21
Perfect, thanks! :)

[2016-12-30 11:03] AirQuick commented on #30
Tested https://github.com/xspec/xspec/tree/bugfix/30 on Windows 10 + Saxon-EE 9.7.0.14 + Java 1.8 u111 x64. It worked fine with my existing test cases.
These issues are not reproduced: https://github.com/xspec/xspec/issues/30 https://github.com/xspec/xspec/issues/33
And I agree these two are not applicable anymore: https://github.com/xspec/xspec/issues/31 https://github.com/xspec/xspec/issues/32

[2017-01-01 16:37] cirulls opened #36 "Code coverage for XQuery doesn't work"
As reported by @AirQuick in #28, when the code coverage option is run for XQuery it doesn't work. @AirQuick reported this:

When I tried to run it with the batch script I got the following error:
[code]
However, when I tried to run the code coverage with the shell script, I got a different error:
[code]

Start with the shell script and fix the code coverage for XQuery.

[2017-01-01 16:41] cirulls opened #37 "Add documentation for code coverage"
The code coverage option for XSLT has been fixed in https://github.com/expath/xspec/pull/80 but the wiki doesn't contain any documentation for running code coverage. Add documentation on how to run code coverage for XSLT.

[2017-01-01 19:55] #26 closed

[2017-01-01 20:01] cirulls commented on #30
I merged #38 and close this issue.

[2017-01-01 20:01] #30 closed

[2017-01-01 20:02] cirulls commented on #33
I merged #38 and close this issue.

[2017-01-01 20:02] #33 closed

[2017-01-01 20:05] cirulls commented on #31
As confirmed by @AirQuick in https://github.com/xspec/xspec/issues/30#issuecomment-269759116, #38 made this issue obsolete so I close it.

[2017-01-01 20:05] #31 closed

[2017-01-01 20:06] cirulls commented on #32
As confirmed by @AirQuick in https://github.com/xspec/xspec/issues/30#issuecomment-269759116, #38 made this issue obsolete so I close it.

[2017-01-01 20:06] #32 closed

[2017-01-01 20:37] cirulls commented on #26
@yamahito : I merged #38 into branch master, this should fix your issue. Can you confirm it is fine at your end?

[2017-01-02 00:32] cirulls commented on #29
I had a look at your zip file. First of all, I think there is an extra closing curly brace in the XSpec test as I can see this:
[code]
I think you wanted to write this (note that there is no closing curly brace after scenario):
[code]
Also, I'm not sure what the ```Q``` stands for in here, am I missing something?

When running the XSpec test with this version of the ```simple``` element, a compila

[2017-01-02 04:19] AirQuick commented on #36
There are two problems:

* The coverage XML is not well-formed
* [coverage-report.xsl](https://github.com/xspec/xspec/blob/d3a9d5e7997208370a030c5e6013f828462a7981/src/reporter/coverage-report.xsl) does not seem to support XQuery. The report HTML says, `not used`.

As for the first problem (XML is not well-formed) results in this kind of errors:
[code]
`com.jenitennison.xslt.tests.XSLTCoverageTrac

[2017-01-02 05:14] AirQuick commented on #29
`Q` is a new face who represents the qualified names: http://www.w3.org/TR/xpath-30/#doc-xpath30-EQName
Maybe XSpec has not taken it into account yet.

[2017-01-02 08:44] cmarchand commented on #29
You are right, the last closing curly brace shouldn't be there.

If you escape the curly braces as XSLT expect - doubling them - , then there is no more compilation error, and the value is what I expect :

[code]

[2017-01-03 21:47] AirQuick opened #39 "xspec.bats specifies -j option by accident?"
In xspec.bats, these test cases specify `-j` option:
* [`"invoking xspec generates XML report file"`](https://github.com/xspec/xspec/blob/706b4e6bafd338cbe45540d9757c90e82ac4848c/test/xspec.bats#L93)
* [`"invoking xspec generates HTML report file"`](https://github.com/xspec/xspec/blob/706b4e6bafd338cbe45540d9757c90e82ac4848c/test/xspec.bats#L100)

Are they really intentional? They don't appear so,

[2017-01-03 22:12] #25 closed

[2017-01-03 22:47] cirulls commented on #36
As mentioned in https://github.com/xspec/xspec/pull/28#issuecomment-270239480, code coverage needs Java 8 to run successfully (I reminder to myself for the documentation).

I'll have a look at your implementation in the batch script. As I only have Saxon EE 9.6 available I may be inclined to fix ```com.jenitennison.xslt.tests.XSLTCoverageTraceListener``` as you mentioned in https://github.com/xspe

[2017-01-03 22:48] cirulls commented on #37
Remember to mention that code coverage requires Java 8.

[2017-01-03 22:50] cirulls commented on #29
Thanks for letting me know about ``Q`, I was aware of ```QName``` but not of ```Q```.

Is the solution with double curly braces fine with you? Can I close this issue?

[2017-01-04 11:05] cmarchand commented on #29
All the solutions provided in this thread are fine.

The question is: is it a xspec writer's responsability to escape de curly braces, or should the xspec compiler do it ?

Whatever the answer, it have to be written in the documentation.

For me, it's fine to say the xspec writer knows enough XSL stuff to be able to escape the curly braces in x:context and x:expect

[2017-01-05 22:22] cirulls opened #44 "Run tests in Travis for both Saxon HE 9.7.0-14 and 9.6.0-7"
Following the work done by @AirQuick in #43 for AppVeyor, extend the Travis configuration to run tests with the shell script using both Saxon HE 9.7.0-14 and 9.6.0-7. This will allow to detect unexpected behaviour using different version of Saxon as identified in #40.

[2017-01-06 20:47] AirQuick opened #46 "SXWN9000 when setting up $impl:successful"
**test.xsl** which just returns the input node:
[code]

**test.xspec** which just counts the element:
[code]

The test runs fine, but a warning `SXWN9000` is raised when setting up `$impl:successful`.

[code]

Though the warning doesn't seem harmful, still nice to remove.

[2017-01-06 21:15] AirQuick opened #47 "Result document node ($impl:test-items) removes the type annotations"
**test.xsd** (defines **attribute(bar)**'s type as `xs:NMTOKENS`)
[code]

**test.xml** (an instance of **test.xsd**)
[code]

**test.xsl** (loads **test.xml** with validation so that **attribute(bar)**'s data is recognized as `xs:NMTOKEN+`)
[code]

**test.xspec** (tests **test.xsl**)
[code]

With those files and a schema-aware processor, the scenario `"Inspect via a wrapper document node"` fails:
[

[2017-01-07 09:41] cirulls commented on #39
Thanks for spotting this. In fact, these tests should be testing that XSpec is generating the XML and HTML reports when it is executed without any option. The ```-j``` option was erroneous. I fixed this in #49.

Could you please review #49 and approve it or request further changes? Thanks.

[2017-01-07 10:08] cirulls commented on #29
I added it to the [documentation](https://github.com/xspec/xspec/wiki/Writing-Scenarios#matching-scenarios) at the end of the section Matching Scenarios.

Are you happy with this change in the documentation?

[2017-01-07 10:38] cmarchand commented on #29
That's perfect !Thanks a lot !
One of my colleagues point me something :
on <x:expect , there are two undocumented attributes : @context & @assert.@context is an XPath expression that points the part of the result the expect applies on@assert is a boolean expression that applies on the @context result, and works as the schematron assert.
Here is a sample on a function that returns an attribute :<x

[2017-01-08 02:32] AirQuick commented on #29
**context** and **assert** seem to have been introduced [rather quietly in haste](https://groups.google.com/d/msg/xspec-users/b_V-jz6WDus/kbwdqMLO1DMJ).
Unfortunately they're removed from this repository at the moment due to regressions, lack of test and scarce documentation. (#38)
I guess it would not be recommended to rely on them now.

[2017-01-08 12:22] cirulls commented on #29
Thanks @cmarchand and @AirQuick for your input.

@cmarchand : I edited your last comment and removed my reply at the end so that it is easier to read. I also removed the notation @ followed by attribute name as this is automatically converted into a GitHub handle which notifies GitHub users. Please do not use this common XML notation as [GitHub users have already complained in the past](https://gi

[2017-01-08 12:26] cirulls commented on #39
#49 approved and code merged into `master`.

[2017-01-08 12:26] #39 closed

[2017-01-08 13:41] AirQuick opened #50 "Failure report prints indistinguishable atomic types"
**test.xsl** (transforms **element(foo)** into its data)
[code]

**test.xspec** (check to see if **element(foo)** is transformed into a binary `01 23`)
[code]

This test reports a failure, as expected. The result does not match a binary `01 23`.
So far so good.
The problem is the failure report. **Result** and **Expected Result** look exactly the same.

Result | Expected Result
--- | ---
`xs:anyAt

[2017-01-08 16:17] #44 closed

[2017-01-08 16:47] #46 closed

[2017-01-08 18:02] cirulls commented on #37
I added code coverage documentation in the [wiki](https://github.com/xspec/xspec/wiki/Code-Coverage).

[2017-01-08 18:02] #37 closed

[2017-01-08 20:02] cirulls opened #52 "Prepare XSpec for release v0.5.0"
Prior to the XSpec release v0.5.0, update the README and LICENSE files, the wiki and the release notes.

[2017-01-09 07:06] AirQuick commented on #52
Is this wiki page still necessary?
https://github.com/xspec/xspec/wiki/User-Guide
Seems like it's orphaned.

[2017-01-09 07:19] AirQuick commented on #52
Made minor updates to https://github.com/xspec/xspec/wiki/Running-Scenarios
See its page history for details.

[2017-01-09 09:31] AirQuick opened #55 "Failure report prints decimal, double and integer in indistinguishable notation"
**test.xsl** (does nothing explicitly)
[code]

**test.xspec** (a series of `x:expect` that always fails)
[code]

The test fails as expected and the failure reports are generated.
So far so good.
But all the three failure reports look like this:

Result | Expected Result
-------| ---------------
() | 1

`xs:decimal` and `xs:double` are rendered in the same way as `xs:integer`.

Tested on the latest

[2017-01-09 09:41] AirQuick commented on #46
@cirulls,
Shall we give this issue a certain milestone?

[2017-01-09 09:42] AirQuick commented on #50
Looks like [`test:atom-type`](https://github.com/xspec/xspec/blob/8931b371bd619feeeee25bd7014d8a677ab88505/src/compiler/generate-tests-utils.xsl#L659-L671)'s coverage is too limited, compared to the basic [types](http://www.w3.org/TR/xslt20/#built-in-types).

[2017-01-09 09:49] AirQuick commented on #50
Labeling as bug, because the spec says, "*Every* XSLT 2.0 processor"

[2017-01-09 10:50] AirQuick opened #56 "test/*.xspec refers to schema in googlecode"
These URLs in test/*.xspec files are obsolete. So they can't be validated without catalog.
[code]
Maybe they should be updated using a relative path? (`../src/schemas/xspec.rnc`)

[2017-01-09 11:28] AirQuick opened #57 "Files in test/xspec"
Just wondering what is the purpose of these files in `test/xspec` directory:
https://github.com/xspec/xspec/tree/df4959b87cf8054ca4ad8b6d17b627c233dff659/test/xspec
Residue of an automated test, perhaps?

[2017-01-09 13:26] AirQuick commented on #55
Probably [`test:report-atomic-value()`](https://github.com/xspec/xspec/blob/8931b371bd619feeeee25bd7014d8a677ab88505/src/compiler/generate-tests-utils.xsl#L638-L642) is trying to emit numeric literals, in an incomplete way.

Per the [spec](http://www.w3.org/TR/xpath20/#id-literals),

[2017-01-09 13:58] AirQuick commented on #55
Labeling as bug, because it doesn't respect the spec without stating a specific reason.

[2017-01-09 15:18] AxelCourt opened #59 "Testing a function/template that returns an attribute with x:expect/@test"
Hi,

Testing a function or a named template that returns an attribute seems to generate incorrect XSL code. See the attached example: [test.zip](https://github.com/xspec/xspec/files/693753/test.zip).

[code]
Using `@test` with an XPath expression that returns a boolean value (where `.` here is an attribute node) causes the generated XSL to fail with the following error:
`XTDE0420: Cannot create an

[2017-01-09 15:30] AirQuick commented on #59
I was going to file an issue regarding this. **test/*.xspec** files do not pass validation due to `x:variable`...

[2017-01-09 15:40] AirQuick opened #60 "test/*.xspec files violate schema"
[***.xspec** files](https://github.com/xspec/xspec/tree/ba5f97c903d0022d322d7af7e379b6fbcaf35ee6/test) do not pass validation with [**xspec.rnc**](https://github.com/xspec/xspec/blob/07c0c60ff9a8cd7c6e8623ba797e906ce1a84746/src/schemas/xspec.rnc).
[code]
Schema or *.xspec, which one is correct?
The essentially same question raised in #59. Filing this issue to address it explicitly.

[2017-01-09 18:36] AirQuick commented on #52
Added color legends to https://github.com/xspec/xspec/wiki/Code-Coverage

[2017-01-10 07:00] AirQuick commented on #60
List of validation errors:

* Undefined `variable` element is used
  * generate-tests-utils.xspec
  * xspec-rule.xspec
  * xspec-variable.xspec

* Undefined `apply` element is used
  * xspec-rule.xspec

* Label is missing from `expect` (this seems to be just a bug of .xspec file)
  * xspec-result-naming-collision.xspec

[2017-01-10 09:09] cirulls commented on #56
Thanks for spotting it. This should be fixed for release v0.5.0.

We can either use a relative path: `../src/schemas/xspec.rnc`
Or a URL: https://github.com/xspec/xspec/blob/master/src/schemas/xspec.rnc

In general, I favour absolute paths and URLs but in this case it will tie it to the master branch and it will problematic on other branches.

What do you think it's better?

[2017-01-10 16:49] AirQuick opened #62 "test:* elements in src/compiler/generate-tests-utils.xsl"
src/compiler/generate-tests-utils.xsl has some `test:*` elements such as [this](https://github.com/xspec/xspec/blob/8931b371bd619feeeee25bd7014d8a677ab88505/src/compiler/generate-tests-utils.xsl#L79-L120).
What are they for?
Are they to be migrated to [generate-tests-utils.xspec](https://github.com/xspec/xspec/blob/master/test/generate-tests-utils.xspec)?

[2017-01-10 18:27] AirQuick commented on #56
Another option would be just removing the `<?oxygen RNGSchema=...` processing instructions.
Probably the PI line was useful circa 2010, but today Oxygen (with its built-in XSpec) validates *.xspec files without it.

[2017-01-10 22:03] AirQuick commented on #47
When setting up [`$impl:test-items`](https://github.com/xspec/xspec/blob/187f157cdcc3e270f80e75696c4926dc37c9ca12/src/compiler/generate-xspec-tests.xsl#L326-L328), the `document` and `copy-of` elements do not have the `validation` attribute. The effect is the same as `validation="strip"`.

http://www.w3.org/TR/xslt20/#validation

So the type annotations are lost.

[2017-01-11 08:05] AirQuick commented on #59
Another workaround (without worrying about `x:variable`) would be

[code]

[2017-01-11 08:32] AxelCourt commented on #59
Thank you for the workaround, that should do the trick for now! The solution was right under my nose though...

[2017-01-12 20:12] cirulls commented on #57
Thanks for spotting this. Yes, these are the reports of automated tests and they should not be there. I will remove them.

[2017-01-12 20:18] cirulls commented on #59
@AxelCourt : thanks for uncovering the issue of `x:variable` not in the RNG Schema. Are you happy with the workaround provided by @AirQuick? Can we close this issue?

@AirQuick : thanks for providing support to @AxelCourt. Shall we raise a ticket for assessing the inclusion of `x:variable` to the RNG Schema?

[2017-01-12 20:21] cirulls commented on #59
@AirQuick : I just noticed that you already raised #60 for the RNG Schema, thanks.

[2017-01-12 20:24] cirulls commented on #60
I confirm there are inconsistencies between the test suite and the RNG Schema.

@AirQuick : are you fine if we address this in v0.6.0? What is your take on these missing elements? Shall we include them in the RNG Schema?

[2017-01-12 20:44] AirQuick commented on #59
Though there is a workaround, I think this is a bug. I have a possible fix. Will submit it in a few days.
If the fix is not feasible, then the behavior should be documented, I think.
So let me update the label and the milestone.

[2017-01-12 21:34] AirQuick commented on #60
I'm fine with 0.6.

What is the current development status of  `variable` and `apply`? I'm relatively new to XSpec and didn't notice the elements until recently 😮
For `variable`, [Wiki](https://github.com/xspec/xspec/wiki/Compilation#variables) says, "This is not implemented yet". So what is the current status and plan?
The `apply` element is also briefly mentioned in the same [Wiki](https://githu

[2017-01-12 21:56] cirulls commented on #59
That's fine, feel free to send a pull request for this.

[2017-01-13 03:59] AirQuick opened #64 "Update .gitignore"
To prevent #57 for the future, we may want to update `.gitignore` and ignore the dir/files generated by  `test/run-xspec-tests.sh` and `test/xspec.bats`.

[2017-01-13 07:54] AxelCourt commented on #59
Thanks for your answer @cirulls but I agree with @AirQuick : there is a bug with the `@test` attribute that should be dealt with, or at least the document should be updated to explain the proper way to test functions / templates that return attributes.

[2017-01-13 22:21] cirulls commented on #56
@AirQuick : I removed the `<?oxygen RNGSchema=...` processing instructions as you recommended. I also removed obsolete references to `xspec.google.com` into comments. I checked that no obsolete references are present any more with this command under Linux:
[code]
I erroneously committed the code straight into `master` instead of raising a pull request, my bad. Since these are just cosmetic changes

[2017-01-13 22:25] cirulls commented on #59
@AxelCourt : Ok, let's keep this issue open until @AirQuick submits a pull request. We will address this in v0.6.0.

[2017-01-13 22:55] cirulls commented on #52
I removed the orphaned page User-Guide, content in this page went into [What is XSpec](https://github.com/xspec/xspec/wiki/What-is-XSpec), [Installation on Mac and Linux](https://github.com/xspec/xspec/wiki/Installation-on-Mac-and-Linux) and [Installation on Windows](https://github.com/xspec/xspec/wiki/Installation-on-Windows).

[2017-01-13 22:56] cirulls commented on #52
I'm fine with changes in [Running Scenarios](https://github.com/xspec/xspec/wiki/Running-Scenarios), thanks for doing it.

[2017-01-14 12:18] AirQuick commented on #56
Verified the changes ignoring whitespaces. Thanks.

[2017-01-14 12:18] #56 closed

[2017-01-14 13:32] cirulls commented on #52
Thanks for adding the colour legends on [Code Coverage](https://github.com/xspec/xspec/wiki/Code-Coverage).

[2017-01-14 14:13] cirulls commented on #56
I found other old references to google repositories so I fix it.

[2017-01-14 15:01] AirQuick commented on #56
Looks good too.

[2017-01-14 15:22] AirQuick opened #67 "Cannot compare namespace node"
**test.xsl** (defines a namespace node variable)
[code]

**test.xspec** (tests **test.xsl** by comparing the namespace node variable with itself)
[code]

The `x:expect` must succeed, but it fails.
The report doesn't tell what's wrong:

**Result** | **Expected Result**
---------|---------------------
`/node()` | `/node()`

[2017-01-14 15:25] AirQuick commented on #67
Low priority. But this bug makes it a bit complicated to write a test case for #59.

[2017-01-14 17:09] #57 closed

[2017-01-14 17:55] cirulls commented on #64
`.gitignore` updated with directories and files auto-generated by tests.

[2017-01-14 17:55] #64 closed

[2017-01-15 14:17] #52 closed

[2017-01-19 20:48] #50 closed

[2017-01-19 20:48] #55 closed

[2017-02-01 20:22] #47 closed

[2017-02-05 04:38] AirQuick opened #74 "XProc harness does not work (or incomplete documentation)"
I just tried the XProc harness for XSpec, and I think the code is somewhat broken or at least the documentation is incomplete. Here's what happened to me:

As I know little about XProc, I started from the documentation. Per [Running Scenarios](https://github.com/xspec/xspec/wiki/Running-Scenarios), this is the basic command line for XProc:

So, on the latest master + XML Calabash 1.1.15-97, I trie

[2017-02-05 10:12] cirulls commented on #74
Thanks for highlighting this, I came to the same conclusion at about the same time when checking #72 raised by @opax.

As I wrote in #72, I suggest to use the implementation in Oxygen. Would you agree with that?

[2017-02-05 12:24] cirulls commented on #74
I started working on this in branch 72, see in particular [.travis.yml](https://github.com/xspec/xspec/blob/72/.travis.yml) and [saxon-xslt-harness.xproc](https://github.com/xspec/xspec/blob/72/src/harnesses/saxon/saxon-xslt-harness.xproc). The Travis configuration is currently running a single test just to check that the XProc harness executes correctly but it would be good to let it run all the

[2017-02-05 14:04] AirQuick commented on #74
So, are you reverting the whole `src/harnesses` back to [v0.3](https://github.com/xspec/xspec/tree/77213c795263f88c6e46ed52ac33a42f057878d0/src/harnesses)?
Or only the Saxon harness?

[2017-02-07 09:38] cirulls commented on #74
Good point! I feel like it is an issue similar to the one we encountered in #26 when a regression bug from v0.4.0-RC was identified.

As far as I can see, the XProc harness for Saxon does not work as it is in the code base. The one implemented in Oxygen based on v0.3.0 does work and @opax introduced an improvement for the encoding in #72. My priority would be to make the Saxon XProc harness work a

[2017-02-07 18:36] AirQuick commented on #74
As you pointed out, this look similar to #26. Apparently `src/harnesses` was refactored and released as RC in haste.

The commit logs for `src/harnesses` suggest that after v0.3.0, the biggest changes were the refactoring for multiple processors (3cd1a4e81ad5eb60e9407d8bc3a5b8517eaf3272) and the BaseX server support (9f600d58600941c5824a1795fb5ba63d26060d40). Other few changes look like minor twea

[2017-02-07 18:56] cirulls commented on #74
Thanks for your feedback. I'll do the following:

- Revert ```src/harnesses``` to v0.3.0
- Implement the pull request submitted by @opax in #72
- Write a test that checks the encoding
- Add the Saxon XProc harness to the ```.travis``` configuration so that it is included in our test suite (I'll see if I can make it run all the tests)
- Document how to run the Saxon XProc harness in the wiki

When

[2017-02-09 10:32] tofi86 opened #75 "Schematron support"
XSpec currently supports testing XSLT and XQuery.

@AndrewSales had a talk at XML Prague unconference day (in the Schematron Users Meetup) about how to test Schematron schemas and came up with XSpec as one possibility. Althought, there are other tools yet, I like the idea of testing with XSpec.

However, I've no idea yet how to implement it... ;-) This is just a ticket to open discussion...

[2017-02-09 10:33] tofi86 commented on #75
Link list:
* https://github.com/sutf

[2017-02-09 11:12] AndrewSales commented on #75
Thanks, Tobias.
I haven't looked at it myself in any detail, but Tony Graham surfaced this: https://github.com/martian-a/alder.

[2017-02-09 11:19] cirulls commented on #75
I like the idea and I can see how this could be useful for Schematron users. Could you post some examples of Schematron schemas and what would you like to test in those schemas? This would help to define the specs for supporting Schematron.

I can't promise this will be developed but we can definitely look at ways of doing in and, if there is interest, other people may want to contribute or chip i

[2017-02-09 11:22] tofi86 commented on #75
@AndrewSales @tgraham-antenna that looks promising... added to the link list!

@cirulls there are some examples in the SUTF repository https://github.com/sutf/samples by @kosek

[2017-02-16 20:47] #74 closed

[2017-02-21 20:01] vincentml commented on #75
I created a RelaxNG model that I am using to write unit tests for Schematron, which are then converted via XSLT to XSpec for execution. I would be happy to share what I have.

[2017-02-22 09:45] AndrewSales commented on #75
That sounds very interesting - please do share.

On 21 February 2017 at 20:01, vincentml <notifications@github.com> wrote:

[2017-02-22 10:32] cirulls commented on #75
Yes, please do share it. Feel free to send a pull request or to post a link to it. It would be useful if you add instructions on how to run it so that we can try it out.

[2017-02-22 14:47] cmarchand commented on #59
Hello !

@AirQuick sample from 01/11 doesn't work with 0.5.0, but was working before.
Error is :
ERROR in scenario "xxx": can't have both @select and context at the same time

Attached a sample.
[expect_select_context.zip](https://github.com/xspec/xspec/files/793813/expect_select_context.zip)

Best,
Christophe

[2017-02-23 06:25] AirQuick commented on #59
Hi @cmarchand,
The sample works fine on my end.
Make sure you're using the last released version of v0.5.0. The error message suggests it's one of the pre-release versions.

[2017-02-23 09:29] cmarchand commented on #59
You should be right, I've build xspec-maven-plugin just after the first announcement.

It is important that we do not publish many versions of the same release, because it is confusing.

For 0.6.0, we could publish RCx before publishing the 0.6.0.
Or use 0.6.0, 0.6.1, 0.6.2...

I check this.

Thanks

[2017-02-23 11:12] AirQuick commented on #59
I've incorporated your "two attributes" case into the test cases for the proposed fix (not submitted yet). So your sample scenario should work reliably in the future.

Regarding the versioning, I also remember the `v0.5.0` tag was floating. Looks like @cirulls has stopped it, following the discussion in #53. So, for v0.6.0+, my understanding is that the master branch is the continuous RC, and the

[2017-02-23 11:49] cirulls commented on #59
That's correct. I initially created the tag v0.5.0 back in November 2016 to allow @cmarchand to retrieve XSpec via a single zip file for his projects. When the official release was done in January 2017, I updated that tag with the latest release. I keep track of the changes we make in a release draft (I'm not sure you can see it in https://github.com/xspec/xspec/releases) but I will only make the

[2017-02-23 11:52] cmarchand commented on #59
Thanks a lot !

Regarding versionning, I build xspec-maven-plugin from [release](https://github.com/xspec/xspec/archive/v0.5.0.zip).
It is important that these "release"s don't change. Does the zip file has the same content than the tagged sources ?

[2017-02-23 15:19] AirQuick opened #78 "ID in report HTML is not unique"
**test.xsl** (does nothing)
[code]

**test.xspec** (just fails)
[code]

This scenario generates a report HTML like this:
[code]

The `id` values are not unique.

(Personally I do not need to have this issue fixed right now. I just needed to file an issue for recording the fact.)

[2017-02-23 21:25] cirulls opened #80 "Harmonization with Oxygen - build.xml"
I'm reporting here email threads I exchanged with @AlexJitianu from Oxygen in order to harmonize the XSpec version in the GitHub repository with the XSpec version integrated with Oxygen. The aim is to have a harmonized version of XSpec so that we can reach a win-win situation whereby:
- Oxygen can easily integrate a new release of XSpec and benefit from the work done by the XSpec community
- XSpec

[2017-02-28 05:16] AirQuick opened #82 "XPDY0050 when running generate-tests-utils.xspec for XQuery"
Execute `test/generate-tests-utils.xspec` for XQuery (`-q` option). It terminates:

[code]

Tested on the latest master.

Looks like the error didn't happen until 86e9bbf676d027e14234338224977dc75b65d6b1

[2017-02-28 08:23] AirQuick opened #84 "xspec.bat (Windows) fails when path contains parentheses"
`bin\xspec.bat` terminates when path contains parentheses such as `(1)`:

[code]

[2017-02-28 08:25] AirQuick commented on #84
I have a fix.

[2017-02-28 08:55] AirQuick opened #85 "Useless href in report HTML"
**test.xsl** (does nothing)
[code]

**test.xspec** (pending)
[code]

This scenario generates a report HTML like this:
[code]

`<a/>` is defined with `href`, but its link target does not exist. (No element has `id="d3e4"`.)

(Personally I do not need to have this issue fixed right now. I just needed to file an issue for recording the fact.)

[2017-02-28 17:00] tofi86 opened #87 "Ignore certain nodes in expected results"
From the [oXygen webinar](https://www.oxygenxml.com/events/2017/webinar_unit_testing_xslt_with_xspec_and_oxygen.html):

Nice feature request! Add an `@ignore` attribute to be able to ignore certain nodes...

[2017-02-28 17:27] AirQuick commented on #87
I thought so, too. The use case wasn't that clear though.
For some cases, [three dots (`...`)](https://github.com/xspec/xspec/wiki/Writing-Scenarios#expectations) would help.

[2017-02-28 17:36] tofi86 commented on #87
Does this work for Attribute values as well?

You may have a chunk of XML you'd like to compare which contains generated IDs or the like. And they should be ignored when comparing the expected result...

[2017-02-28 17:36] tofi86 commented on #87
BTW: I didn't even know this functionality exists! This is awesome! You should highlight it on the wiki page!

[2017-02-28 17:56] AirQuick commented on #87
I tried it just now. This result

[code]

matches this expectation

[code]
So I think the feature is working for the attribute values as well. Does it cover your use case?

Quite agreed. I didn't notice the feature until a few months ago. 😮

[2017-02-28 18:01] tofi86 commented on #87
@georgebina @AlexJitianu the "ignore" feature is already built in in XSpec! See comments in this thread!

I think we can close the issue as the use case requested in the webinar is already covered...
Do you agree?

[2017-02-28 18:39] vincentml commented on #75
I've started merging my RelaxNG and XSLT for Schematron into a fork of the XSpec repository, and am trying to update xspec.bat so that it can all run with one command. This is taking a little longer than I expected. I'll send a pull request when it's working.

[2017-02-28 19:23] AirQuick commented on #87
Looks like right now we don't have a dedicated test file for the three dots feature. I'll add it. Hopefully it will also serve as a feature example.

[2017-02-28 20:52] mmh-docufy-de commented on #87
Hi, I was asking this during the webinar. And I learned from a colleague afterwards about the three dot feature. The example above is pretty impressive.
What seems not to be covered by this are optional attributes, in a situation where it does not matter if they are present or not.
I guess I would rather withdraw this idea and write more precise tests; I plan to know more about my data :-)
Anyway,

[2017-03-01 10:45] georgebina commented on #87
Yes, I agree, this solves most use cases.
For more complex cases one can use another stylesheet that imports the original one and filters the result as needed, then test that. For example, if we have a stylesheet `test.xsl` that just copies the XML to the output:

[code]

and we want to ignore "xml:*" attributes when we test, then we can use something like `testDriver1.xsl`:

[code]

and in the XS

[2017-03-01 13:03] mmh-docufy-de commented on #87
Thx a lot, George!

[2017-03-01 13:33] georgebina opened #89 "Cannot test template matching the document node"
For `test.xsl`

[code]

I try to test it with

[code]

and the actual result is empty which fails when tested against `<result/>`. This is because when the result is computed, the `apply-templates` is called on the `impl:context` which selects the content of the document, not the document itself:

[code]

I would guess this is a bug as I cannot see how this template can be tested.

Regards,
George

[2017-03-03 11:17] AirQuick opened #90 "Useless namespaces in report HTML"
Run `bin\xspec.bat tutorial\escape-for-regex.xspec` (or `bin/xspec.sh`).

The report HTML `tutorial/xspec/escape-for-regex-result.html` is generated.

It has useless namespaces:

[code]

[2017-03-04 17:15] cirulls opened #92 "Harmonization with Oxygen - HTML report"
The HTML report in the GitHub version of XSpec is different from the HTML report in the XSpec version implemented in Oxygen (see https://github.com/xspec/xspec/pull/79#pullrequestreview-25125234 for a comparison). @cirulls,@AirQuick, and @AlexJitianu agree that the Oxygen version looks better. Therefore the task is to align the HTML report with the Oxygen version. I attach the [related files from

[2017-03-06 08:17] AlexJitianu commented on #92
Hi Sandro,
The resources you have attached didn't suffer any change ever since they were added.

[2017-03-06 12:56] cmarchand opened #93 "Scenario with x:expect/@ref linked to a big document generates files in current directory"
See https://github.com/xspec/xspec-maven-plugin1/issues/3 for full description.

[code]

Files are like this :
[code]
If `input.xml` and `output.xml` are 1000+ elements, temp files are generated in **current directory**.

They should be generated in **the same directory than compiled XSL** and/or result file, to allow a simple clean.

I'll file a push request if I'm able to.

[2017-03-06 15:40] cmarchand commented on #93
Created Pull Request : https://github.com/xspec/xspec/pull/94

[2017-03-06 16:35] AirQuick opened #95 "xspec-result-naming-collision.xslt uses functx namespace"
[`test/xspec-result-naming-collision.xslt`](https://github.com/xspec/xspec/blob/cd1908a424fd0b2150a5585308c4bb4ecb5bae7a/test/xspec-result-naming-collision.xslt) defines a `functx` function which actually is not found in [the FunctX library](http://www.functx.com/). Maybe a bit of abuse.

[2017-03-07 00:20] fgeorges opened #97 "Regression in the XProc harness for Saxon"
The XProc harness for Saxon (and apparently the others as well) seem to have suffered a regression.  They are requiring `xspec-home` to be set regardless of the way they are used, even though the reference to the sources where all carefully checked (resolving using `xspec-home` if set, or using the global name URI if not).

It seems now they are requiring `xspec-home` anyway.  Not sure what happen

[2017-03-07 09:29] cirulls commented on #97
Hi Florent,

we noticed that the XProc harness was broken as reported in  #74 and #72. We fixed this in #76 by reverting the XProc to the version currently integrated with Oxygen and added a test to run the XProc harness with Saxon in order to catch any future regression bugs (see [xspec.bats](https://github.com/xspec/xspec/blob/master/test/xspec.bats#L195-199)). This implementation requires ```xs

[2017-03-07 12:05] fgeorges opened #99 "Regression: @assert support is gone?!?"
It seems support for `@assert` has gone entirely from the codebase?

[2017-03-07 12:08] fgeorges commented on #97
Well, I am not sure.  #74 looks like `xspec-home` was not defined in that case.  It looked like a matter of setting it somehow, rather than reverting months of work?

I am still not sure about why it has been reverted to an older version rather than fixing the bug itself.

[2017-03-07 12:13] fgeorges commented on #99
Repro:

- `test-assert.xsl`
[code]

- `test-assert.xspec`
[code]

- output:
[code]

[2017-03-07 12:26] AirQuick commented on #99
For stabilization, `@assert` and `@context` are not in the codebase for now. See #38. To reinstate them, we definitely need your help.

[2017-03-07 13:18] fgeorges commented on #99
I still don't see why new features were removed, instead of simply adding back @href.  Is there any rational behind the reason why we decided to revert files? (not even branching again from commits in the past, but literally overriding files with older versions)

I would just like to understand.  I don't see such a reason, but as this is such a huge decision to remove work accumulated over months,

[2017-03-07 14:27] fgeorges opened #100 "Regression: no intermediary logging support anymore"
Due to reverting XProc harnesses, `log-compilation`, 'log-xml-report` and `log-report` have all disappeared from the code base.

[2017-03-07 14:28] AirQuick commented on #99
Per my understanding, currently the master branch requires more stability than the past.
So it wasn't as simple as pushing a quick fix. We need not only bug fixes but also documentation (because it's a new feature) and broader unit tests (because the existent tests didn't catch the regressions). And that's where we need your help.

[2017-03-07 15:18] AirQuick commented on #97
As discussed in #53, the master branch requires more stability than the past trunk. For a couple of particular cases, the long standing v0.3 final seemed more stable than the intermediate v0.4 RC.
That's why I agreed to reverting, with this [comment](https://github.com/xspec/xspec/issues/74#issuecomment-278097670): "until someone gets interested seriously in improving the multiple processors suppo

[2017-03-07 15:21] fgeorges commented on #99
Again, "stability" is not achieved by pasting ancient files in a newer code base.  I've had a look, it was a quite simple bug (almost a typo) so I fixed it.

It seems the `@assert` and `@context` doc has been lost during Google Code -> Github transition.  So it has to be documented.  Still, documentation is correct, it is just not complete.

I created a branch but, er..., seems I was still on mast

[2017-03-07 15:29] fgeorges commented on #97
Not sure what part of #53 you refer to.  Still not seeing the rationale here.  I had a bit of time, but I have to admit this complicates everything.

[2017-03-07 16:05] fgeorges commented on #97
I have put back the newest version of the harnesses in https://github.com/xspec/xspec/tree/fix/revert-reverting.  I fixed the bug with the input port not bound on the error step, and the xspec-home parameter not used in the format step.

Can you validate it works for you, and solve the problem you had initially (from your ticket description, it should), so I can merge it to master?

[2017-03-07 16:10] AirQuick commented on #99
Thanks for taking a look at it. I think that for re-introducing `@assert` and `@context`, the followings would be welcomed in particular:
* Fix for #26, #30, #31, #32 and #33
* Doc to introduce and explain `@assert` and `@context` (and deprecate `@test`?)
* Unit tests for `@assert` and `@context` in conjunction with result wrapper document node, $x:result, `@test`, `@select` and `@href`, based on

[2017-03-07 18:37] AirQuick commented on #97
All I can say at this point is that the master branch's status badge is now red...

[2017-03-07 20:02] cirulls commented on #97
Sorry for my delayed reply, I was busy at work today and didn't want to reply with a quick comment as this needs some clarification. I'm replying here to #99 and #100 as well. This is going to be a long reply so please bear with me.

As @AirQuick stated in https://github.com/xspec/xspec/issues/99#issuecomment-284736326, the rationale for reverting the XProc harness to v0.3.0 and removing attribute

[2017-03-07 20:36] cirulls commented on #99
I replied to this in https://github.com/xspec/xspec/issues/97#issuecomment-284841929.

[2017-03-07 20:36] cirulls commented on #100
See also my https://github.com/xspec/xspec/issues/97#issuecomment-284841929.

[2017-03-09 10:39] AirQuick opened #102 "External node files are not created on XProc"
### In short

[`result-document()` in `test:report-value()`](https://github.com/xspec/xspec/blob/f4811a5976c637210e651f5b46d962f38d183f9b/src/compiler/generate-tests-utils.xsl#L579) does not work on XProc.

### Steps to repro

Clone [the last known good master](https://github.com/xspec/xspec/tree/f4811a5976c637210e651f5b46d962f38d183f9b).

Modify `test/xspec-result-naming-collision.xspec` to make

[2017-03-09 10:39] fgeorges commented on #26
No, the result of applying templates to the element `document` is the element `container`.  So the following must fail (as it tries to get the child `child` of the child `container` of the result which is the `container` element itself):

[code]

The correct test is the following (gets the child `child` of the result element, that is, `container`):

[code]

[2017-03-09 10:42] AirQuick commented on #102
Probably related: https://www.oxygenxml.com/forum/topic10208.html

[2017-03-09 10:51] AirQuick commented on #26
But, if the result is a sequence of nodes, it is wrapped in a document node and this document is set as the context node of the expression, wasn't it?

[2017-03-09 11:04] AirQuick commented on #46
The same test returns Success on XSpec 0.3. So at some point in the past, a certain decision was made to break the backward compatibility?

[2017-03-09 11:05] fgeorges commented on #26
Only if there are more than 1 node.  This I think is an unfortunate legacy, as it is not possible to test precisely the result of a template or function returning more than 1 node (it is only possible to test the resulting node of copying the result sequence to a new document node).  This is by the way part of what `@assert` and `@context` try to address: being able to write expressions against th

[2017-03-09 11:34] fgeorges commented on #26
Actually, the document node wrapping was not on the result itself, but on the rsult of applying the `@test` expression when there was one, before comparing it to `expect/@href`, `expect/@select` or `expect/node()`.

[2017-03-09 13:05] vincentml commented on #75
Just an update: I added a few more features for Schematron support than I had originally intended so that is the reason for the delay. There are just a few tests left to write. I will be able to send a pull request soon.

[2017-03-09 13:23] cirulls commented on #26
@fgeorges : please do not push changes directly into ```master```. As I wrote in https://github.com/xspec/xspec/issues/97#issuecomment-284841929, you need to raise a pull request with your changes so that it can be reviewed. A pull request automatically triggers the [Travis](https://travis-ci.org/xspec/xspec) and [AppVeyor](https://ci.appveyor.com/project/xspec/xspec) continuous integration server

[2017-03-09 14:00] fgeorges commented on #97
Well, replying the same day is not really "delayed answer", is it? :-)

Unfortunately, your questions require to invest some time in it, which I cannot provide in the short time future.  I am spending as much spare time I got (actually more than that) in getting the master green again.

[2017-03-09 14:06] fgeorges commented on #99
branch `fix/revert-reverting` (https://github.com/xspec/xspec/tree/fix/revert-reverting) is green.  Well, almost...

The last test in xspec.bats fails on CI.  It passes on my machine.  Looking at the logs, it seems the Calabash pass does not work (message later on is: `Source file xspec\xspec-72-result.html does not exist`).  Unfortunately, there is not any more information int he logs, and I do n

[2017-03-09 14:13] fgeorges commented on #26
Of course.  Pushing to master was a mistake (I did create a branch, just failed to see there was an error, so I was on master that whole time).  Sorry about that.  What I meant above is that I am working on getting master green again, by working on a fix branch.

[2017-03-09 14:53] fgeorges commented on #99
BTW, I've just noticed that the badges always point to the state of master, even on another branch.  So here are the direct links to the relevant statuses from `fix/revert-reverting` (as linked to from the commit view):

- https://travis-ci.org/xspec/xspec/builds/209354710
- https://ci.appveyor.com/project/xspec/xspec/build/1.0.142

[2017-03-09 15:34] cirulls commented on #75
Thanks! We look forward to seeing your pull request! Thanks for writing the tests as well.

[2017-03-09 20:58] cirulls commented on #26
Sorry @fgeorges, I misunderstood your previous comment. That's perfectly fine, I look forward to getting the fix branch, thanks.

[2017-03-09 20:59] cirulls commented on #99
Thanks @fgeorges. I'll have a look at the failing test and check why it is failing. I'll keep you posted.

[2017-03-09 21:41] cirulls commented on #99
@fgeorges: the failing test was the one related to the XProc harness failing. The version of the code you had in branch ```fix/revert-reverting``` was the one for v0.4.0. We introduced the XProc test when the XProc harness was reverted to v0.3.0 (ad6b0412afdf9f95feeb5b6c0e99804fa34d7bfc) so that we could make sure that that version was working. I suggest to always branch out from master (that's an

[2017-03-09 21:47] cirulls commented on #99
If you need to get your previous XProc changes from branch ```fix/revert-reverting``` you can branch from https://github.com/xspec/xspec/commit/fc49ba7431b10b68f75e8883300ba32d60e68149 and keep working on the XProc harness from there.

[2017-03-10 11:42] fgeorges commented on #99
Branch `fix/revert-revert-reverting` is green, created a pull request at https://github.com/xspec/xspec/pull/103.

[2017-03-12 19:32] vincentml commented on #75
I've sent the pull request #105 for adding Schematron support to XSpec. If there are any questions or feedback please let me know.

[2017-03-12 21:39] tofi86 commented on #75
Wow, awesome @vincentml! 👏
I'll try to have a look soon...

[2017-03-13 13:03] AirQuick commented on #93
Closing per [94](https://github.com/xspec/xspec/pull/94#issuecomment-286084106)

[2017-03-13 13:03] #93 closed

[2017-03-14 07:49] AirQuick commented on #87
I dumped working and nonworking examples and added them to one of the pending pull requests:
* [Scenarios](https://raw.githubusercontent.com/AirQuick/xspec/b0cf299091b517c95f18225b8799df3225b8e98e/test/end-to-end/cases/xspec-three-dots.xspec)
* Their [results](http://htmlpreview.github.com/?https://raw.githubusercontent.com/AirQuick/xspec/b0cf299091b517c95f18225b8799df3225b8e98e/test/end-to-end/ca

[2017-03-14 11:38] AirQuick commented on #59
I've submitted the pull request to fix this.

Included @AxelCourt 's case and its possible workaround in [`test/xspec-59_use-case-1.*`](https://github.com/AirQuick/xspec/commit/ab7c55eeab851ba306bb4cfcd0b604da6d57d8a8#diff-c20fdd8cd241429fbb635e9e7e5fb0b4)

Also included @cmarchand 's use case in [`test/xspec-59_use-case-2.*`](https://github.com/AirQuick/xspec/commit/ab7c55eeab851ba306bb4cfcd0b604

[2017-03-15 09:32] AirQuick opened #109 "Diag info not available on Travis/AppVeyor test failure"
On test failure like [this](https://ci.appveyor.com/project/xspec/xspec/build/1.0.160/job/ing545wshbu49nal#L142), AppVeyor should provide more information to help diagnose the failure.

[2017-03-15 18:44] AirQuick commented on #102
Same on [the current master](https://github.com/xspec/xspec/tree/74312e1100d7f289a5f70947e96cbdcdc8f1cc22) adapting the command line from [the updated Wiki](https://github.com/xspec/xspec/wiki/Running-with-XProc/79f398d6abe0194c32cc8ad5f18a55188129de27).

[2017-03-16 17:02] cirulls commented on #74
I guess they started integrating v0.5.0 in their beta release. Few weeks ago I emailed @alexJitianu mentioning that there were few bugs we noticed and fixed after the XSpec v0.5.0 release, I hope this message will prompt him again (alternatively I can drop him another email).

[2017-03-23 09:25] AlexJitianu commented on #74
Hi,
I guess I can make a build from the current development stream. We usually integrate releases since they are usually tested and more reliable... I'm not sure if it will make it in v19 but if it doesn't then I will schedule it for a maintenance build.

[2017-03-29 18:31] #109 closed

[2017-03-31 12:06] raducoravu opened #113 "More documentation annotations in xspec.rnc"
For example add more ## documentation before each of the attribute definitions:

                             attribute pending { text }?,
                             attribute focus { text }?

as Oxygen XML Editor will show this documentation when you want to insert each attribute.

[2017-04-04 18:33] danizen opened #114 "xspec ant task should support filesets/patterns/path elements"
I've created a `build.xml` that runs xspec tests for each file I list in a directory, but I really want it to run on all files in the directory.

[2017-04-04 19:18] cirulls commented on #114
Thanks for your input. I remember having the same issue few years ago when I had to run a bunch of XSpec tests using ant. I give you two ways of doing this:

- [xspec macro](https://github.com/xspec/xspec/wiki/Running-with-Ant#the-xspec-macro): the documentation on the wiki gives you an example on how to run multiple tests within the same ant target. I vaguely recall trying to use this at the time

[2017-04-04 19:32] cirulls commented on #113
Thanks for your input, more documentation is always good!

Attributes ```pending``` and ```focus``` have exactly the same function as the elements with the same names as described in the [documentation](https://github.com/xspec/xspec/wiki/Writing-Scenarios#focusing-your-efforts).

In [xspec.rnc](https://github.com/xspec/xspec/blob/master/src/schemas/xspec.rnc) the behaviour of the attributes are d

[2017-04-04 21:50] danizen commented on #114
I've used the xspec macro as you describe, and it works.   The issue is that then a developer must add the file both to a tests sub-directory, and also to the ant build.xml.   This is why a fileset is desirable.

It is a modern feature - it used to be that a Junit test suite had to list individual tests, and then, with Java annotations, all you have to list is packages to test.   With a fileset, y

[2017-04-04 21:51] danizen commented on #114
Also, avoiding ant-contrib is the reason I filed this issue :)   ant-contrib is a bit old for me to expect it to work.

[2017-04-05 07:20] raducoravu commented on #113
The information needs to be set before each attribute definition. I will prepare a pull request.

[2017-04-05 07:29] raducoravu commented on #113
There are a couple more attributes like "href", "select" which I do not know how to describe, my knowledge of XSpec is not that great. So they should be documented in the same way.

[2017-04-07 07:00] cirulls commented on #113
I added documentation for attributes ```href``` and ```select``` in https://github.com/xspec/xspec/pull/115#issuecomment-292457562.

[2017-04-08 10:26] cirulls commented on #114
Thanks for your input. I agree on ant-contrib, I was never fond of using it and also believe that it should be avoided if possible.

Could you post examples of your ```build.xml``` for ant and XSpec so that I can have a closer look at the code you're referring to? This would allow me to try out few things or to define the specifications for the new feature you're suggesting. Please also let me kno

[2017-04-08 11:10] cirulls opened #117 "Add documentation on how to run the test suite locally"
Following the work done in #98 and the increased number of contributors, add documentation in the wiki on how to run the test suite locally. The aim is to allow contributors to run the test suite locally before submitting their pull requests thus speeding up the code review process.

The documentation should include the setup required for Windows and MacOS/Linux and the commands to run the tests.

[2017-04-08 18:19] danizen commented on #114
At this time, the `build.xml` in the master branch of https://github.com/NLM-OCCS/marc2bibframe2/ shows this pattern.   The `tests` sub-directory holds a number of xspec tests.   The `build.xml` pulls down xspec with a `setup` target, and then the `test` target runs the tests.   I haven't written taskdefs for ant since it required Java-code to do it, and so I'm not sure whether it is possible to b

[2017-04-09 09:32] cirulls commented on #114
Thanks for sharing the code, it's always good to have an example.

To recap so that I understand correctly the specifications for the feature request: at the moment you are running the tests like this in your project:
[code]
This is painful because each time you add a new test you need to list it explicitly in the ant's build file. You want to be able to use a fileset, something like this:
[code]

[2017-04-09 09:37] cirulls commented on #114
By the way, I saw in the [commit history of your project](https://github.com/NLM-OCCS/marc2bibframe2/commit/b894058e23e96579148f7043c14ac54cf67444ae) that you need JUnit output for integration with CI/CD systems. XSpec now supports JUnit by the ```-j``` flag. For an example, see [Integration with Jenkins](https://github.com/xspec/xspec/wiki/Integration-with-Jenkins).

[2017-04-09 10:05] cirulls commented on #82
@AirQuick : Is this now fixed by the merge in #83 (commit https://github.com/xspec/xspec/commit/120b3316aef2c1106287dc7c5270f3ed49062c68)? When I run it with the shell script, I now get all the XQuery tests passing:
[code]

[2017-04-09 10:07] cirulls commented on #62
@AirQuick : Is this now fixed by the merge in #83 (commit https://github.com/xspec/xspec/commit/120b3316aef2c1106287dc7c5270f3ed49062c68)?

[2017-04-09 14:22] AirQuick commented on #82
Not fixed actually. But #83 has isolated the issue. Now we can run `generate-x-utils.xspec` on XQuery and we have an explicit [comment](https://github.com/xspec/xspec/blob/120b3316aef2c1106287dc7c5270f3ed49062c68/test/generate-tests-utils.xspec#L11) for the current limitation. So I think we can close this issue for now.

[2017-04-09 14:22] #82 closed

[2017-04-09 15:15] AirQuick commented on #62
It's still unclear what they are for. They exist in the initial [commit](https://github.com/xspec/xspec/commit/54f6e15de57cf90d8180cf1896f159d9948d61ed#diff-f3d9cf7431a4f91e794fd0a66c026a33). Perhaps they are for testing XSpec using Jeni's old [framework](http://www.jenitennison.com/xslt/utilities/unit-testing/)...?
Whatever they are, I don't see a reason to retain them once they are copied to `te

[2017-04-10 19:00] cirulls commented on #82
Thanks for checking. I'll close this ticket for now, we will address the ```TODO``` comments for XQuery at some point in the future.

[2017-04-10 19:19] cirulls commented on #113
This is now fixed in #115.

[2017-04-10 19:19] #113 closed

[2017-04-10 19:47] cirulls commented on #62
I don't know either why they are in there but it makes much more sense to migrate them to the test folder so that they can be executed by the automated test suite.

[2017-04-10 19:56] #62 closed

[2017-04-11 04:31] AirQuick commented on #89
Incidentally related to this thread? https://groups.google.com/forum/#!topic/xspec-users/bZs2enCrR_c

[2017-04-11 07:53] cirulls commented on #89
Sorry @georgebina, I somehow missed to read your issue when it was originally raised.

The solution suggested in the [XSpec discussion list](https://groups.google.com/forum/#!topic/xspec-users/bZs2enCrR_c) seems to work here too. If you add ```<x:context select="/">``` it seems to be possible to successfully test such template:
[code]

[2017-04-11 08:04] cirulls commented on #102
I have not tried to reproduce it yet but I had a quick look at the message in the Oxygen Forum and the related links. It seems to be related to an XProc bug or a different interpretation of the XProc specs. @AirQuick : Do you think we should investigate this further in XSpec?

[2017-04-11 12:28] AirQuick commented on #89
We may fix the issue by placing the context on the wrapper document node by default.
But doing so would break some scenarios. For example,

**test.xsl**
[code]

**test.xspec**
[code]

If we place the context on the wrapper document node by default, such pattern of scenario has to be rewritten. (`<x:context select="foo">`)
Not sure how popular it is, though.

[2017-04-11 14:32] AirQuick commented on #102
This issue seems to be an XProc harness bug or its design limitation at least.
I guess ideally the harness should cooperate with the compiler and save the documents to appropriate files.

I happened to find this issue while doing other things. So I filed it just for the record.
I personally do not need this feature, so for my part, it's ok to classify the issue as "deferred" or even "won't fix".

[2017-04-12 05:22] georgebina commented on #89
This solves the issue, I was not aware that context can be used like that.

[2017-04-12 08:10] raducoravu opened #119 "XSpec report breaks when the XSLT and XSpec are located in folder containing simple quote."
I have a folder called "Radu's samples" (contains a simple quote in its name).
I have an XSLT and and XSpec there, I run the XSpec report, I get:

     [java] Syntax error at char 40 near {...ojects/eXml/samples/xspec/a...} in expression in xsl:variable/@select on line 16 column 84 of personal.xsl:

The problem is that in "generate-xspec-tests.xsl" the value of the "stylesheet-uri" variable ends u

[2017-04-12 18:38] cirulls commented on #102
Thanks for your feedback. I'll classify it as won't fix and close it for now. If this comes back from an XSpec user, the bug is fixed in XProc or the XProc specifications change we can re-open it and re-visit the decision.

[2017-04-12 18:38] #102 closed

[2017-04-12 18:40] cirulls commented on #119
Thanks for raising this issue. Would it be possible to post an example of XSLT and XSpec code as well as your folder structure so that we can reproduce the issue? Thanks.

[2017-04-13 04:18] georgebina commented on #89
Well, there is one thing that indicates a change will not be bad. Right now, the default is different if the document is inline or external. For example if I use `href` to point to an external document, I do not get the root element, I get the document node:

[code]
while if we place the same document inline, as in the original example, we get the root element.
One can imagine a refactoring action

[2017-04-13 04:27] georgebina commented on #89
On the other hand, there will be probably an issue with people testing a named template as in your example, even without the `self::...` test, they may select an attribute of that element or a child node and they will do not understand what is going on.

So, an alternative approach will be to make the document node visible when we specify a fragment inline, maybe have something like

[code]

Regar

[2017-04-13 06:30] raducoravu commented on #119
I attached a zip containing a folder called "some'path" with two small XSLT and XSpec documents but their content does not matter much

[some'path.zip](https://github.com/xspec/xspec/files/918655/some.path.zip)

You should receive the following error running the XSpec:

     [xslt] Processing C:\Users\radu_coravu\Desktop\some'path\test.xspec to C:\Users\radu_coravu\Desktop\some'path\xspec\test.xsl

[2017-04-15 19:12] cirulls commented on #119
I confirm I was able to reproduce the error, I file this as a bug. I submitted #120 using the fix you suggested.

[2017-04-16 20:13] #95 closed

[2017-04-16 21:21] #90 closed

[2017-04-16 22:40] #84 closed

[2017-04-17 05:30] raducoravu commented on #119
👍

[2017-04-17 08:20] #119 closed

[2017-04-27 13:03] vincentml commented on #75
[Schematron + XSpec.pptx](https://github.com/xspec/xspec/files/961629/Schematron.XSpec.pptx)

I gave a short presentation on Schematron testing with XSpec in the open sessions at JATS-Con yesterday. These are the slides from that presentation.

[2017-04-27 13:32] cirulls commented on #75
Thanks for spreading the word and sharing the slides, they will be very useful as a basis for some documentation on the wiki once the new feature is merged into the ```master``` branch.

I have not followed this pull request in detail but I've already heard several people interested in it so I am eager to make it available. Do you  know what it is left to do in order to push it into ```master```?

[2017-04-27 22:25] tofi86 commented on #75
Thanks for sharing your presentation, @vincentml! And thanks for giving a shout via mail in advance of your talk. Unfortunately the stream didn't work very well in Germany and I wasn't able to follow the conference live...

[2017-04-29 19:17] rolfkleef opened #125 "Minor fix on Getting Started wiki page"
Apparently it's not possible to do pull requests on GitHub wiki pages, so a "nano fix" here: the list of generated test report files just above https://github.com/xspec/xspec/wiki/Getting-Started#dive-into-the-xspec-tests says `escape-for-regex.html` rather than `escape-for-regex-result.html`

[2017-04-30 02:26] AirQuick commented on #125
Thanks for spotting it. Fixed now.
AFAIK, wiki has no other instances of the same error.

[2017-04-30 23:56] vincentml commented on #75
@cirulls At this point I don’t have anything left to add. I am only making changes in response to feedback.

In regard to documentation, a file I added to the tutorial folder “tutorial/schematron/schematron.txt” is intended to be a wiki page. This file could be removed from the repository and added to the wiki. The slides could also be used in the documentation.

[2017-05-02 06:29] cirulls commented on #125
Thanks @rolfkleef for spotting it and @AirQuick for fixing it, I'll close the ticket.

[2017-05-02 06:29] #125 closed

[2017-05-02 06:37] cirulls commented on #75
Thanks @vincentml.

@AirQuick: you reviewed the pull request submitted by @vincentml and suggested some changes. Are you happy with them? Do you see anything else that should be absolutely added/changed before the pull request is merged into ```master```? If I remember well from the pull request thread there are already both documentation and tests for the pull request.

[2017-05-02 08:16] tofi86 opened #126 "Create a docker image with Java + XSpec"
Does someone know how to create a docker image and register with official docker hub?

It would be great to have this as a pre-configured docker image for CI environments like GitLab-CI etc.

If someone knows how to do this, I'm volunteering to test it. It should imho be another repo in xspec org.

[2017-05-02 09:38] cirulls commented on #126
I am familiar with Docker and would be very keen to implement this. I have an account on Docker Hub but I think it would be better to register an official account for XSpec. I agree that a different repository within the XSpec organisation would be ideal for this.

I can’t promise when I can start working on this but I am very keen to do it and it would be great you could test it once I’ve got som

[2017-05-02 15:18] tofi86 commented on #126
Awesome! No hurries - just let me know when you need my testing skills ;-)

[2017-05-04 14:27] AirQuick commented on #75
No. Since the new modules are built around the existing ones with minimal impact, the pull request looks safe enough to be merged.
My only concern is that as far as I see in the pull request thread, no feedback has been made for the core features. But maybe we can just release it and call for feedback like "New feature… may change!" as @vincentml stated in the presentation.

[2017-05-04 20:25] cirulls commented on #75
Thanks to @vincentml for the implementation and to @AirQuick for reviewing it. I'm going to merge it into ```master```. I'm planning to write some tutorial on the wiki in the next days using the documentation provided by @vincentml so that I can familiarize myself with this new feature. I'm planning to mention it at [XML London 2017|http://xmllondon.com/] so that we can spread the word about it an

[2017-05-04 20:27] #75 closed

[2017-05-05 14:22] cmarchand opened #127 "XSLT 3.0 support"
Xslt 3.0 support should be largely enhanced.

It is impossible to write xspec on xslt that have a ```<xsl:use-package/>```, as ```<xsl:use-package/>``` can not be used in imported XSL, and as xspec implementation generates a XSLT that imports the XSLT we want to test.

I create this issue, but it **must** be completed with all XSLT 3.0 features that are not supported.

[2017-05-05 16:04] cirulls commented on #127
Hi Christophe,

could you post an example of XSLT 3.0 with ```<xsl:use-package/>``` and an example of an XSpec test (even if it is not running correctly) so that we can simulate the issue?

Thanks,

Sandro

[2017-05-06 09:53] tofi86 commented on #75
Awesome! 👏 🎉  Just 3 months from a loose idea to implementation. I'm really looking forward to using and testing this! :-)

[2017-05-07 19:31] cirulls opened #128 "Add documentation for Schematron support"
Schematron support in XSpec was added in 6b6d07b (see #75 and #105). @vincentml provided [documentation](https://github.com/xspec/xspec/blob/master/tutorial/schematron/schematron.txt) and [slides](https://github.com/xspec/xspec/files/961629/Schematron.XSpec.pptx) for this new feature. Convert the documentation to Mardown and add it to the wiki.

[2017-05-09 12:34] markdunnoup opened #130 "Add support for <xsl:key>"
XSpec produces incorrect output for XSLT files that use <xsl:key>.

Example attached (XSLT and XSpec). The output should be clean, but instead has errors because the <xsl:key> has not been processed correctly.

The attachment also includes an XML file containing the same structure as in the scenario "Insert PI is in separate para from callout". When the XSLT is run over this XML file, it produces

[2017-05-09 12:38] markdunnoup commented on #130
The attachment facility seems to be not working, but I will supply the files by email on request.

[2017-05-10 08:50] markdunnoup commented on #130
I simplified the stylesheet and XSpec to make investigation easier, and discovered tha the problem seems to be in implementation of XPath 2 (specifically "is").

I will close this ticket and raise a separate one.

[2017-05-10 08:50] #130 closed

[2017-05-10 08:57] markdunnoup opened #132 "XSpec won't run correctly on a stylesheet containing XPath "is""
When running XSpec on a stylesheet containing "is", nodes that should match do not.

The sample copied below is meaningless, but written to illustrate the problem.

XSLT:
[code]

XSpec:
[code]

Sample XML file (which does produce the expected output if the stylesheet is run over it):
[code]

The XSpec appears to correctly populate the $valid_xrefs variable, but the $valid_xrefs_in_context variable

[2017-05-10 09:51] markdunnoup commented on #132
An even simpler stylesheet, focussing just on the "is" statement:

[code]

This fails the XSpec test:

[code]

[2017-05-11 03:24] vincentml commented on #75
The video recording of JATS-Con is now available. The presentation I gave on XSpec Schematron testing is on Day 2 at about 4:43 in. Here is the [link](https://videocast.nih.gov/Summary.asp?File=23267&bhcp=1&start=10350).

[2017-05-20 08:34] cirulls commented on #75
Awesome! Very interesting presentation, concise and easy to follow. I added the link in the [wiki](https://github.com/xspec/xspec/wiki/Getting-Started-with-XSpec-and-Schematron#going-further).

[2017-05-23 23:47] vincentml commented on #92
I have pushed branch test/pr111 which is related to this issue and pull request #111. This commit e1343b10e6ab7bfe35d655b71cc5c9aee1366155 changes the HTML report to include the CSS inline, and include the success/pending/fail images from the oXygen report also inline. The output HTML report is a single file with no dependencies. To test this, check out branch test/pr111 and run an XSpec test that

[2017-05-25 08:22] #128 closed

[2017-05-26 03:56] vincentml opened #134 "Document environment variables for xspec.bat and xspec.sh"
There are some environment variables that may, or must, be used to configure xspec.bat and xspec.sh. Pull request #133 will add a few more environment variables specific to Schematron testing. It could be helpful to add documentation of the environment variables to the help text in xspec.bat and xspec.sh, and/or to the wiki. Is the following description of the environment variables accurate, and c

[2017-05-26 05:14] AirQuick commented on #134
Might want to add `XSPEC_HOME` default or its use case. I think it's mentioned somewhere in Wiki.

[2017-06-15 15:59] markdunnoup opened #137 "XSpec confused by <xsl:variable> populated by XPath from document root"
Here is my stylesheet written to illustrate the problem. Note the xsl:variable

[code]

Here is my XSpec file:
[code]

Here is the external demo-01.xml file:
[code]

This should pass the XSpec test, but it fails because the output is:
[code]

I can't believe I haven't seen this before. Either there is a bug or I've forgotten how to run XSpec!

This was discovered during testing of XSpec for Schema

[2017-06-15 18:37] vincentml commented on #137
I am glad to hear that you are testing XSpec for Schematron!

When XSpec processes a test scenario the context XML is put inside a wrapper. This wrapper causes a difficulty when using XSpec to test stylesheets that contain XPaths that start with the document root (/). Would it be possible to try modifying your XPaths so that they do not begin with / ?

[2017-06-19 09:27] markdunnoup commented on #137
Thanks Vincent. It may be possible to modify the XPaths, but this is not ideal.

For example, in a Schematron rule set we may have several rules that refer to the root DOI, so we set a variable

[code]

It may be possible to get the DOI for each rule individually, but that would create its own problems.

Ideally we want some way of localizing these global variables for each context fragment. But I

[2017-06-19 11:32] markdunnoup commented on #137
Update: If I override the global variable with an x:param I can get x:expect-valid to work. This is an acceptable workaround.

[2017-06-29 14:49] cirulls commented on #137
@markdunnoup: thanks for posting your workaround. Are you happy with it? Can I close this issue?

[2017-06-29 15:59] markdunnoup commented on #137
Yes, I'm happy for this to be closed.

[2017-06-29 16:13] #137 closed

[2017-07-03 01:25] vincentml commented on #134
I've added a wiki page describing these environment variables

[2017-07-03 01:25] #134 closed

[2017-07-09 06:54] vincentml commented on #78
My initial attempt to fix this broke the link target highlighting that was introduced in #79

[2017-07-26 17:17] cirulls opened #139 "New XSpec release - v0.6.0 or v1.0.0?"
## Question
How should the next XSpec release be called? v0.6.0 or v1.0.0? Please add your comments below.

## Background
Few people asked to release a new version of XSpec so that it can include the latest changes such as the new Schematron support. This will basically be the version that is currently on `master` branch plus some more work that it is still needed on some open issues/pull requests

[2017-07-27 12:04] vincentml commented on #139
That is an interesting question. XSpec is very good, widely used, and has been very stable in the past few years, so it essentially has achieved “1.0.0” status. XSpec also has received a recent wave of new development, including several elements added for Schematron support, that might not be as stable as the rest of XSpec. It might be good to release version 0.6.0 next, see if there is any feedba

[2017-07-27 18:52] cirulls commented on #139
@vincentml, thanks for your comments. I created a [project in GitHub](https://github.com/xspec/xspec/projects/1) where we can prioritize issues and pull requests to be included in the next release of XSpec. I invite everybody in the XSpec community to give comments on which features and bug fixes should be included in the next releases of XSpec. For now, I included @vincentml requests although thi

[2017-08-08 19:20] cirulls commented on #126
@tofi86: I created a Docker repository inside the XSpec organisation at https://github.com/xspec/docker and submitted the Dockerfile, the documentation is in the README file. Would you be able to test it and provide feedback?

At the moment the Docker image needs to be built (there are instructions in the README file) and is not yet available on Docker Hub. I'm looking at how to submit the Docker

[2017-08-08 21:36] tofi86 commented on #126
Awesome! I will try to test it in the next couple of days... or opefully by the end of next week... ;-)

[2017-08-09 04:45] vincentml commented on #126
Pull request #135 contains a solution for the limitation regarding the CSS file that is mentioned in the readme.

[2017-08-09 09:35] cirulls commented on #126
Thanks @tofi86 and @vincentml. I'll review #135, that should hopefully solve the CSS limitation.

[2017-08-09 10:08] tofi86 commented on #126
Awesome! I'll wait for that...

[2017-08-09 18:57] cirulls commented on #126
I submitted a request to add the XSpec's Docker image to Docker Hub so that it can be automatically pulled from there.

Regarding the CSS issue, I'll have a look but in order to be included in the XSpec image for Docker we need to release the next version of XSpec. In fact, the Dockerfile builds XSpec from the tar file for v0.5.0. I decided to use that version of XSpec rather than pulling the late

[2017-08-09 22:05] tofi86 commented on #126
Ah, right... Yeah, using a stable tag for the docker image should be the right way to go! Thanks!

I'll have to see whether I need to manually configure the image for my CI pipeline or whether I can use the approved official image in a couple of days...

[2017-08-09 23:16] vincentml commented on #139
I mentioned this question during my presentation on XSpec's support for Schematron testing at the [Balisage conference](http://www.balisage.net/) last week and received some comments. Two people commented that XSpec is already stable, so as we are adding new features in the next release the best thing that we can do to increase the adoption of XSpec would be to skip past version 1.0 and go right t

[2017-08-09 23:48] vincentml opened #140 "Balisage improvements to Schematron support"
After my presentation on XSpec at the [Balisage conference](http://www.balisage.net/) last week a couple of people tried the Schematron testing feature and gave very helpful suggestions.

git branch sch-expect-count contains the following improvements:

* Added new element `<x:expect-rule>` to test that a rule is fired/thrown.
* Added new attribute `@count` to test that an assert, report, or rule

[2017-08-14 11:37] fidothe opened #141 "Problems with default NS and <x:expect>"
I've run across a problem where XSpec doesn't behave as I expected, and I'm not sure if this is a bug.

I'm testing an XSLT which uses a default NS for its output. XPaths in `<x:expect test="/some/xpath">` aren't working as expected – I have to use an explicit NS in them – but passing the expected result tree in works fine:
[code]

works, but

[code]

does not.

I created a test case here: https:/

[2017-08-16 15:34] AirQuick opened #142 "Cannot compile Schematron tests on Saxon-HE 9.8"
http://saxonica.com/html/documentation/conformance/xslt30.html

Because of this limitation, XSpec tests (such as [`run-xspec-tests.sh`](https://github.com/xspec/xspec/blob/master/test/run-xspec-tests.sh) and [`xspec.bats`](https://github.com/xspec/xspec/blob/master/test/xspec.bats)) fail in Schematron on Saxon-HE 9.8.0.4.

[2017-08-16 16:45] vincentml commented on #142
@AirQuick Thanks for flagging this! I'll reach out to @tgraham-antenna regarding updating the Schematron XSLTs.

A quick search in XSpec source just now did not show any XSLTs that specify version 1.0 apart from the Schematron XSLTs.

[2017-08-17 10:13] cirulls commented on #142
@AirQuick: thanks for reporting this. @vincentml: thanks for filing an issue on Schematron GitHub page at https://github.com/Schematron/schematron/issues/55.

@vincentml: I wonder if the work you did in #133 would allow us to use an update version of the Schematron XSLTs. Personally, I would prefer to have Schematron has an external dependency (as we do with Saxon) rather than backing it in the XS

[2017-08-17 10:16] cirulls commented on #141
@fidothe: thanks for providing the test cases, that's very useful. I'll try to replicate your issue in the next days but if someone else in the XSpec community wants to have a look at this issue please do it.

[2017-08-18 03:58] vincentml commented on #142
I would like to keep it so that XSpec works out of the box with only Saxon and Java as dependencies, so I feel reluctant about making the Schematron XSLTs a new external dependency. It seems convenient to allow people to check out the XSpec repository, or download the a release, add Saxon, and start using it. For now I think having a copy of the Schematron XSLTs in the XSpec repository is the best

[2017-08-18 13:33] tgraham-antenna commented on #142
@vincentml is right on both counts: including Schematron XSLTs as a git submodule would work best (particularly when Schematron gets to the point of tagging stable releases) and the Schematron repository needs to be reorganized.  In the interim, XSpec could include Schematron as a git submodule and extract just the useful parts of Schematron for inclusion in XSpec distributions.

[2017-08-20 21:51] cirulls commented on #141
Thanks @fidothe for filing this issue. I had a look and it seems to me to be a bug in XSpec or at least an inconsistent behaviour when using different syntax. I used your examples and got the same results, i.e.:

1. The default namespace works fine when specifying the XML within the <x:expect> block (first example)
2. The explicit namespace works fine when included in the XPath expression with the

[2017-08-20 22:05] cirulls commented on #141
@fidothe: I include your XSLT and XSpec here below so that they are directly visible in this issue. I removed the forth example as it was the same as the third example apart from the label text (I don't know if this was intended).

**XSLT**:
[code]

**XSpec:**
[code]

[2017-08-21 09:23] fidothe commented on #141
@cirulls Thanks for looking into this. I'm still trying to get my head around the XSpec internals, so I'm not sure how much help I can be.

[2017-08-21 18:37] cirulls commented on #141
Finding bugs and filing an issue is already a great help. I don't know when this can be fixed but when we have a fix I may ask you to test it, that would be really helpful.

[2017-08-21 18:52] cirulls commented on #142
I'm happy with that for now, I see your point of not asking users to download another dependency to try out Schematron support in XSpec.

That would be the best option in the medium term so that we can benefit from upstream changes in the Schematron repository.

Having said that, I think we cannot use or test XSpec with Saxon 9.8 until Schematron fully moves to XSLT 2.0. It would be good to see a

[2017-08-21 19:43] cirulls commented on #85
I tried this out and confirm this seems to be a bug, the `href` is produced and it is useless. This also occurs when the pending scenario contains other blocks like `<x:expect>`. I guess it has lower priority but I file it as a bug for now.

[2017-08-23 08:17] tgraham-antenna commented on #142
We're in a chicken-and-egg situation here.  Since Schematron is set to use XSpec for its regression testing, it would help Schematron if there was a stable XSpec release that included the Schematron testing capability.  Could you/I at least tag the current head so that (real soon now) Schematron can pull a known version of the XSpec code for use when testing?

[2017-08-23 18:46] cirulls commented on #142
We were planning to release a new version of XSpec soon which officially includes the Schematron support. We wanted to include several other things as well (see https://github.com/xspec/xspec/projects/1) but it's probably better to release the new version soon and then add the rest in another minor release. The ant support in #138 should be ready soon as I'm going to work directly with @markdunnou

[2017-08-23 23:51] vincentml commented on #142
A Travis script for Schematron could clone latest code from the XSpec repository for now to get started. Similarly, the Travis script for XSpec uses bats by cloning the bats repository without specifying a specific version. Of course, when the next release of XSpec has been tagged it will be much better for Schematron's Travis script to use a specific tagged version of XSpec.

I'll try to create a

[2017-08-24 16:43] alaczynski commented on #36
hi, i have developed xquery coverage for saxon in java. there were few issues with it but works for many cases. it is open source so maybe you can reuse it as dependency. available here https://github.com/lizardev/xquery-saxon

[2017-08-25 08:28] cirulls commented on #36
@alaczynski, thanks for sharing this, I'd like to give it a go at some point to see how it works.

I may have missed it from the README file but how do you run it? I suppose it's a jar file but could you provide an example to run it from the command line? Thanks.

[2017-08-30 18:30] cirulls commented on #142
@vincentml: thanks for your feedback. I agree that the Travis script could be used with the latest code on `master` to test Schematron, that would be a good start. Once the next version of XSpec is released, the Travis script could be changed to use that version which is going to be more stable than the `master` branch. As I wrote in https://github.com/Schematron/schematron/issues/49#issuecomment-

[2017-08-31 05:33] AirQuick opened #143 "Jeni's name"
Some files say, `Jeni Tennison`.
Some `Jeni Tennsion`.

We might want to bulk fix it at some point.

[2017-08-31 10:13] cirulls commented on #143
The correct version is `Jeni Tennison`. I've seen this misspelling for so long that I suspect this may have been introduced by Jeni herself by mistake! I agree this should be fixed.

[2017-09-01 09:34] AirQuick commented on #141
As far as I know, XSpec does not have something like `xpath-default-namespace`. So the issue sounds like a limitation rather than a bug.

[2017-09-14 20:20] tofi86 commented on #126
I haven't been able to test this yet, sorry... 🙈
Is it already available from dockerhub?

[2017-09-15 08:18] cirulls commented on #126
Not yet. You can check the status of the pull request on the Docker official repositories in https://github.com/docker-library/official-images/pull/3303.

[2017-09-20 08:43] stenskjaer commented on #141
If it's a limitation, I think it would be a very useful feature to implement.

[2017-09-21 14:19] AlexJitianu commented on #139
Hi,
I also vote for the 1.0/1.1 for pretty much the same reasons stated above. A 0.6.0 version will still suggest a beta release which could affect user adoption.

[2017-09-26 16:07] yamahito opened #147 "Oxygen Harmonization: Code Coverage"
Code coverage requires Saxon PE or EE features; however, for many of us our access to those features are as part of the license we get in Oxygen.

Therefore we need to be able to access the code coverage features through the oxygen framework version of XSpec.

This should be possible by supplying Jeni's coverage class as a library to the XSpec transformation (possibly adding a target or property t

[2017-09-26 16:07] yamahito commented on #147
Suggested label: feature request

[2017-09-27 07:45] cirulls commented on #147
Thanks for this feature request, I agree it would be good to add it so that it can be used from oXygen. As you suggested, I think this would require an additional target in the [ant build file](https://github.com/xspec/xspec/blob/master/build.xml), that's the file used by oXygen to build XSpec.

[2017-10-01 14:45] #4 closed

[2017-11-06 14:34] vincentml commented on #140
Completed with pull request #149

[2017-11-06 14:34] #140 closed

[2017-11-23 14:55] cmarchand opened #150 "prefixed elements are not correctly processed in 0.5"
[demo-library.zip](https://github.com/xspec/xspec/files/1499583/demo-library.zip)
Hello,

attached a sample project with 1 XSL and 1 XSpec. It's a maven project, your can reproduce the problem with `mvn test`, or you can execute in oXygen 19.0, the problem occurs too.

For each element, my XSL calculates a new element name, where prefix is unchanged, and element local-name is upper-cased. When app

[2017-11-23 17:04] AirQuick commented on #150
I think Michael wrote [something about it](http://www.google.com/search?q=%22interpreted+in+the+light+of+namespace+declarations+appearing+in+the+stylesheet%2C+not+namespace+declarations+in+the+original+source+document%22&oq=%22interpreted+in+the+light+of+namespace+declarations+appearing+in+the+stylesheet%2C+not+namespace+declarations+in+the+original+source+document%22
).
So, in `demo-library/src/m

[2017-11-24 08:14] cmarchand commented on #150
Ok, I've frogotten this. Thanks a lot, @AirQuick  !

[2017-11-24 08:14] #150 closed

[2017-12-04 03:02] AirQuick opened #151 "Test terminates with FOTY0012 in test:report-sequence"
*(This description has been edited heavily so that the problem can be reproduced both on XSLT and XQuery.)*

* XSLT is fixed by #380.
* XQuery is fixed by #498.

Can be reproduced on cbf9087ca449390754e1a82ac4ab018162976291:

**`xspec-151.xml`**
[code]

**`xspec-151.xsd`** (defines `<fooElement>` of `fooType`):
[code]

**`xspec-151.xsl`** (XSLT function to return a sequence of a `fooType` element

[2017-12-06 14:36] AirQuick opened #153 "Test terminates with XPTY0004 in defining $impl:successful"
**`test.xsl`** (does nothing)
[code]

**`test.xspec`** (compares the function result as xs:dateTime)
[code]

Running `test.xspec` terminates:
[code]
(tested on Saxon 9.7.0.19)

The problem happens at the line of defining [`$impl:successful`](https://github.com/xspec/xspec/blob/7205f223645addeae67781cdbd192d8082945aec/src/compiler/generate-xspec-tests.xsl#L358).

[2017-12-18 06:28] kalaspuffar opened #155 "Run only one test"
Hi.

Don't know if this is a feature that is available or not but I saw that many have talked about this feature in rspec and it's used in many other testing frameworks.

Run only one test is a feature during development when you want to scope your runs to ensure that you don't get extra information not important to solve the current problem.

Could be implemented by for example an attribute on a

[2017-12-18 09:40] AirQuick commented on #155
`focus` in the [**Focusing Your Efforts**](https://github.com/xspec/xspec/wiki/Writing-Scenarios#focusing-your-efforts) section might help.

[2017-12-18 10:27] cirulls commented on #155
@AirQuick is right, find below the part of the documentation explaining the `focus` attribute, it also contains an example. @kalaspuffar, does this address your request?

Third, you can mark any scenario as having the current "focus" by adding a `focus` attribute to a `<x:scenario>` element. Effectively, this marks every *other* scenario as "pending", with the label given as the value of the `focu

[2017-12-18 10:35] kalaspuffar commented on #155
Hi again.

Thank you all for a quick and easy resolve of an issue. I was so used to using keywords like only one and the like that I didn't find the documentation about focus.

This helped me a lot while debugging my examples so thanks.

Best regards
Daniel

[2017-12-18 10:35] #155 closed

[2017-12-20 17:31] AirQuick commented on #142
The issue is obsolete (for now).

https://www.saxonica.com/html/documentation/conformance/xslt30.html

[2018-01-23 08:55] cirulls opened #158 "XSpec Users Meetup at XML Prague 2018"
I submitted a proposal for an XSpec Users Meetup at XML Prague and it has been [accepted](http://www.xmlprague.cz/2018/01/09/list-of-sessions-for-xml-prague-2018/). The first XSpec Users Meetup will take place on 8th February 2018 between 5.30 and 7pm at the University of Prague in the frame of [XML Prague 2018](http://www.xmlprague.cz).

I would like to use this issue to organise the preparatory

[2018-01-23 20:55] cirulls commented on #92
For reference, I attach here below screenshots of the HTML report as it is currently generated in `master` after merging #135 and as it is generated with oXygen 19.

**In this PR**
![image](https://user-images.githubusercontent.com/13256236/34653688-635db448-f3e7-11e7-99b9-cd585af8ef48.png)

**In oXygen 19**
![image](https://user-images.githubusercontent.com/13256236/34653698-8768a32a-f3e7-11e7-9a

[2018-01-24 21:11] cmarchand commented on #158
Advertised here : https://twitter.com/cmarchand7276/status/956272915976282114
Best,
Christophe

January 23, 2018 9:55:53 AM CET Sandro Cirulli <notifications@github.com> wrote:
I submitted a proposal for an XSpec Users Meetup at XML Prague and it has been accepted. The first XSpec Users Meetup will take place on 8th February 2018 between 5 and 6.30pm at the University of Prague in the frame of XML

[2018-01-25 09:07] cirulls commented on #158
Thanks @cmarchand for spreading the word!

[2018-01-25 19:23] cirulls commented on #158
The XSpec Users Meetup has been moved 30 minutes later, it runs on 8th February 2018 between 5.30 and 7pm, I amended the post.

[2018-01-29 22:42] AirQuick opened #161 "Fails to test imported Schematron XSpec with href"
Put these 2 files in `[XSpec installation]/test/schematron/`.

**xslt-import.xspec**
[code]

**schematron-import.xspec**
[code]

And test each of them. XSLT has no problem, but Schematron terminates:

[code]

[code]

Probably `src/schematron/schut-to-xspec.xsl` should have had a template like this: https://github.com/xspec/xspec/blob/ffd5eda3cea37a0fbd40791fef17e1ec31506607/src/compiler/generate-c

[2018-02-04 22:23] cirulls commented on #139
XSpec v1.0.0 is now officially released: https://github.com/xspec/xspec/releases/tag/v1.0.0

[2018-02-04 22:23] #139 closed

[2018-02-07 06:58] cmarchand opened #162 "Pre-user meet-up XSpec diner"
Are XSPec interested in people will be present in Prague for a diner or a drink on wednesday ? Hum... today...
Christophe

[2018-02-07 09:49] cirulls commented on #162
Hi @cmarchand, I'll be up for a beer in Prague in the evening. Drop me an email and we can discuss when and where to meet.

[2018-02-07 13:11] cirulls commented on #158
Here are my [slides for the XSpec Users Meetup](https://github.com/xspec/xspec/files/1703154/xspec-users-meetup.pdf). I will also present Schematron support in XSpec during the Schematron Users Meetup (here are the [slides](https://github.com/xspec/xspec/files/1703155/schematron-users-meetup.pdf)) to spread the word about this new feature within the Schematron community.

[2018-02-08 10:00] mricaud commented on #158
Here is my repo for "Use case of integration test with Maven and XSpec":

https://github.com/mricaud/xml-prague-2018-xspec-integration-testing

You'll find a working example and a few slides.

[2018-02-09 08:01] cmarchand commented on #158
My slides of Using Maven to unit test with XSpec :
[unit-tests-with-maven.pdf](https://github.com/xspec/xspec/files/1710150/unit-tests-with-maven.pdf)

[2018-02-10 13:42] rjelliffe opened #165 "Question on Schematron operation"
I have a particular use case, and I would like to check if Xspec supports it.

This is that I want to run a Schematron test on a document. And then I want to look at the SVRL output, but I don't want to check the assertions. I want to check whether other things were generated, in particular  diagnostic and property elements.

I know that XSpec now provides special elements to check if assertions f

[2018-02-12 23:17] sbulka opened #167 "support for xml catalogs"
My templates rely on one main catalog for resolving local stylesheet locations.
I thus need to use this catalog with xspec.sh.

Changes needed:

- CLI option ```--catalog``` (passed to saxon)
- add the Apache catalog resolver library to classpath (needed by saxon to support individual catalogs)

Question:
- Should it be up to the user to provide the catalog resolver on classpath, or should it be a

[2018-02-13 02:01] vincentml commented on #167
Catalog resolver support would be helpful! I have an idea of how to create unit tests for catalog support. I'll send a pull request to add this feature soon.

[2018-02-13 02:22] vincentml commented on #165
Yes, you can write expectations using `<x:expect>` to test the SVRL output from Schematron. For example:

`<x:expect label="assert" test="exists(svrl:schematron-output/svrl:failed-assert)"/>`

You can mix `<x:expect>` with Schematron-specific expect-* elements in the same scenario.

Within XSpec, the Schematron-specific expect-* elements actually test the SVRL output from Schematron XSLTs using te

[2018-02-13 02:51] rjelliffe commented on #165
Thanks!

On Tue, Feb 13, 2018 at 1:22 PM, vincentml <notifications@github.com> wrote:

[2018-02-13 04:23] vincentml commented on #161
Thanks, AirQuick! I've reproduced the issue, and adding a template as you suggested helps to resolve href's in imported XSpec tests. Take a look at branch test/161

However, this change causes some of the existing tests to fail so I'll need to update these tests before creating the pull request.

[2018-02-13 08:30] AirQuick commented on #161
Thanks, @vincentml.

I added another test to the branch. (e503c6c1f6439d6e9b8fa91f5dc566a1878e8758)
The test fails, because Apache catalog resolver seems to have a bug. You can see it in an [AppVeyor log](https://ci.appveyor.com/project/xspec/xspec/build/1.0.402/job/spm8k1345pcorn4n#L316) of a diagnostic message which I added temporarily (e55c7e16b63e5a730a8195b44b8c9463d1e575dd):

Note that `/` i

[2018-02-13 14:04] sbulka commented on #167
For testing I would use some dummy catalog and xpath doc-available#1
Obviously need to add xml-resolver.jar to the repo then?

If you want to take a look, I added the option on my fork in this commit:
https://github.com/sbulka/xspec/commit/c735e1354cbd233bfea4ec3f0311848a1c73a8c5

Just trying to get a few test cases running with our templates.
Want to show working xspec to my team this week.

[2018-02-15 15:42] AlexJitianu opened #168 "Schematron tests run using the ANT build.xml always fail"
Hi,

I use the new build.xml script to execute one of the sample Schematron test files from {xspec}/tutorial/schematron . I use a simple command line, like this one:
`ant -Dxspec.xml=tutorial\schematron\demo-03.xspec  -Dtest.type=s`

All scenarios fail with reports like the one below. The test passes when I use xspec.bat .

![compare](https://user-images.githubusercontent.com/7802649/36265113-2cc5

[2018-02-15 15:54] AirQuick commented on #168
`demo-03.xspec` does not have `phase`. The way `build.xml` handles `phase` is different from `xspec.bat/sh`. Can you try this?
`ant -Dxspec.xml=tutorial\schematron\demo-03.xspec -Dtest.type=s -Dxspec.phase=#ALL`

[2018-02-15 17:16] AirQuick commented on #168
If the .xspec file defines a phase, you don't have to provide `-Dxspec.phase=#ALL`. So this also should work:
`ant -Dxspec.xml=tutorial\schematron\demo-02-PhaseA.xspec -Dtest.type=s`

This is how the original PR #160 behaved. It was one of the things I was wondering about when I reviewed and updated the PR. But I didn't have time to pursue it. So the updated and merged version kept the behavior.
W

[2018-02-19 11:37] AlexJitianu commented on #168
Hi,

Thank you for your quick reply. Sorry for my late one.... I took the build.xml version from your pull request and now everything is working great!

Alex

[2018-02-19 11:48] AlexJitianu opened #170 "Styling the Schematron test result"
Hi,

When a Schematron test fails, the HTML report presents the SVRL report from which the user should understand what happened. The layout of the HTML file is the one inherited from the XSLT test:, with two columns:

`Result | Expected Result`

For Schematron, though, the 'Expected Result' is always empty and just consumes valuable space.  Have you considered:
1. Having just one section: Result o

[2018-02-21 00:42] vincentml commented on #167
The feature to be able to use XML Catalogs with `xspec.bat/sh` has been added on branch `test/167`. Here is a short guide on how to use this feature which might be useful for testing and eventually for documentation in the wiki.

In order to use XML Catalogs with xspec.bat or xspec.sh an XML Catalog Resolver must be included in the Java classpath. The XML Catalog Resolver from Apache is available

[2018-02-21 01:18] AirQuick commented on #167
I usually find it difficult to work with this kind of parameter convention. If you type up to `bin\xspec.bat -catalog:t[cursor here]` on command prompt and hit Tab key, auto-complete does not work, whereas typing `bin\xspec.bat -catalog t[cursor here]` and hitting Tab just works.

[2018-02-21 04:52] vincentml commented on #167
Thanks for the suggestion @AirQuick . I had used the `-catalog:` syntax because this syntax is used by Saxon, and it seemed easier to parse. I've changed the syntax to use a space instead of a colon. While doing so I also added a new environment variable XML_CATALOG to provide an alternative way to specify an XML Catalog file. I've edited my comment above to reflect these changes.

[2018-02-22 06:13] vincentml commented on #170
Hi @AlexJitianu

I agree the HTML report presentation of Schematron test fails could be improved. Even in XSLT tests the Result | Expected Result format consumes more space than is needed for some tests. I started working on an improvement to the Result | Expected Result presentation previously so I'll be happy to pick this up again. It might be a while before I can get to this though.

[2018-02-22 08:14] AlexJitianu commented on #170
Hi @vincentml ,

Thank you for being willing to tackle this! Another aspect that I've notice is the fact that for each failed schemario the entire SVRL report is being presented. As far as I can tell, the  corresponding <svrl:failed-assert> should be enough information.

[2018-02-28 14:50] cmarchand opened #176 "Adding a @original-location in compiled xspec for schematron"
When processing XSpec for Schematron, tested schematron is compiled to propduce a XSL, and original XSpec is "compiled" with `schut-to-xspec.xsl`.
Then, "compiled" XSpec is processed as it were a XSpec for XSLT, via the standard way.

    xspec.xspec -> xspec-compiled.xspec
    to-test.sch -> to-test.sch.xsl

I normal implementation, compiled XSpec is created in the same directory than original XS

[2018-02-28 15:15] vincentml commented on #176
Hi Christophe,

This makes sense. I have been thinking to change schut-to-xspec.xslt to retain the `x:description/@schematron` attribute, instead of removing it, in order to help improve the HTML report. As you mention, this would not be valid to xspec.rnc but that does not matter for the intermediary XML. Would retaining the `schematron` attribute do what you need?

The reason that the xspec-comp

[2018-02-28 15:24] cmarchand commented on #176
Accessing relative file paths dependencies has been an important challenge ! xspec-maven-plugin explores the xspec file and all its dependencies (imported / included / hrefed files), and copy them to target location, respecting relative pathes. I use [a library from Matthieu Ricaud](https://github.com/mricaud/xml-utilities/blob/master/src/main/xsl/org/mricaud/xml-utilities/get-xml-file-static-depe

[2018-02-28 15:32] vincentml commented on #176
Thanks for the explanation and the link. Please do send the pull request that you mentioned.

[2018-02-28 16:20] cmarchand commented on #176
... Hum... I have to code it, before !
;)

[2018-02-28 18:03] vincentml commented on #176
I just pushed a commit to branch test/176 with [these two changes](https://github.com/xspec/xspec/commit/076e39f9ffb9e62ca3033360c9412b2ef8fe912b). Does this do what you need?

[2018-02-28 19:32] vincentml commented on #176
I've slightly improved this in commit 6d5330b on branch test/176, which can be seen [here](https://github.com/xspec/xspec/blob/6d5330b8741c22dddc0bd677c0aa9d80b6aa07e4/src/schematron/schut-to-xspec.xsl). Does this do what you need?

[2018-03-01 18:22] cmarchand commented on #176
That's perfect for me.
Thanks a lot

[2018-03-01 18:22] #176 closed

[2018-03-05 18:15] AirQuick opened #177 "Unhelpful report when test attribute is a boolean"
Run this test:

**do-nothing.xsl**
[code]

**test.xspec**
[code]

Its HTML report looks like this:
![test](https://user-images.githubusercontent.com/8489367/36991882-711a09a6-20ec-11e8-9d77-6c0720fa0318.png)

Problems:
* **Result** has diff which doesn't make sense.
* **Expected Result** is empty.

[2018-03-05 18:20] AirQuick commented on #177
The reporting code is there, but not working: https://github.com/xspec/xspec/blob/63cf95d7eade5678e5c994fae18ff69d3410ac5d/src/reporter/format-xspec-report.xsl#L282-L286

[2018-03-13 13:57] cmarchand opened #180 "Adding a reference to original XSpec file in report"
The xml report has no reference to the original XSpec file. It's not a matter when we have only few XSpec files, but when you have 100+ XSpec files, it may be difficult to identify which report you are consulting.

It'll be great to add an attribute on `x:report` :

    <x:report original-xspec-location="file:/...">
       ...
    </x:report>

This will be consistent with [Issue 176](https://githu

[2018-03-19 10:36] cmarchand opened #182 "Enhance XSLTCoverageTraceListener to be able to specify the output to use"
Using XSpec from command line, XSLTCoverageTraceListener write results to standard error output. That's perfect as it's possible to redirect output anywhere.
But, when using from a Java program ([xspec-maven-plugin](https://github.com/xspec/xspec-maven-plugin-1), in fact), it is not very easy because playing with standard outputs can be a nightmare.

More, each instance should be thread-safe to be

[2018-03-19 12:18] cmarchand opened #183 "XSLTCoverageTraceListener is not in generated jar"
xspec-xxx.jar does not contains com/jenitennisson/xsl/tests/XSLTCoverageTraceListener.

Must add it in maven build.

I'll send a pull request for this.

[2018-03-21 07:04] AirQuick opened #185 "Imported scenario order is unstable"
1. Extract the attached file.
[import-order.zip](https://github.com/xspec/xspec/files/1832277/import-order.zip)
2. Run XSpec Ant with Saxon 9.8.0.11 **HE**:
[code]
3. Run XSpec Ant with Saxon 9.8.0.11 **EE** with license (or oXygen 20.0 default transformation scenario):
[code]

The scenarios are processed in a different order.

Ant version 1.9.8.

[2018-03-25 21:21] #165 closed

[2018-03-26 09:33] AirQuick commented on #182
I'm not sure what your pull request will be like, but if you could, I hope the pull request fixes a problem I wrote before: "[The coverage XML is not well-formed](https://github.com/xspec/xspec/issues/36#issuecomment-269933284)"

[2018-03-28 04:27] AirQuick commented on #147
I have an initial implementation for this. (But it depends on #187.)

[2018-03-28 05:21] AirQuick commented on #182
@cmarchand
If you're working on the pull request, would it be possible to include these?
* Output the coverage XML to a file.
* The output file path (not file URL) can be specified from Ant `java` task as well as a `java` command line in shell script.
* Optionally, these hard-coded file URL checks should be based on file paths (not file URLs) provided externally (again including Ant and command li

[2018-03-28 07:59] cmarchand commented on #182
Yes, I'm gonna do this.
As we can only specify to Saxon the class name, from command-line or ant, I planned to use System Properties. For a API use, it's much more easy.

Say :
 - if a system property call `com.jenitennison.xsl.tests.coverage.generate-tests-utils` is defined, then use its value instead of constant used a line 77
 - if a system property call `com.jenitennison.xsl.tests.coverage.xsp

[2018-03-28 09:38] AirQuick commented on #182
Thanks. The logic seems fine!
* Please make sure to expect the value of those system properties to be an OS native file path (not a file: URL).
* The name `[...].xspec-path` looks as if it were a `.xspec` file or the XSpec installation path. Maybe `[...].temp-output-dir` or `[...].ignore-dir` or something would be better, if I understand correctly?

[2018-03-28 10:00] cmarchand commented on #182
Spec proposal updated

[2018-03-28 12:11] AirQuick commented on #182
Thanks!
Just for your reference. On Windows, command-line and Ant will be setting sys props like these for example:
[code]

[2018-03-28 18:59] cmarchand commented on #182
I'm gonna write a dedicated test-case for windows

[2018-04-02 02:34] AirQuick commented on #180
Closing this as resolved by #188

[2018-04-02 02:34] #180 closed

[2018-04-07 22:51] tgraham-antenna opened #190 "Add Ant property for location of Saxon jar"
It's not clear to me why it is necessary to specify the location of `saxon.jar` (and `xml-resolver.jar`) on the Ant command line.  Especially since you're running the `<java>` task and providing `<pathelement path="${java.class.path}"/>`.

I don't want to have to remember where Saxon is on every computer where I run XSpec.  I would rather set a property for it in `xspec.properties` on each compute

[2018-04-08 01:32] AirQuick commented on #190
If you put Saxon and resolver jar into `[ant]/lib`, you don't have to specify the location on the command line. Does it help?

[2018-04-08 12:12] tgraham-antenna commented on #190
I have put Saxon and resolver.jar in the Ant lib directory before, back when the `<xslt>` task was particularly bad about using a specified classpath.  Even then, it was only half a solution.

You'll probably find that I was the one who added the `saxon.jar` property to the build file (and the now-defunct `xspec` macro).  I have in the past made build files that work out if they're being run under

[2018-04-08 13:45] AirQuick commented on #190
I once contacted the oXygen support, for `saxon.jar` didn't take effect at all on oXygen.
To resolve it, they suggested inserting `<pathelement path="${saxon.jar}"/>`. But then another problem happened. (The embedded license was invalidated.)
They ended up telling me to remove `<pathelement path="${saxon.jar}"/>` and just use `${java.class.path}` with necessary jars included.

Also, in the current

[2018-04-08 18:28] tgraham-antenna commented on #190
I want it to 'just work'.  I had XSpec testing schematron/schematron-test on a Linux box, but then I wanted to do some work on a Windows box.  I had the choice either of installing XSpec on the Windows box and making the schematron/schematron-test clone work with that or of adding XSpec as a submodule and making it 'just work' everywhere (possibly after setting a property or two before the first u

[2018-04-09 05:05] AirQuick commented on #190
I quickly tried to set classpath in `<java>` and `<xslt>` so that it can be overridden externally. Now
* XSpec tests run much slower. (x3)
* `<xslt>` fails to find the resolver.

I may be doing something wrong. I'll continue trying to resolve them.
Anyway, such complexity like this *is* what I was afraid.

[2018-04-09 07:05] AirQuick commented on #190
@tgraham-antenna , I can't get `<xslt>` work with your suggested changes.
Were you able to change `build.xml` and get this test case work without including resolver.jar in Ant classpath?
* *nix: https://github.com/xspec/xspec/blob/b5707e91a15a69c669daf6c0cd3875e63fa5340b/test/xspec.bats#L348
* Windows: https://github.com/xspec/xspec/blob/b5707e91a15a69c669daf6c0cd3875e63fa5340b/test/xspec-bat.cmd#

[2018-04-09 08:23] cmarchand opened #191 "Coverage and Schematron"
Hello,

some questions on coverage reporting when unit-testing schematron.
 1. schematron file is compiled as an XSLT
 2. xspec for schematron is compiled as a *normal* XSpec that references the compiled schematron XSLT
 3. `sch-location-compare.xsl` is used in process, as a utility module.

Asserts :
 - The only coverage reporting we can have is on the XSL generated at 1), not on schematron file.

[2018-04-09 08:52] cmarchand opened #192 "Enhance coverage-report.xsl to be able to specify css location"
Hello,
as this has been done for `format-xspec-report.xsl`, we should be able to specify the CSS location when generating report.

[2018-04-09 09:03] AirQuick commented on #191
At the moment, I don't think the code coverage is made to support XQuery and Schematron.
At a glance `xspec.sh` appears to support XQuery, but actually it doesn't work. (#36)

In terms of the current behavior, I think your asserts are right. But I'm not sure if the current behavior makes sense.

[2018-04-09 09:17] cmarchand commented on #191
Ok, I'm gonna limit xspec-maven-plugin coverage to pure XSLT, and exclude XQuery and Schematron

[2018-04-09 09:30] AirQuick commented on #191
I'll also do so in Ant in the upcoming pull request.
I'll leave `xspec.sh` and `xspec.bat` as they are.

Can we close this issue now?

[2018-04-09 10:48] AirQuick commented on #190
By the way, as for the now-defunct `xspec` macro, I didn't object to removing it, not only because no test existed for it but also because some properties were added. Defining a common denominator macro seemed no longer possible. Letting each user define his own macro based on his specific need seemed to be the way to go.

[2018-04-09 11:40] cmarchand commented on #191
Sure !
And done...

[2018-04-09 11:40] #191 closed

[2018-04-09 14:14] AirQuick commented on #191
Pinging @vincentml and @tgraham-antenna , just in case.

[2018-04-09 14:27] AirQuick commented on #190
I submitted a pull request for Ant last month. (#187)
If you're interested or find a concern about it, please jump in there as a reviewer.

[2018-04-09 15:37] AirQuick opened #195 "Add tests for code coverage"
No test exists for code coverage.
Since it requires a commercial Saxon license, we can't run it easily on Travis and AppVeyor.
But at least there should be some tests available for local machines.
We will probably able to do something after #107 and #187.

[2018-04-09 16:03] AirQuick commented on #192
Realized in #194

[2018-04-09 16:03] #192 closed

[2018-04-12 11:57] AirQuick opened #196 "Update code coverage wiki with dedicated tutorial files"
[Wiki](https://github.com/xspec/xspec/wiki/Code-Coverage) demonstrates Code Coverage using `escape-for-regex.xspec` which is not designed to be a coverage example. So "missed" lines in [the picture](https://github.com/xspec/xspec/wiki/images/code-coverage.png) do not make much sense.
There should be a set of dedicated files in `tutorial` directory and we should update Wiki using it.

[2018-04-18 09:21] AirQuick opened #202 "xspec.bat (Windows) fails when path contains ampersand"
[code]

[2018-04-18 19:03] AirQuick opened #204 "xspec.sh (*nix) fails to generate code coverage report when stderr contains other outputs"
### Case 1: `JAVA_TOOL_OPTIONS` is set
[code]

The coverage XML `xspec/escape-for-regex-coverage.xml` is not well-formed:
[code]

### Case 2: XQuery
[code]

The coverage XML `xspec/xquery-tutorial-coverage.xml` is not well-formed:
[code]

[2018-04-18 22:14] AirQuick opened #206 "Code coverage requires Java 8+"
[code]

[2018-04-18 22:59] AirQuick opened #208 "Non alphanumeric path can make code coverage fail"
With ampersand on Linux:
[code]

With Japanese characters on Windows:

[code]

[2018-05-12 15:41] AirQuick opened #211 "JUnit report: Premature end of failure element text"
Text ends at `Expected: `.
https://github.com/xspec/xspec/blob/8e40dfc3a933d189b2292093c94b58a247e9c413/test/end-to-end/cases/expected/xspec-50-junit-norm.xml#L7

Probably this `@select` should be fixed:
https://github.com/xspec/xspec/blob/0e21fca458505ad9b2048e3b42a06a99952a7e3e/src/reporter/junit-report.xsl#L81

[2018-05-12 16:25] AirQuick commented on #211
Will fix this after merging #210 which makes it possible to test the fix.

[2018-05-17 07:16] AirQuick opened #213 "Document catalog option"
wiki needs to be updated as described in #172

[2018-05-19 08:47] #168 closed

[2018-06-12 10:02] AirQuick opened #214 "coverage-report.xsl fails to parse CDATA"
**test.xsl**:
[code]

**test.xspec**:
[code]

With the files above, XSpec code coverage fails:
[code]

The problem can be fixed by inserting a missing `!` into `construct-regex`: https://github.com/xspec/xspec/blob/6e46603d5aa8406987dad00cab63bf5db841ab9e/src/reporter/coverage-report.xsl#L165

But then the coverage report HTML describes the lines after CDATA as `ignored`:
![ignored](https://user-i

[2018-06-12 11:18] AirQuick opened #215 "Coverage report: Too many nested template calls"
While analyze-string'ing an XSLT stylesheet, `coverage-report.xsl` makes so many recursive calls: https://github.com/xspec/xspec/blob/6e46603d5aa8406987dad00cab63bf5db841ab9e/src/reporter/coverage-report.xsl#L229

Thus the code coverage easily ends up with stack overflow as demonstrated by the attached test files:
[test.zip](https://github.com/xspec/xspec/files/2093723/test.zip)

[code]

[2018-06-24 20:06] cirulls commented on #213
Thanks @vincentml for creating this documentation ticket. It would be good to mention in the documentation that the XML resolver should be named `xml-resolver-1.2.jar` (see https://github.com/xspec/xspec/pull/172#pullrequestreview-108680238). I was one of those that downloaded the XML resolver from [here](https://xerces.apache.org/xml-commons/) and had to rename it.

[2018-06-24 20:40] cirulls commented on #158
Closing this issue as the presentations have been uploaded and linked [here](https://github.com/xspec/xspec/wiki/Presentations-and-demos-on-XSpec).

[2018-06-24 20:40] #158 closed

[2018-06-25 17:34] AirQuick opened #219 "label and test mismatch in xspec-xslt3.xspec"
`xspec-xslt3.xspec` says that it is testing [the string concatenation expression](http://www.w3.org/TR/xpath-30/#id-string-concat-expr):
https://github.com/xspec/xspec/blob/9d5b462d5b7b37c984301dd56d20518f36aeef9b/test/xspec-xslt3.xspec#L3-L5
But actually it is testing [the let expression](http://www.w3.org/TR/xpath-30/#id-let-expressions):
https://github.com/xspec/xspec/blob/9d5b462d5b7b37c984301

[2018-06-25 17:36] AirQuick opened #220 "xspec-xslt3.xspec is not effective"
`test/xspec-xslt3.xspec` has `xslt-version="3.0"` but it no longer influences the test result.
The test is successful even when there is no `xslt-version` or when there is `xslt-version="1.0"`.
I guess it's because of [this](http://www.saxonica.com/documentation/index.html#!conformance/xslt30):

[2018-06-26 06:50] #219 closed

[2018-06-28 06:12] #220 closed

[2018-07-02 15:49] galtm commented on #215
Hi! I see that you have a proposed fix that requires XSLT 3.0. Before I was aware of that, I had obtained an XSLT 2.0 fix suggested by Michael Kay of Saxonica. It uses tail-recursion to avoid the stack overflow. Are you interested in the code for the XSLT 2.0 fix? If so, do you prefer that I post the code or do a pull request? (I'm new to GitHub, so I apologize for any lapses in process or etiquet

[2018-07-03 12:46] galtm commented on #215
Sure. Here it is: https://github.com/galtm/xspec/pull/1

[2018-07-04 05:08] AirQuick commented on #215
@galtm
Thanks for the pull request!
(It is opened in [your forked repository](https://github.com/galtm/xspec/), though. We can't handle it unless opened here in [this repository](https://github.com/xspec/xspec/).)

The change looks promising. I tested it on Saxon-EE 9.7.0.21J with the test files attached to the initial message and indeed the problem didn't happen.

However, the same test on 9.8.0.

[2018-07-05 20:48] galtm commented on #215
Good catch regarding Saxon 9.8. I was able to reproduce that error and sent details to Saxonica.

Yes, there is a certain fragility in relying on tail call optimization, and maybe it's not worth it. If your XSLT 3.0 solution does not require the stylesheet whose coverage is being analyzed to also use XSLT 3.0 (and my guess is that is does not), then that is probably the better approach.

(Thanks f

[2018-07-12 00:48] galtm commented on #215
I think I fixed the pull request: https://github.com/xspec/xspec/pull/224
I haven't heard back from Saxonica yet, but I will keep you posted.

[2018-07-20 17:59] divStar opened #225 "Problem testing a template inside a XSLT, which is the output of the current XSLT"
Hello,

I am not sure whether my problem has something to do with this issue, but it seems so.

I have the following example:
[code]

**I cannot seem to find a way to test the template "buildLink"**, because it has a different namespace, but no matter what I try, it does not seem to find the template when I use <x:call template="buildLink">...</x:call>. Note the namespace-alias - perhaps that's th

[2018-07-22 20:15] vincentml commented on #213
I've created a [XML Catalog support](https://github.com/xspec/xspec/wiki/XML-Catalog-support) page in the documentation and updated the [Environment Variables](https://github.com/xspec/xspec/wiki/Environment-Variables) page.

I'm leaving this ticket open for now as a reminder to remove the line that contains "will be available in XSpec version 1.1.0" after the official release.

[2018-07-23 07:30] AirQuick commented on #213
Thanks for the clear documentation!

I added a link to an Ant doc in the [XML Catalog support](https://github.com/xspec/xspec/wiki/XML-Catalog-support#using-an-xml-catalog-with-ant) page. Also made cosmetic edits in the [Environment Variables](https://github.com/xspec/xspec/wiki/Environment-Variables) page.

[2018-07-23 07:54] AirQuick opened #226 "JUnit report is not indented"
JUnit report XML file is not indented. For example, see [this](https://raw.githubusercontent.com/xspec/xspec/68086d67ee5d721e2878a0bb815321cd0f92e973/test/end-to-end/cases/expected/schematron-01-junit-norm.xml).
That makes it hard to visually inspect the JUnit report files.

JUnit report files are generated by `junit-report.xsl`. Although it has `xsl:output` with `indent="yes"`, the `xsl:output` i

[2018-07-23 08:05] AirQuick commented on #226
@cirulls ,
Looks like the JUnit report was implemented in #6. Do you know these?
* The reason the output XML is not indented
* The purpose of the unreferenced `xsl:output`
* How [Kal Ahmed](https://github.com/xspec/xspec/blob/4a9c470421c671fbb32a94d76153ff3405b41a26/src/reporter/junit-report.xsl#L13) was involved. (just curious)

[2018-07-24 10:51] tofi86 opened #227 "Cannot compare whole documents"
Hi,

I tried to use XSpec to compare a whole document with an expected result but have multiple issues.
This is my setup:

<details>
 <summary>article.xml</summary>

[code]
</details>

<details>
 <summary>article-to-html.xsl</summary>

[code]
</details>

This is what oXygen 20 (Saxon 9.8.0_8) produces as output:

<details>
 <summary>article_expected.html</summary>

[code]
</details>

Then I wrote

[2018-07-24 10:54] hschmull opened #228 "testing matchin templates combining content and @select (namespaces)"
I'm trying to test a docbook to xhtml transformation using xml-snippets pointing to a specific node inside the snippets.

- namespace of the source document on `x:description`
  - supposed to match all non-refixed element names inside (?)
- namespace of the result on `x:expect`
  - supposed to match non-refixed element names of the expected output

Input-XML
[code]
XSLT
[code]

XSPEC file
[code]

[2018-07-24 11:16] tofi86 opened #229 "improve wiki docs and tutorials with examples with namespaces"
We found that using namespaces seem to be a big hassle when writing XSpec scenarios and we didn't come up with a good solution so far.

The wiki docs and the tutorials should be updated with additional examples with namespaces, e.g. a default namespace like DocBook, etc.

[2018-07-24 11:16] hschmull opened #230 "trying to test if the expected result is not empty"
testing a docbook to xhtml transformation, l just wanted to make shure that my test is not comparing empty sequences, so I added:
[code]
test fails as expected with empty `x:context`, but looking into the generated result.xml I find the wole XSPEC file inside the `x:result`-Element:

[code]
I expected the `x:expect/@select="node()"` to act as in XSLT with the result of my transformation as context

[2018-07-24 11:20] tofi86 opened #231 "XInclude in <x:expect> not resolved"
Seems that XIncludes in `<x:expect>` are not resolved.

Tried that as an alternative solution to #227 but

[code]
the XInclude is just parsed as a normal element.

[2018-07-24 11:20] duenckel opened #232 "test fails when comparing values with a sequence"
_XSLT_

[code]
_XSPEC_

[code]

Report

[code]

Using the same node test in a stylesheet returns true

[2018-07-24 11:54] duenckel opened #233 "why does <xsl:value-of> not return a string"
_XSLT_

[code]

_XSPEC_

[code]

_Result_
[code]

_XSLT 2.0 Rec_

https://www.w3.org/TR/xslt20/#value-of

----

I already found out that this problem does not occur if I use <xsl:copy-of>, or type the return value of the function as xs:string.
However, I want to understand why <xsl:value-of> does not create a string.

[2018-07-24 12:40] AirQuick commented on #233
Your function returns a text node and your `x:expect` expects an xs:string. They are different items. So the test result is a failure.

You can either make the function return an xs:string
[code]

*or* make `x:expect` expect a text node

[code]

whichever meets your intention.

[2018-07-24 13:10] AirQuick commented on #232
If the function returns a sequence of nodes, `x:expect` wraps the sequence in a document node and evaluates `@test` expression in the context of the document node.
But your function returns a sequence of xs:string, so `x:expect` evaluates `@test` expression in an undefined context. So accessing `.` in `@test` does not make sense in that case.
You can use `$x:result`:
[code]
See [Writing Scenarios]

[2018-07-24 14:09] AirQuick commented on #230
Actually the test must be Success, because `x:context` results in an empty sequence (because of its `@select` namespace) and `x:expect` expects no node (because of non-boolean `@test` and lack of `@select` or child node). I'll look into this.

[2018-07-24 14:16] AirQuick commented on #228
Maybe a duplicate of #141?

[2018-07-24 14:21] AirQuick commented on #229
(related: #141)

[2018-07-24 14:38] AirQuick commented on #230
By the way, maybe you expects that `x:expect/@test` works like `xsl:if/@test`. But actually it doesn't.

So, in your `x:expect`,
[code]
`@label` and `@test` contradict each other.

It should be either
[code]
or
[code]
or
[code]
whichever you intend.

(The last one can be
[code]
but not recommended.)

[2018-07-24 16:14] AirQuick commented on #227
You expect that a serialized result is equal to another serialized doc when both are parsed again.
So you need to actually serialize the result and parse it. How about this?
[code]

[2018-07-24 16:16] AirQuick commented on #231
This is by design at the moment.

[2018-07-24 16:31] AirQuick commented on #227
`test:ws` represents a non-ignorable whitespace-only text node. (`xmlns:pkg` is just a garbage.)
For how whitespace-only text nodes are ignored or recognized in XSpec, see `xspec-space.xspec` in #179.
Every `x:expect` there results in Success.

[2018-07-24 23:50] AirQuick commented on #227
Note that in your screenshot, the right-hand **Expected Result** has `XPath / from` while the left-hand **Result** doesn't. It suggests that the expected result is a document node while the actual result is an element. So they are different items and the test must be Failure.

You should either fix the stylesheet to produce a document node
[code]
*or* fix `x:expect` to select an outermost element

[2018-07-25 04:26] AirQuick opened #234 "x:expect/@test is evaluated in confusing context, if result is not wrapped in document node"
**do-nothing.xsl**
[code]

**test.xspec**
[code]

You may expect all the `x:expect` to result in Success. But actually `no node` ones result in Failure.

The report says that the outermost node of the **test.xspec** file is the result:
![report](https://user-images.githubusercontent.com/8489367/43179421-d00e90f4-900d-11e8-9a6c-2adfaf57adbc.png)

This is by design as of now, because the result is n

[2018-07-25 04:45] AirQuick commented on #230
Filed them as #234 with a simpler case and another case.

---
@hschmull
Despite #234, I think if you follow my [previous comment](https://github.com/xspec/xspec/issues/230#issuecomment-407430343), you can make `x:expect` work as you wish.

[2018-07-25 04:50] AirQuick commented on #234
For the record, XSpec 0.3 behaves in the same way.

[2018-07-25 05:20] AirQuick commented on #234
I think `x:expect/@test` is one of the pain points of XSpec and will be mitigated only very partially (#174) in the near future. Wiki would need to be clearer about `@test`. And maybe it should advocate `$x:result` a bit more strongly.

[2018-07-25 08:43] hschmull commented on #230
Hello @AirQuick and thanks for your elaborate answer!

That's true. In fact I'm a beginner in XSpec and just tryied in a way I was used to in XSLT. By failing and having your comment I learned a lot.
I understand I should use `exists()` but why do I have to refer to the result of my tested template by `$x:result` – shouldn't that be the context of `x:expect` by _default_ ?

[2018-07-25 14:13] tofi86 commented on #227
Hi, thanks for your replies @AirQuick!

Regarding your latest comment:

I wasn't aware of the `<xsl:template match="/">` template, must have been there by mistake 🙈

However, I also didn't knew, that without a root template with a `<xsl:document>` a transformation creates an `element()` node by default and not a `document()`.

Removing the root remplate and using `select="element()"` on the `<x:ex

[2018-07-25 17:07] AirQuick commented on #230
The current behavior of `@test` has its own benefits. To demonstrate it,

This XSLT template generates `<A/><B/>Hello, World!`:

**test.xsl**
[code]

And this XSpec tests the template:

**test.xspec**
[code]

All the `x:expect` instances result in Success.

If you look into `x:expect` instances in the `the current behavior of @test makes these possible` scenario, you'll find them convenient or int

[2018-07-26 08:06] duenckel commented on #232
Thank you for your help!
It works perfectly.

[2018-07-26 08:06] #232 closed

[2018-07-26 08:07] duenckel commented on #233
Thank you for your help!
It works perfectly.

[2018-07-26 08:07] #233 closed

[2018-07-26 11:45] tofi86 commented on #227
Unfortunately, this doesn't work for me. The "result" is always empty `()` and it seems to be an issue with the XSLT 3 `serialize()` function. If I just use `test="."` the result is available but doesn't match the expected XML. As soon as I use `test=". => serialize(...) => parse-xml()` the result gets empty `()`.

Any ideas?

[2018-07-26 11:50] tofi86 commented on #227
Okay, this seems to be an issue with the serialization parameter `'html-version' = 5.0`. If I leave this out, the results match and the tests succeed. Although I have set `html-version="5.0"` in my XSLT... 🤷‍♂️

[2018-07-26 11:54] AirQuick commented on #227
What is your Saxon edition and version? My example worked on Saxon-EE 9.8.0.12 and 9.8.0.14 on my end.

[2018-07-26 12:48] AirQuick commented on #227
Looks like Saxon `fn:serialize()` is not good at handling `html-version` until recently:
* https://saxonica.plan.io/issues/3746
* https://saxonica.plan.io/issues/3781

[2018-07-26 13:31] tofi86 commented on #227
I was running Saxon-HE 9.8.0.7. Now I'm using 9.8.0.14 and it works with the serialization parameter `'html-version'`. Thanks!

[2018-07-26 13:34] tofi86 commented on #227
Next question: Is it somehow possible to

a) ignore indentation whitespace or any other whitespace differences when comparing the result document and expected document?

b) ignore certain special elements within a document? (e.g. a timestamp element)?

[2018-07-26 13:48] tofi86 commented on #227
Regarding b) I was able to come up with the following solution to only compary partial trees of result and expected:

[code]

But it only works partially.

<img width="1244" alt="bildschirmfoto 2018-07-26 um 15 46 55" src="https://user-images.githubusercontent.com/365118/43266244-2e7ae95c-90eb-11e8-925f-137dde1fe905.png">

The expected result (via `select=""` attribute) is treated as document node

[2018-07-26 15:16] AirQuick commented on #227
I think what you really extract from the actual result is this `@test`:
[code]

[2018-07-26 15:52] AirQuick commented on #227
The three dot feature mentioned in [Wiki](https://github.com/xspec/xspec/wiki/Writing-Scenarios#expectations) could help to some extent. I'm not aware of a built-in feature beyond that.

When I have to verify complicated thing, I usually write a wrapper XSLT. For example, if I have to test `actual.xsl` and if it's difficult to test the outcome in XSpec directly, I would write:

**wrapper.xsl**
[co

[2018-07-26 16:04] tofi86 commented on #227
Awesome! 👏  Both of these solutions work very well!

I totally forgot about the "three dot" feature ;-)

[2018-07-26 16:47] AirQuick commented on #228
I have an experimental implementation. With it, this XSpec is able to find the differences of `<a>`:
[code]
(I removed some unimportant portions.)

Look for `xmlns=` and `xpath-default-namespace=`.
Will that make sense?

[2018-07-26 20:52] tofi86 commented on #227
Alright, that sounds reasonable.

Thanks a lot for your support, @AirQuick!

We did a team training for XSpec and I think we will come up with a couple of changes and additions to the wiki docs. Stay tuned.

Best, Tobias

[2018-07-26 20:52] #227 closed

[2018-07-27 08:41] duenckel opened #235 "Is it possible to apply Saxon configuration files?"
option `-config:filename`
https://www.saxonica.com/documentation9.5/configuration/configuration-file/

[2018-07-27 19:05] tofi86 commented on #235
@AirQuick can you label this as a feature request please?

Shouldn't be too hard to implement in the `xspec.bat` and `xspec.sh`, right? I could give it a try in the next weeks...

[2018-07-30 09:54] markushenninger opened #236 "Why is x:expect-not-assert/@location necessary?"
The following `x:scenario` with local `x:context`

[code]

fails when I omit `@location`. The documentation says "With the exception of x:expect-valid, the x:expect-* elements all have attributes to identify an expected assert or report. These attributes can be used in any combination to specify the expected results of running the Schematron on the context XML." (https://github.com/xspec/xspec/wik

[2018-07-30 13:49] AirQuick commented on #236
`x:expect-not-assert` without `@location` is demonstrated in a tutorial file:
https://github.com/xspec/xspec/blob/4a9c470421c671fbb32a94d76153ff3405b41a26/tutorial/schematron/demo-01.xspec#L7

Would that help?

[2018-07-30 15:41] AirQuick commented on #235
I have an experimental implementation to mimic the `saxon.custom.options` property of Ant.
With it, you can set an environment variable `SAXON_CUSTOM_OPTIONS` before running `xspec.bat` or `xspec.sh`. For example, if you do

[code]

or

[code]

and then `-config:...` and `-t` are passed to Saxon and take effect when running the test in `test.xspec`.
(The options do not take effect when compiling t

[2018-07-31 12:44] duenckel commented on #235
That sounds good!
Can you commit your implementation?

[2018-07-31 12:49] tofi86 commented on #235
*on a separate branch so we can test it?

We're not sure whether this sentence is important for our usecase:

[2018-07-31 23:00] AirQuick commented on #235
Pushed here: https://github.com/AirQuick/xspec/tree/saxon-custom-options/bin

[2018-08-01 15:00] duenckel commented on #235
Thank you!
It works like a charm 👍

[2018-08-01 15:26] AirQuick commented on #235
@duenckel
Just in case. Which version of the scripts have you tried? `xspec.bat` (Windows) or `xspec.sh` (*nix)?

[2018-08-03 06:57] cirulls commented on #225
Thanks @divStar for asking (it may be useful for other people too) and thanks @AirQuick for replying with an example. @divStar, did you manage to try it? Are you happy with the reply so that we close this issue? Thanks!

[2018-08-03 07:18] cirulls commented on #226
Yes, I implemented this back in 2016, it was one of my first contributions to XSpec. There are more technical notes in #2. Regarding your questions:

1. It was probably accidental or maybe for space reason as the JUnit is quite verbose. I agree that the indentation would be better for readability and debugging purposes.
2. I'll check the unreferenced name attribute in `xsl:output`, if that's the c

[2018-08-03 09:29] duenckel commented on #235
It seems that you have changed the pointer to saxon-custom-options. The SAXON_CUSTOM_OPTIONS environment variable is no longer available in this version.
Is there another branch I can use until your pull request is merged?

[2018-08-03 11:20] divStar commented on #225
Thank you very much for your help @AirQuick,
your suggestion worked out for me.

I had to generate the inner XSLT using the xml-maven-plugin inside the pom.xml file before I run the XSpec-Tests. This way I could ensure to always have the most up-to-date version of the inner XSLT for testing purposes, which is way better than having some static inner-XSLT, because eventual changes on the inner XSLT

[2018-08-03 11:36] AirQuick commented on #235
Pushed again. I'll keep it there until I finally open the pull request.

[2018-08-03 15:19] cirulls commented on #225
Thanks for posting your solution too, it may be useful to other people. Feel free to come back here if you need help or if you'd like to contribute to XSpec. I'm closing this issue.

[2018-08-03 15:19] #225 closed

[2018-08-05 09:40] cirulls commented on #228
Thanks @hschmull for posting the question and thanks for providing an answer with an example.

@hschmull: does this answer address your issue? Can the issue be closed or can be addressed as part of #141?

[2018-08-05 09:53] cirulls commented on #230
Thanks @hschmull and @AirQuick for this exchange, it may be useful to others too.

@hschmull: apart from the limitations highlighted in #234, does @AirQuick 's reply address your issue? Can this issue be closed or is addressed by #234? Thanks!

[2018-08-06 17:38] galtm commented on #215
Michael Kay investigated the error in v9.8 and marked it Resolved. The bug record is marked "Applies to branch: 9.8, trunk" and "Fix Committed on: 9.8, trunk". Seems like the fix has not been included in a maintenance release yet, but it will be eventually.

[2018-08-06 17:52] galtm commented on #215
One other thing -- Michael Kay provided a workaround for the version that produces the error: "disable bytecode generation using -opt:-c on the command line, (or various API options from Java)"

[2018-08-07 16:20] AirQuick commented on #235
I opened #268 for this.

[2018-08-07 19:12] AirQuick commented on #215
Thanks for the update, @galtm
I confirmed that #224 works fine with `-opt:-c` on Saxon-EE 9.8.0.14.
As soon as the next maintenance gets released, I'll see if #224 works on it without `-opt:-c`. If it works, I'll review the details and then we can probably merge it.

[2018-08-09 10:27] AirQuick commented on #215
Ah, I think we can take the pull request without waiting for the next maintenance release. I'll start reviewing.

[2018-08-09 17:57] AirQuick commented on #147
@yamahito
I submitted #279 for this.
Please take a look at it and let us know your thoughts, if it still interests you.

[2018-08-09 20:44] AirQuick commented on #215
fixed by #224

[2018-08-09 20:44] #215 closed

[2018-08-11 23:12] AirQuick commented on #185
In another case, I have seen this problem with Saxon-HE.

[2018-08-16 12:30] anuragguptagithub opened #288 "Namespace issue and indentation issue while comparing whole document."
Hello ,

My input is xml file(s) and expected result is also an xml file(s). The problem is that in the expected result we have namespace prefix being used, while in the result xml, there is no namespace prefix but every tag has xmlns="some-namespace". and this is resulting in failure of the test cases.

How can i solve this ?

![image](https://user-images.githubusercontent.com/28867358/44208559-f

[2018-08-25 14:50] cirulls commented on #117
As I recently (re)set by Windows environment to run the test suite locally, I'd like to document here what I've done, hopefully it will be useful for other contributors. It would be good if someone on Windows could check that this is correct. @AirQuick: I am aware that #289 may change some of this but that's a start for some documentation on the wiki.

As I don't own a Windows machine, I dowloaded

[2018-08-27 09:05] AirQuick opened #308 "x:label affects expectation"
There are two ways to describe labels in `x:expect`: `@label` and `x:label`.
But they work differently. In this .xspec (`/x:description/@stylesheet` doesn't matter),

[code]
the second `x:expect` fails.

[2018-09-05 11:02] AirQuick commented on #227
The garbage `xmlns:pkg` is removed by #338.

[2018-09-05 16:48] AirQuick commented on #195
Done:

| Issue | PR   | Test             |
| ----- | ---- | ---------------- |
|       | #198 | #300, #301, #341 |
| #204  | #343 | included in PR  |
| #206  |      | #296             |
| #208  | #344 | included in PR  |
| #214  | #342 | included in PR  |
| #215  | #224 | #326             |
|       | #279 | #300             |

[2018-09-08 14:59] AirQuick opened #346 "Comparison always discards whitespace-only text nodes"
**test.xsl** (does nothing)
[code]

**test.xml** (contains a whitespace-only text node between `<span>`)
[code]

**test.xspec** (expects no space between `<span>`)
[code]

`x:expect` should be Failure, but it is Success.
This is critical when testing mixed content such as HTML, DITA.

[2018-09-12 02:17] AirQuick opened #355 "Cannot test function(*) including map and array"
[code]

[code]

The same or similar termination happens with derivation: `map(*)` and `array(*)`

[2018-09-12 02:22] AirQuick opened #356 "! is missing from reported comment"
[code]

In the failure report HTML, the result is depicted as
[code]

`!` is missing.

[2018-09-12 02:28] AirQuick opened #357 "Attribute result is broken into text"
[code]

The result XML:
[code]

The attribute is incorrectly converted to a text node.

[2018-09-12 02:34] AirQuick opened #358 "Attributes of the same name are lost in result"
[code]

The result XML:
[code]

`@attr="foo"` is lost.

[2018-09-12 02:49] AirQuick opened #359 "Parentless nodes are not indented in report HTML"
[code]

In the failure report HTML, the result is depicted as
[code]

Indentation is not consistent.

[2018-09-12 03:02] AirQuick opened #360 "XTDE0410 when result sequence cannot be stored in an element"
[code]

The test is terminated:

[code]

[2018-09-12 03:46] AirQuick opened #361 "SXXP0003 when result has a lot of nodes not suitable for document node"
Edit `[XSpec]/test/xspec-result-naming-collision.xslt` to duplicate the `xsl:sequence` line:
[code]

XSpec fails to format the result:

[code]

[2018-09-12 04:22] AirQuick opened #362 "Need to enhance xspec-result-naming-collision.xspec"
Problems in `test/xspec-result-naming-collision.xspec`:

* `x:expect` doesn't have label: Should be tested with schema ==> Fixed in #364
* The test will still return Success, even if `generate-tests-utils.xsl` stops writing external files in response to the current test XML.

[2018-09-13 09:39] AirQuick opened #367 "Diff in report HTML is affected by outer indentation of report XML"
[code]

In the failure report HTML, the results are depicted as:
![cap](https://user-images.githubusercontent.com/8489367/45480509-1fb01680-b784-11e8-8b95-1524e17f6aaf.png)

`<bar />` should be green in the same way as `<?bar?>`.

[2018-09-27 10:31] AirQuick opened #379 "Ellipsis in Result does not have style"
[code]

In the report HTML, `...` in **Result** does not have color, whereas the one in **Expected Result** is green.

[2018-09-28 12:15] AirQuick opened #386 "Significant whitespace-only text node in the report HTML does not have style"
[code]

In the report HTML, `/whitespace-only-text/text()` is not highlighted whereas `/ordinary-text/text()` is highlighted by the `diff` class. They should work in the same way.

[2018-10-02 10:37] AirQuick opened #392 "Move oXygen documentation from build.xml to Wiki"
How to replace the oXygen built-in XSpec is described in `build.xml`: https://github.com/xspec/xspec/blob/17cc79321011f4e4192e973f7109b39a5303ec6e/build.xml#L42-L57

For more flexibility, I think the description should be moved to Wiki. ([Running with Oxygen](https://github.com/xspec/xspec/wiki/Running-with-Oxygen) and/or [Running with Ant](https://github.com/xspec/xspec/wiki/Running-with-Ant))

-

[2018-10-02 16:39] AirQuick opened #393 "x:call-scenarios template references this//@focus"
`x:call-scenarios` template has `xsl:param` which takes the default value from `this//@focus`: https://github.com/xspec/xspec/blob/17cc79321011f4e4192e973f7109b39a5303ec6e/src/compiler/generate-common-tests.xsl#L119-L120

But there is no `this` element in XSpec. Something should be wrong.

[2018-10-05 08:32] AlexJitianu opened #394 "[Event] A new Webinar about XSpec and unit testing XSLT and Schematron"
Hello everybody,

I just wanted to let you know that we will host a new Webinar about XSpec in an effort to encourage Test Driven Development of XSLT and Schematron. We plan to present an overview of XSpec and how to take full advantage of the support Oxygen XML Editor has for XSpec. So, even if you already are an XSpec power user, chances are you can still learn a few tips and tricks about how Ox

[2018-10-07 15:46] cirulls commented on #392
Thanks for raising this. I agree that the wiki is a better place to put the full documentation. A reference to the wiki in the `build.xml` as in #266 would be good.

[2018-10-08 08:44] cmarchand opened #395 "Release 1.1.0 required"
Hi all !

I need a release to be able to build a release for [XSpec maven plugin](https://github.com/xspec/xspec-maven-plugin-1). Could you build one ?

A release is a delivery build from a known state of sources (i.e. a tag), and published somewhere (Maven central will be great). It can be build from sources, with `mvn -Prelease install deploy`, after defining correctly `<version>x.v.z</version>`

[2018-10-08 11:30] cirulls commented on #395
@cmarchand: I'm happy to create a new release by the end of this week, would that be ok for you? Release notes are up-to-date and hopefully it shouldn't take me too long. I would be greateful if you could publish XSpec to maven central as usual. The new release number will be v1.1.0, this is what we have been using so far, there are few new functionalities but nothing too revolutionary (which I be

[2018-10-08 12:06] AirQuick commented on #395
OK for me, though #265 is a trivial change and won't take time. (#266 and later will definitely take some time.)

[2018-10-08 12:29] cmarchand commented on #395
End of the week is perfect for me !
Thanks a lot, Sandro !

[2018-10-08 15:31] cirulls commented on #395
Thanks @AirQuick and @cmarchand for your feedback. @AirQuick, I may be able to include #265 in my review if it's trivial. @cmarchand I may have the password to publish from when you created it the first time (if it hasn't changed). Thanks for the info via email. I'll keep you posted on my progress on Wednesday or Thursday (can't work on XSpec tomorrow).

[2018-10-09 13:04] shudson310 opened #396 "Schematron: text() node fails"
I get a failure when a rule context is a text node: text(). For example:

    <sch:pattern>
        <sch:rule context="text()">
            <sch:report id="above-mentioned"
                test="matches(., 'above-mentioned')"
                role="info" >Forbidden word: above-mentioned</sch:report>
        </sch:rule>
    </sch:pattern>

    <x:scenario label="above-mentioned" focus="test this fra

[2018-10-09 15:04] AirQuick commented on #396
When I insert this pair of `x:param`

[code]

and run XSpec command line (`bin\xspec.bat -s` or `bin/xspec.sh -s`), then the test succeeds.

[2018-10-10 07:08] cirulls commented on #396
@shudson310 : does @AirQuick 's reply answer your question? Can we close the issue?

[2018-10-10 15:04] shudson310 commented on #396
The suggested params do fix the issue, but you may want to emphasize this in the documentation and tutorials. Thanks! You can close this issue.

[2018-10-10 16:13] shudson310 opened #397 "Add support for testing SQF (Schematron Quick Fix)"
It would be great to be able to test whether a Schematron Quick Fix fixes the content appropriately.

[2018-10-10 20:35] AirQuick commented on #396
@vincentml
I think XSpec should set `allow-foreign=true`, `only-child-elements=false` and `visit-text=true` for convenience, unless specified otherwise in `/x:desciption/x:param`. What do you think?

I have such changes both for command line and Ant.

[2018-10-10 21:07] AirQuick commented on #394
And maybe [Wiki](https://github.com/xspec/xspec/wiki/Running-with-Oxygen) should be updated later.

[2018-10-10 21:14] shudson310 commented on #396
Sorry to report, but I have tried all of these:
   <x:param name="only-child-elements">false</x:param>
   <x:param name="visit-text">true</x:param>
   <x:param name="allow-foreign">true</x:param>

Still getting errors reported in oXygen plugin. Not sure if it is an XSpec issue or a plugin issue.

[2018-10-10 22:13] AirQuick commented on #396
Both oXygen transformation scenario and plugin are Ant based. Parameters aren't implemented there yet.
I'll soon submit a pull request for it.

In the meantime, you have to modify `[oXygen installation]/frameworks/xspec/build.xml` (in case of transformation scenario) or `[Home]/.com.oxygenxml/extensions/.../oxygen-results-view/build_report.xml` (in case of plugin) to hardcode `only-child-elements`

[2018-10-10 23:03] shudson310 commented on #396
Thanks for the tip!

On OS X, this was in [Home]/Library/Preferences/com.oxygenxml/extensions/.../oxygen-results-view/build_report.xml

After making this change and adding the parameters, the <x:expect-report> still fails.

Are there any other files that still need to be modified? The expected diff still shows "()" instead of no content.

[2018-10-11 00:54] AirQuick commented on #396
After modification, your `build_report.xml` should look like this:

[code]

No other change was necessary on my end.

[2018-10-11 00:57] vincentml commented on #396
It is better that XSpec itself should not override default parameter settings for Schematron, but users of XSpec can specify parameter settings for Schematron using `<x:param>`.  For example, if someone has not specified Schematron parameters in their environment the behavior of XSpec will be the same. Likewise, if someone has specified parameters for Schematron in their environment they can speci

[2018-10-11 01:12] AirQuick commented on #396
Thanks, @vincentml
Then I won't set any default in my upcoming pull request.

`allow-foreign` on Oxygen seems to be TRUE by default in its Preferences - XML - XML Parser - Schematron.

[2018-10-11 01:18] vincentml commented on #396
That is a good observation. In the oXygen Preferences panel the defaults for `allow-foreign` is true. I was looking in `Oxygen XML Editor 20/frameworks/schematron/impl/iso_schematron_skeleton.xsl` which has false as the default for `allow-foreign`.

[2018-10-11 06:54] cirulls commented on #397
@shudson310 :  Thanks for raising this issue, I think it could be a useful feature. Could you provide an example of Schematron Quick Fix and an example of things you may want to test with XSpec? This could be a start for setting the specifications for this feature. I can't promise this will be developed but if you post more information someone may want to work on it. Thanks!

[2018-10-11 06:56] cirulls commented on #394
We could also add a link in the list of [presentations on XSpec](https://github.com/xspec/xspec/wiki/Presentations-and-demos-on-XSpec) and, if slides are available, add them to [this repository](https://github.com/xspec/xspec-presentations).

[2018-10-11 08:42] AlexJitianu commented on #396
Well, we usually create issues/pull request on the GitHub Schematron project with all the enhancements we consider worth making. We did the same with visit-text/only-child-elements parameters but, because we considered that the defaults should change, we didn't wait for the issues to reach a resolution and we made these changes in our distribution of Schematron.

[2018-10-11 08:52] cmarchand opened #398 "Bug comparing expect dans result files that are the same"
Hi,

attached a reproductible xspec that fails, and it shouldn't. [bug-xspec-impl-1.0.0_deep-equal.zip](https://github.com/xspec/xspec/files/2468127/bug-xspec-impl-1.0.0_deep-equal.zip)

Try running `xspec/aggregate_EE.xspec` ; test result presents on the left a file reference (dxx.xml) for the result and on the right part the expected content. It says result and expected are different, but I can'

[2018-10-11 09:40] cmarchand commented on #398
It should !
I send immediately a pull request.

[2018-10-11 13:14] AlexJitianu commented on #394
The recording, slides and samples are now available on the event's page:
https://www.oxygenxml.com/events/2018/webinar_xspec_unit_testing_for_xslt_and_schematron.html

[2018-10-12 07:21] cirulls commented on #394
Well done Alex, thanks a lot for doing this webinar, it's really useful to get more people into testing in the XML world, using XSpec and spreading the word about the Schematron support. I haven't followed the live streaming as I was still at work but I look forward to watch the recording.

I updated the following documentation with the link:

-  [Running with Oxygen](https://github.com/xspec/xspe

[2018-10-12 07:21] #394 closed

[2018-10-12 10:47] Crispness opened #400 "Dead URL reference in x:context/@href produces unclear error message"
When referencing a non existent or unresponsive url in the href attribute of an x:context element, the error message produced says "XML document structures must start and end within the same entity."

This doesn't really explain to the user what the real problem is, i.e. that the document was not available to be processed.

Can it be clarified?

Example xspec attached.

Note: GitHub does not allow

[2018-10-12 12:59] AirQuick commented on #400
As for the runtime error, it is true that `XML document structures must start and end within the same entity` doesn't help. To diagnose, you need to see the log:

#### If you are using oXygen transformation scenario
The `ANT [XSpec for XSLT]` pane opens automatically on failure. There you can see what the actual error is:
[code]

#### If you are using oXygen XSpec Help plugin
See xspec/oXygen-XML-

[2018-10-13 19:07] #202 closed

[2018-10-14 00:32] vincentml commented on #400
I've made a change to output messages if URIs referenced in `stylesheet` or `href`` attributes are not available in XSLT tests. With this change, XSpec will produce a report that contains a message about the URI that is not available, instead of stopping with a cryptic message. For example:

[code]

This change is in branch issue/400. @cirulls and @AirQuick please take a look. If this change looks

[2018-10-14 02:14] AirQuick commented on #400
A few random quick thoughts:
* `mode="test:generate-variable-declarations"` checks `doc-available()` at compile time, but the URL available at compile time may not always available at runtime, particularly when it involves external web services. The check should be done in the same session as `doc()`.
* Injecting a dummy document in `mode="test:generate-variable-declarations"` could be a bad idea.

[2018-10-14 04:40] AirQuick commented on #400
Also, just hiding `doc()` error is not always more helpful. It could even complicate the problem.
For example, the current master tells what's wrong with `<x:context href="https://httpbin.org/" />`:

[code]

[code]

The proposed branch does not show these diagnoses.

[2018-10-14 05:14] vincentml commented on #400
Thanks for the quick feedback @AirQuick !

1. I've made a change to check doc-available at runtime.
2. I removed the generated text in `test:generate-variable-declarations`. However, now the report does not show if a fail or a message if the document is not available. I think the HTML report can still show a fail and a message if the URI is not available, but my first attempt did not work.
3. I'll

[2018-10-14 05:46] AirQuick commented on #400
I'm afraid even `<document/>` could be harmful in `test:generate-variable-declarations`.

[code]

This scenario terminates on the current master, but the proposed branch returns Success for the 2nd `x:expect`, because the dummy document turns the expectation into an empty sequence.

[2018-10-14 06:10] cirulls commented on #143
Fixed in #401

[2018-10-14 06:10] #143 closed

[2018-10-14 14:43] vincentml commented on #400
Thanks @AirQuick

It seems better to keep the current behavior in which the test terminates if a referenced URI is not available. As you described, the system generated error messages are sometimes helpful, and producing a report might result in false-positives.

I've made a change in branch issue/400 to restore the original behavior to terminate if a referenced URI is not available. URIs referenc

[2018-10-14 16:34] cirulls commented on #395
XSpec v1.1.0 is now officially released, you can download a zip or tar file of the latest `master` branch at https://github.com/xspec/xspec/releases/latest  In there you can also read the release notes and probably find your name in the list of contributors!

I'm going to promote the release by posting a message to be included in [xml.com news section](https://www.xml.com/news/) and [Google Groups

[2018-10-14 16:38] cirulls commented on #213
@vincentml : I've just [released v1.1.0](https://github.com/xspec/xspec/releases/latest). As you wrote back in July, could you please update that line on the [wiki page for XML Catalog support](https://github.com/xspec/xspec/wiki/XML-Catalog-support)?

[2018-10-14 17:03] cmarchand commented on #395
Did you publish it to [Sonatype OSSRH](https://oss.sonatype.org/service/local/staging/deploy/maven2/) ? I can not see it in [Maven central](http://repo1.maven.org/maven2/io/xspec/xspec/), but it may not having being mirrored yet...

[2018-10-14 17:09] cirulls commented on #395
@cmarchand : No, I only did the release on GitHub. As discussed in [here](https://github.com/xspec/xspec/issues/395#issuecomment-427800101), I would be grateful if you could publish XSpec to Maven Central as you did last time. But if you can't, I can give it a go tomorrow. Let me know.

[2018-10-14 17:27] cmarchand commented on #395
Done. Attached 2 patches I can not push. It is only `pom.xml` modifications, to follow release numbers. It'll be great if you could apply them on master ASAP.

[change-release-pom.zip](https://github.com/xspec/xspec/files/2476656/change-release-pom.zip)

[2018-10-14 17:27] #395 closed

[2018-10-14 21:29] vincentml commented on #213
@cirulls I've updated the wiki.

[2018-10-14 21:29] #213 closed

[2018-10-14 22:29] vincentml commented on #400
I've added a similar check for XQuery tests to output a message to console if the query referenced by the `query-at` attribute is not available at compile time.

`The query referenced by description/@query-at is not available: does-not-exist.xq`

For Schematron tests, the Schematron compilation process already outputs a clear message if the Schematron referenced by the `schematron` attribute is no

[2018-10-15 08:03] yamahito commented on #395
Posted on twitter via @markupukorg (and retweeted as me) :)

Shall I also post on xml-dev?

On Sun, 14 Oct 2018 at 18:27 Christophe Marchand <notifications@github.com>
wrote:

[2018-10-15 08:10] cirulls commented on #395
Thanks @yamahito. Yes, it would be great to post it on xml-dev too.

[2018-10-15 08:12] yamahito commented on #395
Done!

On Mon, 15 Oct 2018 at 09:10 Sandro Cirulli <notifications@github.com>
wrote:

[2018-10-15 14:39] AirQuick commented on #400
@vincentml
Looks good to me in general. Some details could be improved, but that should be done in a pull request.
A few things to note:
* You may be already aware of it, but I submitted some pull requests to change the Bats test files for Windows. (#284, #285, #286)
* Not sure what you mean by "predictable" in 942d7baec314329764426560d325ba5c46d1e409, but it might possibly be related to #185.

[2018-10-15 16:49] cmarchand opened #403 "Saving expectations and results"
In a scenario with a `<x:expect`, tested XSLT or XQuery produces a result document. Sometimes, depending on result size, it is written to file, and HTML report show a link to this document.

May we have :
 - when result document is written to file, write to file also the expectation ?
 - an option to force to write result and expectation to disk, whatever the size ?

Hence, we will be able to open

[2018-10-21 15:28] AirQuick commented on #396
I submitted #411. With it, `/x:description/x:param` works on XSpec for Schematron when using Ant.
If you like to test it now on the oXygen transformation scenario, clone the PR branch and follow the steps written in [`build.xml`](https://github.com/AirQuick/xspec/blob/7a1515a38a2272ef83598ae60c15ad84c6128cea/build.xml#L18-L34).

Once the PR gets merged and ported to the oXygen XSpec plugin, `x:par

[2018-10-28 16:50] AirQuick opened #412 "select with href or child node always sorts nodes and eliminates duplicates"
**test.xml**
[code]

**test.xsl** (does nothing)
[code]

**test.xspec**
[code]

This `x:expect` returns Failure. The result is
[code]
which means that the nodes are sorted in document order and the duplicates are eliminated as if `select="//e2, //e1, //e1"` were `select="//e2 | //e1 | //e1"` or some such.

[2018-11-04 16:35] cmarchand opened #414 "XSpec Jar on maven does not contains XSLTCoverageTraceListener class"
This is due to lack of configuration for maven-compile-plugin, as java sources are not where maven expect them to be.
Please affect this to me, and I'll attach quickly a pull request, and deploy a 1.1.1, with fix.

Christophe

[2018-11-04 20:15] cmarchand opened #416 "Coverage and schematron"
Re-openning subject to discuss how we could implement this.

This is related to #191 .

Leaving XQuery coverage out, only speeking about schematron.

Process is : compile Schematron to XSLT, compile XSpec-for-schematron to normal-xspec. Technically, we can add a coverage listener on the compiled XSL, and extract results. But then, we need to retro-apply coverage results to original schematron.

-

[2018-11-05 14:15] mricaud commented on #416
Hi @cmarchand

I recently worked on the jing's iso-schematron.xsl (https://github.com/ELSGestion/jing-trang/tree/mricaud). The jing XML report already keeps the line and column number of the XML file, so I guess you could do the same with the schematron file lines (adding sch:line-number for instance)

Why do you need line numbering by the way ? Is it used in the XSpec coverage result  ?
Oh yes I

[2018-11-07 19:08] yamahito commented on #397
Pester me, @cirulls, and I'm sure I can find some examples; I'm away this week and next

[2018-11-07 19:11] yamahito opened #418 "References to maven in the wiki are outdated"
Hi folks,

I don't think https://github.com/xspec/xspec-maven-plugin-1 is mentioned on the maven page of the wiki; instead they talk about Adam and Daisy's implementations, which I think are probably less preferable (i.e. are out of date)...

[2018-11-13 10:18] Anil-XSpec opened #422 "Some Scenario is fail on jenkins"
My xspec is working fine on oxygen and all scenario is passed but I have found some error in run the jenkins of our xspec. Below is error log:
Error at xsl:result-document on line 575 of generate-tests-utils.xsl:
  XTDE1490: Cannot write more than one result document to the same URI:
  file:/c:/XSpec/d164e0.xml
Transformation failed: Run-time errors were reported

Kindly advise how to resolve this

[2018-11-13 15:28] AirQuick opened #423 "Source document at runtime should be removed"
Command line and Ant provide a source document when running the tests. But it can be harmful. For example,

**do-nothing.xsl**
[code]

**test.xspec**
[code]

This `x:param` doesn't make sense, but `x:expect` returns Success without any complaint, because `x:param/@select` is evaluated in the source document node of the .xspec file.
So the source document can be harmful.

The purpose of the source

[2018-11-17 09:24] AirQuick opened #438 "x:label affects attribute(test) evaluation on XQuery"
`x:label` affects not only the expectation (#308) but also `@test` on XQuery.

Put this .xspec file in `[XSpec]/test/`:

[code]

Running XSpec `-t` with it passes:

[code]

Running `-q` fails:

[code]

[2018-11-18 08:14] AirQuick opened #440 "XQuery x:expect with select and test is terminated with XPTY0004"
[code]

XSpec command line `-t`:
[code]

Command line `-q`:
[code]

[2018-11-18 08:19] AirQuick opened #441 "XQuery x:expect with href and test is terminated with XPTY0004"
[code]

XSpec command line `-t`:
[code]

Command line `-q`:
[code]

[2018-11-18 10:49] AirQuick opened #445 "Cannot use EQName in name attributes"
[code]

The 2nd scenario is terminated:

[code]

[2018-11-20 07:14] AirQuick commented on #29
While I was looking into other issues, I found this issue to be just one of similar bugs.
Documentation added to Wiki should be considered as a workaround.

[2018-11-20 12:17] AirQuick opened #446 "x:pending may crash on XQuery"
[code]

is terminated on XQuery:

[code]

Also

[code]

or

[code]

Note: XSLT isn't terminated.

[2018-11-20 12:29] AirQuick opened #447 "Pending label containing curly bracket crashes"
[code]

or

[code]

or

[code]

crashes both on XSLT and XQuery

[2018-11-20 15:09] AirQuick opened #448 "XQuery scenario label containing curly bracket crashes"
[code]
crashes on XQuery:

[code]

Also

[code]
crashes on XQuery.

XSLT works in both cases.

[2018-11-20 15:18] AirQuick opened #449 "XQuery expect label containing curly bracket crashes"
[code]

or

[code]

crashes on XQuery:

[code]

XSLT works in both cases.

[2018-11-20 15:52] AirQuick opened #450 "XQuery expect text node containing curly bracket crashes"
[code]

crashes on XQuery:

[code]

XSLT works.

[2018-11-20 15:57] AirQuick opened #451 "XQuery param text node containing curly bracket crashes"
[code]

crashes on XQuery:

[code]

XSLT works.

[2018-11-20 16:23] AirQuick opened #452 "XQuery report XML describes parameters incorrectly when not element"
[code]

This works on XQuery after #427.

But XML report generated by these scenarios contain broken `x:param`.

[code]

[2018-11-21 05:29] AirQuick opened #453 "XSpec forcibly changes XSLT namespace prefix"
[code]

This `x:expect` returns Failure (incorrect) on XSLT.
XQuery returns Success (correct).

[2018-11-21 13:31] AirQuick commented on #29
Updated [Wiki](https://github.com/xspec/xspec/wiki/Writing-Scenarios/_compare/2a68d60ce2a51efb96ea313a06a6ba2967f46585...c2c62195370a69fe91d263a86d17c796d08984a3) to reflect the fact.

[2018-11-21 15:36] AirQuick commented on #29
@cmarchand
Summing up just in case. The previous update to Wiki stated that you **need** to escape curly braces. But in fact, it's a bug and you **don't need** to escape curly braces. I fixed it in #454. So I removed the statement from Wiki.

[2018-11-21 21:33] cmarchand commented on #29
Ok, I didn't look at the PR.
I prefer this compared to escape.
Thanks a lot @AirQuick

[2018-11-22 14:43] AirQuick commented on #418
@yamahito @cmarchand
In [Wiki](https://github.com/xspec/xspec/wiki/Running-with-Maven), I've added https://github.com/xspec/xspec-maven-plugin-1 as primary.
I don't know the relationship among the implementations. So feel free to revise the description.

[2018-11-23 12:39] cmarchand commented on #418
For information, [our xspec-maven-plugin](https://github.com/xspec/xspec-maven-plugin-1) is a fork of [Adam's one](http://github.com/adamretter/xspec-maven-plugin), as Adam didn't have time enough to maintain it. It is now largely out of date.
[Daisy's one](https://github.com/daisy/xspec-maven-plugin) is maintained by Bert Frees and Romain Deltour, and is better than Adam's one, but behind us.
We

[2018-11-23 13:09] AirQuick commented on #418
Thanks, @cmarchand
I updated [Wiki](https://github.com/xspec/xspec/wiki/Running-with-Maven) a bit to clarify that
* xspec/xspec-maven-plugin-1 is a fork of Adam's
* Adam's one is out of date

[2018-11-24 08:11] AirQuick opened #466 "XSpec occupies x: namespace prefix"
**XSpec** (Note `t` and `x` namespace prefixes.)
[code]

**XSLT**
[code]

**XQuery**
[code]

[2018-11-24 08:19] AirQuick commented on #466
`x:` shouldn't be hardcoded. (https://github.com/expath/xspec/issues/24#issuecomment-110043562)

[2018-11-24 08:51] AirQuick opened #467 "Namespace of the same prefix is dropped from HTML report"
[code]

You'll find these snippets in the HTML report

**Result**
[code]

**Expected Result**
[code]

and you can't see the difference.

[2018-11-24 09:27] AirQuick opened #468 "XSLT and XQuery different attribute(date) in XML report"
On XSLT testing, `/x:report/@date` in XML report is timestamp of run time.
On XQuery testing, it's of compile time.

[2018-11-26 08:47] #147 closed

[2018-11-26 08:53] cirulls commented on #147
@yamahito: pull request #279 is now merged into `master`. Code coverage support is available via Ant and can be run via oXygen. See the pull request for details about the oXygen configuration (at least until the next version of XSpec is integrated into the next version of oXygen).

[2018-11-27 07:59] AirQuick commented on #392
Added a section in the Wiki [page](https://github.com/xspec/xspec/wiki/Running-with-Oxygen#running-the-latest-version-of-xspec-with-oxygen).

[2018-11-27 11:15] cirulls commented on #392
Thanks, this is really useful and didn't know you could set it up like this in oXygen (I used to replace the code in `frameworks/xspec` for each new pull request I needed to test). I could set this up successfully using your documentation and will use this method for testing XSpec in oXygen from now.

[2018-11-27 12:52] cirulls commented on #397
@yamahito: In case you have some examples, feel free to post them here, they may be very useful for implementing this feature.

[2018-11-29 11:43] yamahito commented on #397
Hi Sandro,

My examples are all owned by clients and will need some anonymising: how about the official examples as a starting point?

http://www.schematron-quickfix.com/examples.html

[2018-11-30 14:22] cirulls commented on #397
Thanks @yamahito, the examples are good start. If anyone would like to work on this feature request, feel free to contribute and raise a pull request.

[2018-11-30 15:47] #185 closed

[2018-12-04 14:15] galtm commented on #60
I would like to add some support for XSpec variables in XSLT tests, and before creating a new issue I looked to see if there was already one. I found this issue, which has some overlap with what I was planning. Here is what I had in mind for my work:

1. Add x:variable to the RelaxNG schema. (That's included in this issue, but this issue also suggests other RNG changes.)

2. Enhance src/compiler/.

[2018-12-04 17:32] cirulls commented on #60
@galtm: thanks for being willing to work on this. If you can, please use this existing issue for tracking and discussing your work, I'm going to re-assign the issue to you (you should have received an invite via GitHub, accept it so I can re-assign the issue). When you think you are ready with the code, please submit a [new pull request](https://github.com/xspec/xspec/pulls) with your changes. Mak

[2018-12-06 03:45] AirQuick commented on #60
No, they don't change `x:variable`.

[2018-12-06 04:46] AirQuick commented on #60
#### Some random thoughts

* `x:variable` seems useful. Completing its functionality will be appreciated.
* We can discuss what to do with the details of `x:variable` in a new pull request.
* I hope the pull request doesn't collide with [my latest pull request branch](https://github.com/AirQuick/xspec/tree/test-deps-2018-12-04) so much. My branch is way too ahead of the current master. If the pull

[2018-12-06 13:39] galtm commented on #60
@cirulls and @AirQuick, thanks for your comments, which were valuable. I'll use this issue for my work.

Regarding colliding with your 130+ pull requests, should I wait until those have been integrated into the master branch, and then do my work off the new master branch? While I'm waiting, I can get up to speed on the implementation of XSpec for XQuery.

About the wiki being wrong, I believe you

[2018-12-06 16:57] cirulls commented on #60
@galtm: I'm trying to review at least one pull request a day so if you wait it may take a while before you even start working on it. I would suggest to create a branch from the current `master` branch of XSpec, do your work in your branch, and regularly update your branch with what is merged daily on `master` (this process is called a [git merge or git rebase](https://www.atlassian.com/git/tutoria

[2018-12-06 19:08] galtm commented on #60
@cirulls: OK, that sounds fine.

[2018-12-08 08:39] AirQuick commented on #60
And "As with xsl:variable" may be revised as "As with x:param". I updated Wiki.

[2018-12-08 08:53] AirQuick commented on #60
I think `test/generate-xspec-tests.xspec` is only for very low-level verification. That is, `test/generate-xspec-tests.xspec` verifies the XSLT snippet generated by the XSpec compiler (`generate-xspec-tests.xspec`). In most cases, I don't think you need to test such low-level details.

[2018-12-08 09:17] AirQuick commented on #60
It's pretty much ok for you to start developing on top of the current master and submit the pull request right now.

If and only if the change conflicts with [my latest pull request branch](https://github.com/AirQuick/xspec/tree/test-deps-2018-12-04) substantially, I would like to ask merging `x:variable` after my branch, not only because of the collision but also because my branch has more tests

[2018-12-08 09:43] AirQuick commented on #60
If you don't mind XQuery personally much (I actually don't... 🙄 ), I think you can forget about it at the moment and just implement XSLT now. (XSpec for XQuery is far from maturity anyway; even `x:expect[@test][@select]` [doesn't work](https://github.com/xspec/xspec/issues/440).)
But, even in that case, it is very much appreciated if you could *try* implementing XQuery immediately after implementi

[2018-12-14 09:14] AirQuick commented on #396
Just FYI. Using [schxslt](https://github.com/dmj/schxslt), `x:expect-report/@location` seems to work with text nodes. You don't need to set `x:param`.

[2018-12-14 14:47] vincentml commented on #396
I had not seen [schxslt](https://github.com/dmj/schxslt) before. Very interesting! I will have to try using this Schematron implementation.

[2018-12-14 17:14] galtm commented on #446
The examples above use x:scenario inside x:pending. I came across something similar with x:expect inside x:pending, where the generated XQuery code had static syntax errors.

It looked as if the part of generate-common-tests.xsl that computes the value of $last to pass to the x:output-call template is not accounting for how x:pending alters the hierarchy. I haven't investigated enough to say that

[2018-12-15 09:18] AirQuick commented on #446
I wasn't aware of that at all. In fact I haven't investigated this issue at all. Thanks for shedding some light on this. The sibling-walking navigation in XSpec compiler puzzles me so often...

[2018-12-21 18:24] AirQuick opened #477 "Document attribute(shared) and x:like"
There is no documentation for `x:like` and `@shared`. (Basic tests were submitted as #476)

The only explanation I'm aware of is ["Testing XSLT with XSpec"](https://github.com/xspec/xspec/wiki/Presentations-and-demos-on-XSpec#presentations-and-demos) by Jeni at XML Prague 2009. (Video around [13:50](https://www.youtube.com/watch?v=iPOntyq6JiE&t=830))

[2018-12-23 09:15] #206 closed

[2018-12-25 05:37] #196 closed

[2018-12-30 05:15] AirQuick opened #480 "XQuery x:expect with sole non boolean test is terminated with XPTY0004"
This scenario

[code]

which is Success on XSLT

[code]

is terminated on XQuery

[code]

[2018-12-31 15:45] #80 closed

[2018-12-31 15:47] cirulls commented on #80
Documentation to run the latest version of XSpec with oXygen is available [here](https://github.com/xspec/xspec/wiki/Running-with-Oxygen#running-the-latest-version-of-xspec-with-oxygen).

[2019-01-18 09:23] cmarchand opened #500 "[XSLT 3.0 Support] Managing errors"
This issue is a specialisation of #127 concerning errors.

XSLT 3.0 added support for [try / catch](https://www.w3.org/TR/xslt-30/#try-catch). So we can define functions with a strict signature, that throw error when something goes wrong.

Here is an example of such a function :
[code]
Such a function can not be tested, as XSpec is not able to use try / catch.

I'd expect to be able to test this f

[2019-01-18 09:40] AirQuick commented on #500
At the moment, for my own use of this kind of test, I write a wrapper XSLT which includes the test target XSLT.
In the wrapper XSLT, I write a wrapper function which calls the test target function in `xsl:try` and catches the error information and returns them.
In XSpec, I write `<x:call function="the:wrapper-func">` with something like `<x:expect label="HC006" select="xs:QName('expath-err:HC006')

[2019-01-18 13:57] cmarchand commented on #500
I do exactly the same. But it's awful because it requires to have XSL code in xspec directory.
I'll be very careful to backward compatibility. Maybe, we could forbid the use of `error:*` attributes if there is no `/x:description/@xslt-version="3.0"`

[2019-01-18 19:24] cirulls commented on #414
Fixed in #415

[2019-01-18 19:24] #414 closed

[2019-01-19 05:34] AirQuick commented on #59
At the end of this month, this issue will finally be fixed for XSLT by merging #317.
XQuery is fixed by #498 which is not very soon to be merged.
Anyone still interested in this issue can test the fixes by cloning #498. (`git clone -b xquery-report-sequence https://github.com/AirQuick/xspec`)

[2019-01-19 11:44] AirQuick opened #501 ".gitattributes for .bat and .cmd"
Follow up #283 for `.bat` and `.cmd`.

[2019-01-21 12:58] cmarchand commented on #183
Superseded by #414 .
As #414 is solved, this one can be closed.

[2019-01-21 12:58] #183 closed

[2019-01-23 16:02] AirQuick opened #505 "Update "Compilation" doc"
At some point in the future when the outstanding pull requests are resolved, [Compilation](https://github.com/xspec/xspec/blob/master/tutorial/under-the-hood/Compilation.md) doc should be updated with the latest code examples.

[2019-01-24 10:52] #59 closed

[2019-01-25 13:52] AirQuick opened #506 "Release v1.2.0"
@cirulls
I think we're getting close to releasing v1.2.0 because
* The outstanding pull requests #321 or later will not interest the end users so much until we reach #345.
* #475 by @galtm will surely benefit many users, but we need some time to finish it.

Can you review [the project board](https://github.com/xspec/xspec/projects/3)?

[2019-01-25 17:44] cirulls commented on #506
That's great news! I'll have a look over the weekend and I could do the release on Sunday if we feel everything is ready. I'll review the project board and keep you posted.

[2019-01-26 05:51] #153 closed

[2019-01-28 16:48] AirQuick commented on #418
Closing now. To wrap it up, this issue has resulted in [this change](https://github.com/xspec/xspec/wiki/Running-with-Maven/_compare/bd58baa1995cce21d2865128c5e0100b11d1d73b...5cc3b48045ee3c291587ee8f38fafa2328954ac5).
Feel free to suggest further changes.

[2019-01-28 16:48] #418 closed

[2019-01-31 09:08] AirQuick commented on #195
Somehow Issue #192 PR #194 is missing

[2019-02-01 10:06] AirQuick commented on #195
Done. Updated the [table](https://github.com/xspec/xspec/issues/195#issuecomment-418801069) to reflect it.

[2019-02-01 10:06] #195 closed

[2019-02-02 17:14] AirQuick commented on #506
As for the release note, we may want to mention or highlight
* **New features**: To try out the new Ant build support (for XQuery, code coverage and JUnit) on oXygen, [Wiki](https://github.com/xspec/xspec/wiki/Running-with-Oxygen#running-the-latest-version-of-xspec-with-oxygen) would help.
* **Bug fixes**: #59 has been fixed
* **Tests**: Now we have [more than 100 tests](https://ci.appveyor.com/pr

[2019-02-04 02:05] AirQuick commented on #506
@cirulls
Added these missing items to the relnote draft:
* New features: #283
* Bug fixes: #319
* Tests: #320
* Documentation: #508

[2019-02-06 10:35] Nico-Amplexor commented on #500
In xsl:variable "xslt-version" why get version in xspec xslt-version attribute and not directly in xslt stylesheet like this?

[code]